<button id="aw_spg" class="tank_select" data-toggle="tooltip" title="<%=l('Artillery')%>">
	<img src="http://karellodewijk.github.io/icons/aw_spg.png" alt="spg icon"><span>0</span>
</button>
<button id="aw_mbt" class="tank_select" data-toggle="tooltip" title="<%=l('Main battle tank')%>">
	<img src="http://karellodewijk.github.io/icons/aw_mbt.png" alt="mbt icon"><span>0</span>
</button>
<button id="aw_lt" class="tank_select" data-toggle="tooltip" title="<%=l('Light tank')%>">
	<img src="http://karellodewijk.github.io/icons/aw_lt.png" alt="light icon"><span>0</span>
</button>
<br>
<button id="aw_afv" class="tank_select" data-toggle="tooltip" title="<%=l('Armored fighting vehicle')%>">
	<img src="http://karellodewijk.github.io/icons/aw_afv.png" alt="afv icon"><span>0</span>
</button>
<button id="aw_td" class="tank_select" data-toggle="tooltip" title="<%=l('Tank destroyer')%>">
	<img src="http://karellodewijk.github.io/icons/aw_td.png" alt="td icon"><span>0</span>
</button>

<p>
<div class="row">
	<button class="icon_group" id="extra_icons"><%=l('Extra icons')%><span class="caret"></span></button>
	<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" hidden>
		battle.png
		danger.png
		defend.png
		explosion1.png
		explosion2.png
		focus.png
		spot.png
		warning.png
		finish.png
		map_marker.png
	</div>
	<div id="extra_icons_menu" style="max-height:200px; width:250px; overflow-y: auto" ></div>				
</div>