<option value="http://karellodewijk.github.io/maps/aw/mini_coldstrike.jpg"><%=l('Coldstrike')%></option>
<option value="http://karellodewijk.github.io/maps/aw/coastal_threat.jpg"><%=l('Coastal threat')%></option>
<option value="http://karellodewijk.github.io/maps/aw/reactor.jpg"><%=l('Reactor')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_ghostfield.jpg"><%=l('Ghostfield')%></option>
<option value="http://karellodewijk.github.io/maps/aw/lost_island.jpg"><%=l('Lost Island')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_portstorm.jpg"><%=l('Portstorm')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_riverpoint.jpg"><%=l('Riverpoint')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_roughneck.jpg"><%=l('Roughneck')%></option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_narrows.jpg"><%=l('Narrows')%></option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_pipelines.jpg"><%=l('Pipelines')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_albatros.jpg"><%=l('Operation Albatros')%></option>
<option value="http://karellodewijk.github.io/maps/aw/anvil_minimap.jpg"><%=l('Operation Anvil')%></option>
<option value="http://karellodewijk.github.io/maps/aw/highwall.jpg"><%=l('Highwall')%></option>
<option value="http://karellodewijk.github.io/maps/aw/highwall_confrontation.jpg"><%=l('Highwall confrontation')%></option>	
<option value="http://karellodewijk.github.io/maps/aw/banshee_minimap.jpg"><%=l('Operation Banshee')%></option>	
<option value="http://karellodewijk.github.io/maps/aw/operation_cavalry.jpg"><%=l('Operation Cavalry')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_cerberus.jpg"><%=l('Operation Cerberus')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_coastal_threath.jpg"><%=l('Operation Coastal Threath')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_direwolf.jpg"><%=l('Operation Direwolf')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_ghotshunt.jpg"><%=l('Operation Ghosthunt')%></option>
<option value="http://karellodewijk.github.io/maps/aw/harbinger_minimap.jpg"><%=l('Operation Harbringer')%></option>
<option value="http://karellodewijk.github.io/maps/aw/hydra_minimap.jpg"><%=l('Operation Hydra')%></option>	
<option value="http://karellodewijk.github.io/maps/aw/kodiak_minimap.jpg"><%=l('Operation Kodiak')%></option>
<option value="http://karellodewijk.github.io/maps/aw/lifejacket_minimap.jpg"><%=l('Operation Lifejacket')%></option>
<option value="http://karellodewijk.github.io/maps/aw/onyx_minimap.jpg"><%=l('Operation Onyx')%></option>
<option value="http://karellodewijk.github.io/maps/aw/persus_minimap.jpg"><%=l('Operation Persus')%></option>				
<option value="http://karellodewijk.github.io/maps/aw/operation_phalanx.jpg"><%=l('Operation Phalanx')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_quarterback.jpg"><%=l('Operation Quarterback')%></option>
<option value="http://karellodewijk.github.io/maps/aw/redopossum_minimap.jpg"><%=l('Operation Redopossum')%></option>	
<option value="http://karellodewijk.github.io/maps/aw/operation_ricochet.jpg"><%=l('Operation Ricochet')%></option>
<option value="http://karellodewijk.github.io/maps/aw/rollingthunder_minimap.jpg"><%=l('Operation Rolling Thunder')%></option>	
<option value="http://karellodewijk.github.io/maps/aw/operation_royalty.jpg"><%=l('Operation Royalty')%></option>
<option value="http://karellodewijk.github.io/maps/aw/sapphire_minimap.jpg"><%=l('Operation Sapphire')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_scorpio.jpg"><%=l('Operation Scorpio')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_snakebite.jpg"><%=l('Operation Snakebite')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_spearhead.jpg"><%=l('Operation Spearhead')%></option>
<option value="http://karellodewijk.github.io/maps/aw/starrynight_minimap.jpg"><%=l('Operation Starry Night')%></option>
<option value="http://karellodewijk.github.io/maps/aw/stormyweather_minimap.jpg"><%=l('Operation Stormy Weather')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_tsunami.jpg"><%=l('Operation Tsunami')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_umbrella.jpg"><%=l('Operation Umbrella')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_wildfire.jpg"><%=l('Operation Wildfire')%></option>	
				