<option value="http://karellodewijk.github.io/maps/aw/mini_coldstrike.jpg"><%=l('Coldstrike')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_ghostfield.jpg"><%=l('Ghostfield')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_portstorm.jpg"><%=l('Portstorm')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_riverpoint.jpg"><%=l('Riverpoint')%></option>
<option value="http://karellodewijk.github.io/maps/aw/mini_roughneck.jpg"><%=l('Roughneck')%></option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_narrows.jpg"><%=l('Narrows')%></option>
<option value="http://karellodewijk.github.io/maps/aw/minimap_pipelines.jpg"><%=l('Pipelines')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_cavalry.jpg"><%=l('Operation Cavalry')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_coastal_threath.jpg"><%=l('Operation Coastal Threath')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_direwolf.jpg"><%=l('Operation Direwolf')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_ghotshunt.jpg"><%=l('Operation Ghosthunt')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_phalanx.jpg"><%=l('Operation Phalanx')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_quarterback.jpg"><%=l('Operation Quarterback')%></option>
<option value="maps/aw/operation_ricochet.jpg"><%=l('Operation Ricochet')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_scorpio.jpg"><%=l('Operation Scorpio')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_snakebite.jpg"><%=l('Operation Snakebite')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_spearhead.jpg"><%=l('Operation Spearhead')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_tsunami.jpg"><%=l('Operation Tsunami')%></option>
<option value="http://karellodewijk.github.io/maps/aw/operation_umbrella.jpg"><%=l('Operation Umbrella<')%>/option>
<option value="http://karellodewijk.github.io/maps/aw/operation_wildfire.jpg"><%=l('Operation Wildfire')%></option>					
</select>