<option value=""> </option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/01 - Black Goldville.jpg"><%=l('Black Goldville')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/02 - Castilla.jpg"><%=l('Castilla')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/canyon.jpg"><%=l('Canyon')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/03 - Copperfield.jpg"><%=l('Copperfield')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/04 - Dead Rail.jpg"><%=l('Dead Rail')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/05 - Desert Sands.jpg"><%=l('Desert sands')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/06 - Falls Creek.jpg"><%=l('Falls Creek')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/07 - Fort Despair.jpg"><%=l('Fort Despair')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/himmelsdorf.jpg"><%=l('Himmelsdorf')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/08 - Lost Temple.jpg"><%=l('Lost Temple')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/09 - Middleburg.jpg"><%=l('Middleburg')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/10 - Mines.jpg"><%=l('Mines')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/mirage.jpg"><%=l('Mirage')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/11 - Port Bay.jpg"><%=l('Port Bay')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/12 - Oasis Palms.jpg"><%=l('Oasis Palms')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/13 - Rockfield.jpg"><%=l('Rockfield')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/14 - Winter Malinovka.jpg"><%=l('Winter Malinovka')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/15 - Canal.jpg"><%=l('Canal')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/vineyards.jpg"><%=l('Vineyards')%></option>
<option data-size="600x600" value="<%=static_host%>/maps/blitz/yamato_harbor.jpg"><%=l('Yamato Harbor')%></option>


