<button id="heavy" class="tank_select" data-toggle="tooltip" title="heavy">
	<img src="<%=static_host%>/icons/heavy.png" alt="heavy icon"><span>0</span>
</button>
<button id="light" class="tank_select" data-toggle="tooltip" title="light">
	<img src="<%=static_host%>/icons/light.png" alt="light icon"><span>0</span>
</button>
<br>
<button id="medium" class="tank_select" data-toggle="tooltip" title="medium">
	<img src="<%=static_host%>/icons/medium.png" alt="medium icon"><span>0</span>
</button>
<button id="td" class="tank_select" data-toggle="tooltip" title="td">
	<img src="<%=static_host%>/icons/td.png" alt="td icon"><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>