<option value=""> </option>
<option data-size="600x600" value="/maps/blitz/desert_sand_encounter.jpg"><%=l("Desert Sands")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/desert_sand_supremacy.jpg"><%=l("Desert Sands")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/middleburg_encounter.jpg"><%=l("Middleburg")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/middleburg_supremacy.jpg"><%=l("Middleburg")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/dead_rail_encouncter.jpg"><%=l("Dead Rail")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/dead_rail_supremacy.jpg"><%=l("Dead Rail")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/falls_creek_encounter.jpg"><%=l("Falls Creek")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/falls_creek_supremacy.jpg"><%=l("Falls Creek")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/mines_encounter.jpg"><%=l("Mines")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/fort_despair_encounter.jpg"><%=l("Fort Despair")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/fort_despair_supremacy.jpg"><%=l("Fort Despair")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/oasis_palms_encounter.jpg"><%=l("Oasis Palms")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/oasis_palms_supremacy.jpg"><%=l("Oasis Palms")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/lost_temple_encounter.jpg"><%=l("Lost Temple")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/lost_temple_supremacy.jpg"><%=l("Lost Temple")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/winter_malinovka_encounter.jpg"><%=l("Winter Malinovka")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/winter_malinovka_supremacy.jpg"><%=l("Winter Malinovka")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/castilla_ecounter.jpg"><%=l("Castilla")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/castilla_supremacy.jpg"><%=l("Castilla")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/port_bay_encounter.jpg "><%=l("Port Bay")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/port_bay_supremacy.jpg"><%=l("Port Bay")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/rockfield_encounter.jpg"><%=l("Rockfield")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/rockfield_supremacy.jpg"><%=l("Rockfield")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/canal_encounter.jpg"><%=l("Canal")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/canal_supremacy.jpg"><%=l("Canal")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/himmelsdorf_encounter.jpg"><%=l("Himmelsdorf")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/himmelsdorf_supremacy.jpg"><%=l("Himmelsdorf")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/mirage_encounter.jpg"><%=l("Mirage")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/black_goldville_encounter.jpg"><%=l("Black Goldville")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/black_goldville_supremacy.jpg"><%=l("Black Goldville")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/vineyards_encounter.jpg"><%=l("Vineyards")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/vineyards_supremacy.jpg"><%=l("Vineyards")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/copperfield_encounter.jpg"><%=l("Copperfield")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/copperfield_supremacy.jpg"><%=l("Copperfield")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/yamato_encounter.jpg"><%=l("Yamato Harbour")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/yamato_supremacy.jpg"><%=l("Yamato Harbour")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/canyon_encounter.jpg"><%=l("Canyon")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/canyon_supremacy.jpg"><%=l("Canyon")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/mayan_ruins_encounter.jpg"><%=l("Mayan Ruins")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/mayan_ruins_supremacy.jpg"><%=l("Mayan Ruins")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/naval_frontier_encounter.jpg"><%=l("Naval Frontier")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/naval_frontier_supremacy.jpg"><%=l("Naval Frontier")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/dynastys_pearl_encounter.jpg"><%=l("Dynasty's Pearl")%> (<%=l("Encounter")%>)</option>
<option data-size="600x600" value="/maps/blitz/dynastys_pearl_supremacy.jpg"><%=l("Dynasty's Pearl")%> (<%=l("Supremacy")%>)</option>
<option data-size="600x600" value="/maps/blitz/alpenshtadt.jpg"><%=l("Alpenshtadt")%></option>
