<%function calculate_weight(player, clan) { %>
<%	var weight = 0; %>
<%	weight += player.CW[0][0] * clan.multipliers.CW[0] * clan.multipliers.CWW; %>
<%	weight += player.CW[0][1] * clan.multipliers.CW[1] * clan.multipliers.CWW; %>
<%	weight += player.CW[0][2] * clan.multipliers.CW[2] * clan.multipliers.CWW; %>
<%	weight += player.SH[0][0] * clan.multipliers.SH[0] * clan.multipliers.SHW; %>
<%	weight += player.SH[0][1] * clan.multipliers.SH[1] * clan.multipliers.SHW; %>
<%	weight += player.SH[0][2] * clan.multipliers.SH[2] * clan.multipliers.SHW; %>
<%	weight += player.SK[0][0] * clan.multipliers.SK[0] * clan.multipliers.SKW; %>
<%	weight += player.SK[0][1] * clan.multipliers.SK[1] * clan.multipliers.SKW; %>
<%	weight += player.SK[0][2] * clan.multipliers.SK[2] * clan.multipliers.SKW; %>
<%	weight += player.CW[1][0] * clan.multipliers.CW[0] * clan.multipliers.CWL; %>
<%	weight += player.CW[1][1] * clan.multipliers.CW[1] * clan.multipliers.CWL; %>
<%	weight += player.CW[1][2] * clan.multipliers.CW[2] * clan.multipliers.CWL; %>
<%	weight += player.SH[1][0] * clan.multipliers.SH[0] * clan.multipliers.SHL; %>
<%	weight += player.SH[1][1] * clan.multipliers.SH[1] * clan.multipliers.SHL; %>
<%	weight += player.SH[1][2] * clan.multipliers.SH[2] * clan.multipliers.SHL; %>
<%	weight += player.SK[1][0] * clan.multipliers.SK[0] * clan.multipliers.SKL; %>
<%	weight += player.SK[1][1] * clan.multipliers.SK[1] * clan.multipliers.SKL; %>
<%	weight += player.SK[1][2] * clan.multipliers.SK[2] * clan.multipliers.SKL; %>
<%	weight += player.FCCW[0][0] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[0] * clan.multipliers.CWW; %>
<%	weight += player.FCCW[0][1] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[1] * clan.multipliers.CWW; %>
<%	weight += player.FCCW[0][2] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[2] * clan.multipliers.CWW; %>
<%	weight += player.FCSH[0][0] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[0] * clan.multipliers.SHW; %>
<%	weight += player.FCSH[0][1] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[1] * clan.multipliers.SHW; %>
<%	weight += player.FCSH[0][2] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[2] * clan.multipliers.SHW; %>
<%	weight += player.FCSK[0][0] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[0] * clan.multipliers.SKW; %>
<%	weight += player.FCSK[0][1] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[1] * clan.multipliers.SKW; %>
<%	weight += player.FCSK[0][2] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[2] * clan.multipliers.SKW; %>
<%	weight += player.FCCW[1][0] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[0] * clan.multipliers.CWL; %>
<%	weight += player.FCCW[1][1] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[1] * clan.multipliers.CWL; %>
<%	weight += player.FCCW[1][2] * (clan.multipliers.CWFC-1) * clan.multipliers.CW[2] * clan.multipliers.CWL; %>
<%	weight += player.FCSH[1][0] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[0] * clan.multipliers.SHL; %>
<%	weight += player.FCSH[1][1] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[1] * clan.multipliers.SHL; %>
<%	weight += player.FCSH[1][2] * (clan.multipliers.SHFC-1) * clan.multipliers.SH[2] * clan.multipliers.SHL; %>
<%	weight += player.FCSK[1][0] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[0] * clan.multipliers.SKL; %>
<%	weight += player.FCSK[1][1] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[1] * clan.multipliers.SKL; %>
<%	weight += player.FCSK[1][2] * (clan.multipliers.SKFC-1) * clan.multipliers.SK[2] * clan.multipliers.SKL; %>
<%	weight += player.A[0] * clan.multipliers.A%>
<%  return weight; %>
<%}%>

<%function calculate_gold(clan) { %>
<%	var total_weight = 0; %>
<%	for (var i in clan.members) { %>
<%		total_weight += calculate_weight(clan.members[i], clan); %>
<%	} %>
<%	var gold_per_unit = (total_weight) ? clan.treasury / total_weight : 0; %>
<%	for (var i in clan.members) { %>
<%		clan.members[i].gold = calculate_weight(clan.members[i], clan) * gold_per_unit; %>
<%	}%>
<%}%>

<% calculate_gold(clan);%>

<script type="text/javascript" >
$(document).ready(function() 
    { 
        $("#list").tablesorter({sortList: [[0,0],[1,1],[2,1],[3,1],[4,1],[5,1],[6,1]]}); 
    } 
); 
</script>

<table class="table tablesorter table-bordered" id="list" style="background-color:white;">
	<thead> 
	<tr>
	  <th class="header" data-toggle="tooltip" title="Player name"><b>Name</b></th>
	  <td colspan="2" data-toggle="tooltip" title="Clanwar battles"><b>CW</b></td>
	  <td colspan="2" data-toggle="tooltip" title="Stronghold Attack and defence battles"><b>Stronghold</b></td>
	  <td colspan="2" data-toggle="tooltip" title="Skirmish battles"><b>Skirmishes</b></td>
	  <td data-toggle="tooltip" title="Attendances (recent/total)"><b>A</b></td>
	  <td data-toggle="tooltip" title="Gold"><b>Gold estimate</b></td>
	</tr>
	<tr>
	  <td type="text/javascript"><b></b></td>
	  <th class="header" data-toggle="tooltip" title="Clanwar battles since last payout (Wins/Losses/Reserve)"><b>Recent(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title="Total number of Clanwar battles (Wins/Losses/Reserve)"><b>Total(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title="Stronghold attack and defence battles since last payout (Wins/Losses/Reserve)"><b>Recent(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title="Total number of Stronghold attack and defence battles (Wins/Losses/Reserve)"><b>Total(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title="Skirmishes since last payout (Wins/Losses/Reserve)"><b>Recent(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title="Total number of Skirmishes (Wins/Losses/Reserve)"><b>Total(W/L/R)</b></th>
	  <th class="header" data-toggle="tooltip" title=""><b>recent/total</b></th>
	  <th class="header" data-toggle="tooltip"><b>Total:<%=clan.treasury%></b>
	</tr>
	  <tr style="background-color:#EEEEEE; outline:solid 1px;>
	    <%var members = clan.members; %>
	    <%var i = user.wg_account_id;%>
		<div style="background-color:red;">
		<td><%=members[i].account_name%></td>
		<td><%=members[i].CW[0][0] + members[i].CW[0][1] + members[i].CW[0][2]%>/<%=members[i].CW[1][0] + members[i].CW[1][1] + members[i].CW[1][2]%>/<%=members[i].CWR[0][0] + members[i].CWR[0][1] + members[i].CWR[0][2]+members[i].CWR[1][0] + members[i].CWR[1][1] + members[i].CWR[1][2]%></td>
		<td><%=members[i].TCW[0][0] + members[i].TCW[0][1] + members[i].TCW[0][2]%>/<%=members[i].TCW[1][0] + members[i].TCW[1][1] + members[i].TCW[1][2]%>/<%=members[i].TCWR[0][0] + members[i].TCWR[0][1] + members[i].TCWR[0][2]+members[i].TCWR[1][0] + members[i].TCWR[1][1] + members[i].TCWR[1][2]%></td>
		<td><%=members[i].SH[0][0] + members[i].SH[0][1] + members[i].SH[0][2]%>/<%=members[i].SH[1][0] + members[i].SH[1][1] + members[i].SH[1][2]%>/<%=members[i].SHR[0][0] + members[i].SHR[0][1] + members[i].SHR[0][2]+members[i].SHR[1][0] + members[i].SHR[1][1] + members[i].SHR[1][2]%></td>
		<td><%=members[i].TSH[0][0] + members[i].TSH[0][1] + members[i].TSH[0][2]%>/<%=members[i].TSH[1][0] + members[i].TSH[1][1] + members[i].TSH[1][2]%>/<%=members[i].TSHR[0][0] + members[i].TSHR[0][1] + members[i].TSHR[0][2]+members[i].TSHR[1][0] + members[i].TSHR[1][1] + members[i].TSHR[1][2]%></td>
		<td><%=members[i].SK[0][0] + members[i].SK[0][1] + members[i].SK[0][2]%>/<%=members[i].SK[1][0] + members[i].SK[1][1] + members[i].SK[1][2]%>/<%=members[i].SKR[0][0] + members[i].SKR[0][1] + members[i].SKR[0][2]+members[i].SKR[1][0] + members[i].SKR[1][1] + members[i].SKR[1][2]%></td>
		<td><%=members[i].TSK[0][0] + members[i].TSK[0][1] + members[i].TSK[0][2]%>/<%=members[i].TSK[1][0] + members[i].TSK[1][1] + members[i].TSK[1][2]%>/<%=members[i].TSKR[0][0] + members[i].TSKR[0][1] + members[i].TSKR[0][2]+members[i].TSKR[1][0] + members[i].TSKR[1][1] + members[i].TSKR[1][2]%></td>
		<td><%=members[i].A[0]%>/<%=members[i].TA[0]%></td>
		<td><%=Math.floor(members[i].gold)%></td>
		</div>
	  </tr>
	</thead> 
	<tbody> 
	<% for (var i in members) { %>
	  <tr>
		<td><%=members[i].account_name%></td>
		<td><%=members[i].CW[0][0] + members[i].CW[0][1] + members[i].CW[0][2]%>/<%=members[i].CW[1][0] + members[i].CW[1][1] + members[i].CW[1][2]%>/<%=members[i].CWR[0][0] + members[i].CWR[0][1] + members[i].CWR[0][2]+members[i].CWR[1][0] + members[i].CWR[1][1] + members[i].CWR[1][2]%></td>
		<td><%=members[i].TCW[0][0] + members[i].TCW[0][1] + members[i].TCW[0][2]%>/<%=members[i].TCW[1][0] + members[i].TCW[1][1] + members[i].TCW[1][2]%>/<%=members[i].TCWR[0][0] + members[i].TCWR[0][1] + members[i].TCWR[0][2]+members[i].TCWR[1][0] + members[i].TCWR[1][1] + members[i].TCWR[1][2]%></td>
		<td><%=members[i].SH[0][0] + members[i].SH[0][1] + members[i].SH[0][2]%>/<%=members[i].SH[1][0] + members[i].SH[1][1] + members[i].SH[1][2]%>/<%=members[i].SHR[0][0] + members[i].SHR[0][1] + members[i].SHR[0][2]+members[i].SHR[1][0] + members[i].SHR[1][1] + members[i].SHR[1][2]%></td>
		<td><%=members[i].TSH[0][0] + members[i].TSH[0][1] + members[i].TSH[0][2]%>/<%=members[i].TSH[1][0] + members[i].TSH[1][1] + members[i].TSH[1][2]%>/<%=members[i].TSHR[0][0] + members[i].TSHR[0][1] + members[i].TSHR[0][2]+members[i].TSHR[1][0] + members[i].TSHR[1][1] + members[i].TSHR[1][2]%></td>
		<td><%=members[i].SK[0][0] + members[i].SK[0][1] + members[i].SK[0][2]%>/<%=members[i].SK[1][0] + members[i].SK[1][1] + members[i].SK[1][2]%>/<%=members[i].SKR[0][0] + members[i].SKR[0][1] + members[i].SKR[0][2]+members[i].SKR[1][0] + members[i].SKR[1][1] + members[i].SKR[1][2]%></td>
		<td><%=members[i].TSK[0][0] + members[i].TSK[0][1] + members[i].TSK[0][2]%>/<%=members[i].TSK[1][0] + members[i].TSK[1][1] + members[i].TSK[1][2]%>/<%=members[i].TSKR[0][0] + members[i].TSKR[0][1] + members[i].TSKR[0][2]+members[i].TSKR[1][0] + members[i].TSKR[1][1] + members[i].TSKR[1][2]%></td>
		<td><%=members[i].A[0]%>/<%=members[i].TA[0]%></td>
		<td><%=Math.floor(members[i].gold)%></td>
	  </tr>
	<% } %>
	</tbody> 
</table>