<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.23.5/js/jquery.tablesorter.js"></script>
	<link rel="stylesheet" href="/stylesheets/tablesorter/style.css" />
	<title><%=l('Clanportal')%><%if (clan) {%> - <%=clan.name;%><%}%> - <%=l('payout')%></title>
	<meta name="description" content="A world of tanks clan portal.">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
		<% include clanportal_navbar.ejs %>
		<%if (clan) { %>
		
		<h2><%=l('Set multipliers')%> <button id="recalculate" class="btn">Recalculate</button> <button id="done" class="btn">Payout done</button></h2> </h2> 
		<div class="container" style="text-align:left; width:95%">
			
    		<div class="list-group-item row">
			  <div class="col-md-4"><b>Gold to distribute:</b> <input id="treasury" type='text' value=<%=clan.treasury%> /></div>
			</div>
    		<div class="list-group-item row">
			  <div class="col-md-2"><b>CW</b> <input id="CW" type='text' value=<%=clan.multipliers.CW%> /></div>
			  <div class="col-md-2">win: <input id="CWW" type='text' value=<%=clan.multipliers.CWW%> /></div>
			  <div class="col-md-2">loss: <input id="CWL" type='text' value=<%=clan.multipliers.CWL%> /></div>
			  <div class="col-md-3">reserve: <input id="CWR" type='text' value=<%=clan.multipliers.CWR%> /></div>
			  <div class="col-md-2">fc: <input id="CWFC" type='text' value=<%=clan.multipliers.CWFC%> /></div>
			</div>
    		<div class="list-group-item row">
			  <div class="col-md-2"><b>SH</b> <input id="SH" type='text' value=<%=clan.multipliers.SH%> /></div>
			  <div class="col-md-2">win: <input id="SHW" type='text' value=<%=clan.multipliers.SHW%> /></div>
			  <div class="col-md-2">loss: <input id="SHL" type='text' value=<%=clan.multipliers.SHL%> /></div>
			  <div class="col-md-3">reserve: <input id="SHR" type='text' value=<%=clan.multipliers.SHR%> /></div>
			  <div class="col-md-2">fc: <input id="SHFC" type='text' value=<%=clan.multipliers.SHFC%> /></div>
			</div>
    		<div class="list-group-item row">
			  <div class="col-md-2"><b>SK</b> <input id="SK" type='text' value=<%=clan.multipliers.SK%> /></div>
			  <div class="col-md-2">win: <input id="SKW" type='text' value=<%=clan.multipliers.SKW%> /></div>
			  <div class="col-md-2">loss: <input id="SKL" type='text' value=<%=clan.multipliers.SKL%> /></div>
			  <div class="col-md-3">reserve: <input id="SKR" type='text' value=<%=clan.multipliers.SKR%> /></div>
			  <div class="col-md-2">fc: <input id="SKFC" type='text' value=<%=clan.multipliers.SKFC%> /></div>			  
			</div>	
    		<div class="list-group-item row">
			  <div class="col-md-12"><b>Attendance</b> <input id="A" type='text' value=<%=clan.multipliers.A%> /></div>	  
			</div>				
		</div>
		
		<h2><%=l('Member list')%></h2>
		<hr>
			<div class="container" style="text-align:left; width:95%">
				<% include clanportal_member_table.ejs %>
			</div>
		</div>
		
		<% } else { %>
			You are not in a clan or you are not logged in. Pls login with your WG account.
		<% } %>
	</div>
	<% include footer.ejs %>
	</div>
</body>

<script type="text/javascript">
	$("#recalculate").click(function() {
		var multipliers = {};
		multipliers.CW = parseFloat($("#CW").val());
		multipliers.CWW = parseFloat($("#CWW").val());
		multipliers.CWL = parseFloat($("#CWL").val());
		multipliers.CWR = parseFloat($("#CWR").val());
		multipliers.CWFC = parseFloat($("#CWFC").val());
		multipliers.SH = parseFloat($("#SH").val());
		multipliers.SHW = parseFloat($("#SHW").val());
		multipliers.SHL = parseFloat($("#SHL").val());
		multipliers.SHR = parseFloat($("#SHR").val());
		multipliers.SHFC = parseFloat($("#SHFC").val());
		multipliers.SK = parseFloat($("#SK").val());
		multipliers.SKW = parseFloat($("#SKW").val());
		multipliers.SKL = parseFloat($("#SKL").val());
		multipliers.SKR = parseFloat($("#SKR").val());
		multipliers.SKFC = parseFloat($("#SKFC").val());
		multipliers.A = parseFloat($("#A").val());
		console.error(multipliers);
		var treasury = parseInt($("#treasury").val());

		$.post("/recalculate.html", {treasury: treasury, multipliers: multipliers}).done(function( data ) {
          window.location.reload();
        });
	});
	
	$("#done").click(function() {
	    var r = confirm("Are you sure you have made the payouts, this can not be undone !");
		if (r == true) {
			$.post("/reset.html").done(function( data ) {
			  window.location.reload();
			});	
		}
	});
</script>
