<button id="clans_icons/spring_trap_editor.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Spring trap')%>">
	<div class="clans_icons clans_icons-spring_trap_editor inline"></div><span>0</span>
</button>
<button id="clans_icons/healer_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Healer')%>">
	<div class="clans_icons clans_icons-healer_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/air_bomb_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Air bomb')%>">
	<div class="clans_icons clans_icons-air_bomb_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/archer_7.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Archer')%>">
	<div class="clans_icons clans_icons-archer_7 inline"></div><span>0</span>
</button>
<button id="clans_icons/baby_dragon_1.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Baby dragon')%>">
	<div class="clans_icons clans_icons-baby_dragon_1 inline"></div><span>0</span>
</button>

<br>

<button id="clans_icons/balloon_6.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Baloon')%>">
	<div class="clans_icons clans_icons-balloon_6 inline"></div><span>0</span>
</button>
<button id="clans_icons/barbarian_7.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Barbarian')%>">
	<div class="clans_icons clans_icons-barbarian_7 inline"></div><span>0</span>
</button>
<button id="clans_icons/bowler_3.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Bowler')%>">
	<div class="clans_icons clans_icons-bowler_3 inline"></div><span>0</span>
</button>
<button id="clans_icons/dragon_5.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Dragon')%>">
	<div class="clans_icons clans_icons-dragon_5 inline"></div><span>0</span>
</button>
<button id="clans_icons/giant_7.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Giant')%>">
	<div class="clans_icons clans_icons-giant_7 inline"></div><span>0</span>
</button>

<br>

<button id="clans_icons/giant_bomb_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Giant bomb')%>">
	<div class="clans_icons clans_icons-giant_bomb_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/goblin_6.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Goblin')%>">
	<div class="clans_icons clans_icons-goblin_6 inline"></div><span>0</span>
</button>
<button id="clans_icons/witch_2.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Witch')%>">
	<div class="clans_icons clans_icons-witch_2 inline"></div><span>0</span>
</button>
<button id="clans_icons/wall_breaker_6.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Wall breaker')%>">
	<div class="clans_icons clans_icons-wall_breaker_6 inline"></div><span>0</span>
</button>
<button id="clans_icons/hidden_tesla_8.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Hidden tesla')%>">
	<div class="clans_icons clans_icons-hidden_tesla_8 inline"></div><span>0</span>
</button>

<br>

<button id="clans_icons/hog_rider_5.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Hog rider')%>">
	<div class="clans_icons clans_icons-hog_rider_5 inline"></div><span>0</span>
</button>
<button id="clans_icons/lava_hound_3.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Lava hound')%>">
	<div class="clans_icons clans_icons-lava_hound_3 inline"></div><span>0</span>
</button>
<button id="clans_icons/miner_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Miner')%>">
	<div class="clans_icons clans_icons-miner_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/minion_6.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Minion')%>">
	<div class="clans_icons clans_icons-minion_6 inline"></div><span>0</span>
</button>
<button id="clans_icons/pekka_5.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Pekka')%>">
	<div class="clans_icons clans_icons-pekka_5 inline"></div><span>0</span>
</button>

<br />

<button id="clans_icons/seeking_air_mine_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Air mine')%>">
	<div class="clans_icons clans_icons-seeking_air_mine_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/valkyrie_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Valkyrie')%>">
	<div class="clans_icons clans_icons-valkyrie_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/Bomb5.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Bomb')%>">
	<div class="clans_icons clans_icons-Bomb5 inline"></div><span>0</span>
</button>
<button id="clans_icons/wizard_6.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Wizard')%>">
	<div class="clans_icons clans_icons-wizard_6 inline"></div><span>0</span>
</button>
<button id="clans_icons/golem_5.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Golem')%>">
	<div class="clans_icons clans_icons-golem_5 inline"></div><span>0</span>
</button>

<br />

<button id="clans_icons/skeleton_trap_4.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Skeleton trap')%>">
	<div class="clans_icons clans_icons-skeleton_trap_4 inline"></div><span>0</span>
</button>
<button id="clans_icons/Skeleton_Trap_3-Air.png" data-scale=2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Air skeleton trap')%>">
	<div class="clans_icons clans_icons-Skeleton_Trap_3-Air inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <%if (user.identity) { %><li><a class="icon_group" id="custom_icons" data-toggle="tab" href="#custom_tab"><%=l('Custom')%></a></li><% } %>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<%if (user.identity) { %>
		<div class="tab-pane" id="custom_tab">
			<div class="row">
				<div id="custom_icons_list"></div>
				<button class="btn btn-default" aria-label="Left Align" id="upload_icon" data-toggle="tooltip" title="<%=l('Upload icon')%>">
					<div class="icon icon-upload_sm"></div>
				</button>	
			</div>
		</div>
		<% } %>
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>