<option value="#ff0000"><%=l('Red')%></option>
<%if (game == 'aw') { %>
	<option value="#70c5ea"><%=l('Cyan')%></option>
<% } else if (game == 'squad') { %>
	<option value="#16a9dd"><%=l('Blue')%></option>
<% } %>
<option value="#00ff00"><%=l('Green')%></option>
<option value="#87CEFA"><%=l('Light blue')%></option>
<option value="#ffff00"><%=l('Yellow')%></option>
<option value="#ffffff"><%=l('White')%></option>