<option value=""> </option>
<option data-size="4096x4096" value="/maps/csgo/ar_baggage_radar.jpg"><%=l("Baggage")%></option>
<option data-size="3072x3072" value="/maps/csgo/ar_monastery_radar.jpg"><%=l("Monastary")%></option>
<option data-size="4096x4096" value="/maps/csgo/ar_shoots_radar.jpg"><%=l("Shoots")%></option>
<option data-size="12288x12288" value="/maps/csgo/coop_cementplant_radar.jpg"><%=l("Cement Plant")%></option>
<option data-size="5120x5120" value="/maps/csgo/cs_agency_radar.jpg"><%=l("Agnecy")%></option>
<option data-size="4710.4x4710.4" value="/maps/csgo/cs_assault_radar.jpg"><%=l("Assault")%></option>
<option data-size="3584x3584" value="/maps/csgo/cs_backalley_radar.jpg"><%=l("Back Alley")%></option>
<option data-size="5120x5120" value="/maps/csgo/cs_cruise_radar.jpg"><%=l("Cruise")%></option>
<option value="/maps/csgo/cs_downtown_radar.jpg"><%=l("Downtown")%></option>
<option data-size="10240x10240" value="/maps/csgo/cs_insertion_radar.jpg"><%=l("Insertion")%></option>
<option data-size="4710.4x4710.4" value="/maps/csgo/cs_italy_radar.jpg"><%=l("Italy")%></option>
<option data-size="4710.4x4710.4" value="/maps/csgo/cs_italy_radar_hc.jpg"><%=l("Italy")%> (<%=l("High contrast")%>)</option>
<option data-size="4710.4x4710.4" value="/maps/csgo/cs_italy_radar_hc_an.jpg"><%=l("Italy")%> (<%=l("Annotated")%>)</option>
<option data-size="5324.8x5324.8" value="/maps/csgo/cs_militia_radar.jpg"><%=l("Militia")%></option>
<option value="/maps/csgo/cs_motel_radar.jpg"><%=l("Motel")%></option>
<option data-size="4198.4x4198.4" value="/maps/csgo/cs_office_radar.jpg"><%=l("Office")%></option>
<option data-size="5324.8x5324.8" value="/maps/csgo/cs_rush_radar.jpg"><%=l("Rush")%></option>
<option data-size="6656x6656" value="/maps/csgo/cs_siege_radar.jpg"><%=l("Siege")%></option>
<option value="/maps/csgo/cs_thunder_radar.jpg"><%=l("Thunder")%></option>
<option data-size="6656x6656" value="/maps/csgo/cs_workout_radar.jpg"><%=l("Workout")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_ali_radar.jpg"><%=l("Ali")%></option>
<option data-size="6144x6144" value="/maps/csgo/de_aztec_radar.jpg"><%=l("Aztec")%></option>
<option data-size="4096x4096" value="/maps/csgo/de_bank_radar.jpg"><%=l("Bank")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_bazaar_radar.jpg"><%=l("Bazaar")%></option>
<option data-size="5939.2x5939.2" value="/maps/csgo/de_blackgold_radar.jpg"><%=l("Black Gold")%></option>
<option data-size="5632x5632" value="/maps/csgo/de_cache_radar.jpg"><%=l("Cache")%></option>
<option data-size="5632x5632" value="/maps/csgo/de_cache_radar_hc.jpg"><%=l("Cache")%> (<%=l("High contrast")%>)</option>
<option data-size="5632x5632" value="/maps/csgo/de_castle_radar.jpg"><%=l("Castle")%></option>
<option data-size="6144x6144" value="/maps/csgo/de_cbble_radar.jpg"><%=l("Cobblestone")%></option>
<option data-size="6144x6144" value="/maps/csgo/de_cbble_radar_hc.jpg"><%=l("Cobblestone")%> (<%=l("High contrast")%>)</option>
<option data-size="6144x6144" value="/maps/csgo/de_cbble_radar_hc_an.jpg"><%=l("Cobblestone")%> (<%=l("Annotated")%>)</option>
<option data-size="4096x4096" value="/maps/csgo/de_chinatown_radar.jpg"><%=l("Chinatown")%></option>
<option data-size="5632x5632" value="/maps/csgo/de_coast_radar.jpg"><%=l("Coast")%></option>
<option data-size="6144x6144" value="/maps/csgo/de_dust_radar.jpg"><%=l("Dust")%></option>
<option data-size="4505.6x4505.6" value="/maps/csgo/de_dust2_radar.jpg"><%=l("Dust 2")%></option>
<option data-size="4505.6x4505.6" value="/maps/csgo/de_dust2_radar_hc.jpg"><%=l("Dust 2")%> (<%=l("High contrast")%>)</option>
<option data-size="4505.6x4505.6" value="/maps/csgo/de_dust2_radar_hc_an.jpg"><%=l("Dust 2")%> (<%=l("Annotated")%>)</option>
<option data-size="4608x4608" value="/maps/csgo/de_empire_radar.jpg"><%=l("Empire")%></option>
<option data-size="6144x6144" value="/maps/csgo/de_facade_radar.jpg"><%=l("Faceade")%></option>
<option value="/maps/csgo/de_favela_radar.jpg"><%=l("Favella")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_gwalior_radar.jpg"><%=l("Gwalior")%></option>
<option data-size="5017.6x5017.6" value="/maps/csgo/de_inferno_radar.jpg"><%=l("Inferno")%></option>
<option data-size="5017.6x5017.6" value="/maps/csgo/de_inferno_radar_hc.jpg"><%=l("Inferno")%> (<%=l("High contrast")%>)</option>
<option data-size="5017.6x5017.6" value="/maps/csgo/de_inferno_radar_hc_an.jpg"><%=l("Inferno")%> (<%=l("Annotated")%>)</option>
<option data-size="5324.8x5324.8" value="/maps/csgo/de_lake_radar.jpg"><%=l("Lake")%></option>
<option data-size="6656x6656" value="/maps/csgo/de_log_radar.jpg"><%=l("Log")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_marquis_radar.jpg"><%=l("Marquis")%></option>
<option data-size="4198.4x4198.4" value="/maps/csgo/de_mikla_radar.jpg"><%=l("Mikla")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_mirage_radar.jpg"><%=l("Mirage")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_mirage_radar_hc.jpg"><%=l("Mirage")%> (<%=l("High contrast")%>)</option>
<option data-size="5120x5120" value="/maps/csgo/de_mirage_radar_hc_an.jpg"><%=l("Mirage")%> (<%=l("Annotated")%>)</option>
<option data-size="4915.2x4915.2" value="/maps/csgo/de_mist_radar.jpg"><%=l("Mist")%></option>
<option data-size="7168x7168" value="/maps/csgo/de_nuke_lower_radar.jpg"><%=l("Nuke Lower")%></option>
<option data-size="7168x7168" value="/maps/csgo/de_nuke_lower_radar_hc.jpg"><%=l("Nuke Lower")%> (<%=l("High contrast")%>)</option>
<option data-size="7168x7168" value="/maps/csgo/de_nuke_radar.jpg"><%=l("Nuke")%></option>
<option data-size="7168x7168" value="/maps/csgo/de_nuke_radar_hc.jpg"><%=l("Nuke")%> (<%=l("High contrast")%>)</option>
<option data-size="7168x7168" value="/maps/csgo/de_nuke_radar_hc_an.jpg"><%=l("Nuke")%> (<%=l("Annotated")%>)</option>
<option data-size="7168x7168" value="/maps/csgo/de_overgrown_radar.jpg"><%=l("Overgrown")%></option>
<option data-size="5324.8x5324.8" value="/maps/csgo/de_overpass_radar.jpg"><%=l("Overpass")%></option>
<option data-size="5324.8x5324.8" value="/maps/csgo/de_overpass_radar_hc.jpg"><%=l("Overpass")%> (<%=l("High contrast")%>)</option>
<option data-size="5324.8x5324.8" value="/maps/csgo/de_overpass_radar_hc_an.jpg"><%=l("Overpass")%> (<%=l("Annotated")%>)</option>
<option data-size="4608x4608" value="/maps/csgo/de_rails_radar.jpg"><%=l("Rails")%></option>
<option data-size="5632x5632" value="/maps/csgo/de_resort_radar.jpg"><%=l("Resort")%></option>
<option data-size="4096x4096" value="/maps/csgo/de_royal_radar.jpg"><%=l("Royal")%></option>
<option data-size="6400x6400" value="/maps/csgo/de_ruins_radar.jpg"><%=l("Ruins")%></option>
<option data-size="4628.48x4628.48" value="/maps/csgo/de_safehouse_radar.jpg"><%=l("Safehouse")%></option>
<option data-size="4096x4096" value="/maps/csgo/de_santorini_radar.jpg"><%=l("Santorini")%></option>
<option data-size="7168x7168" value="/maps/csgo/de_seaside_radar.jpg"><%=l("Seaside")%></option>
<option data-size="5120x5120" value="/maps/csgo/de_season_radar.jpg"><%=l("Season")%></option>
<option data-size="3686.4x3686.4" value="/maps/csgo/de_shortdust_radar.jpg"><%=l("Shortdust")%></option>
<option data-size="4812.8x4812.8" value="/maps/csgo/de_shorttrain_radar.jpg"><%=l("Shorttrain")%></option>
<option data-size="4096x4096" value="/maps/csgo/de_stmarc_radar.jpg"><%=l("Stmarc")%></option>
<option data-size="4352x4352" value="/maps/csgo/de_sugarcane_radar.jpg"><%=l("Sugarcane")%></option>
<option data-size="4812.8x4812.8" value="/maps/csgo/de_train_radar.jpg"><%=l("Train")%></option>
<option data-size="4812.8x4812.8" value="/maps/csgo/de_train_radar_hc.jpg"><%=l("Train")%> (<%=l("High contrast")%>)</option>
<option data-size="4812.8x4812.8" value="/maps/csgo/de_train_radar_hc_an.jpg"><%=l("Train")%> (<%=l("Annotated")%>)</option>
<option data-size="5632x5632" value="/maps/csgo/de_tulip_radar.jpg"><%=l("Tulip")%></option>
<option data-size="4096x4096" value="/maps/csgo/de_vertigo_radar.jpg"><%=l("Vertigo")%></option>
<option data-size="7168x7168" value="/maps/csgo/de_zoo_radar.jpg"><%=l("Zoo")%></option>
<option data-size="3584x3584" value="/maps/csgo/gd_crashsite_radar.jpg"><%=l("Crashsite")%></option>
<option data-size="5120x5120" value="/maps/csgo/training1_radar.jpg"><%=l("Training 1")%></option>
