<option value="">&nbsp;</option>
<option value="http://karellodewijk.github.io/maps/csgo/aztec.jpg"><%=l("Aztec")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/cache.jpg"><%=l("Cache")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/cobblestone.jpg"><%=l("Cobblestone")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/dust.jpg"><%=l("Dust")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/dust2.jpg"><%=l("Dust 2")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/inferno.jpg"><%=l("Inferno")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/mirage.jpg"><%=l("Mirage")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/nuke.jpg"><%=l("Nuke")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/overpass.jpg"><%=l("Overpass")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/season.jpg"><%=l("Season")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/train.jpg"><%=l("Train")%></option>
<option value="http://karellodewijk.github.io/maps/csgo/vertigo.jpg"><%=l("Vertigo")%></option>

