<option value=""> </option>
<option value="/maps/csgo/aztec.jpg"><%=l("Aztec")%></option>
<option value="/maps/csgo/cache.jpg"><%=l("Cache")%></option>
<option value="/maps/csgo/cobblestone.jpg"><%=l("Cobblestone")%></option>
<option value="/maps/csgo/dust.jpg"><%=l("Dust")%></option>
<option value="/maps/csgo/dust2.jpg"><%=l("Dust 2")%></option>
<option value="/maps/csgo/dust2_spectate.jpg"><%=l("Dust 2")%> (<%=l("Annotated")%>)</option>
<option value="/maps/csgo/inferno.jpg"><%=l("Inferno")%></option>
<option value="/maps/csgo/inferno_spectate.jpg"><%=l("Inferno")%> (<%=l("Annotated")%>)</option>
<option value="/maps/csgo/mirage.jpg"><%=l("Mirage")%></option>
<option value="/maps/csgo/mirage_spectate.jpg"><%=l("Mirage")%> (<%=l("Annotated")%>)</option>
<option value="/maps/csgo/nuke.jpg"><%=l("Nuke")%></option>
<option value="/maps/csgo/overpass.jpg"><%=l("Overpass")%></option>
<option value="/maps/csgo/overpass_spectate.jpg"><%=l("Overpass")%> (<%=l("Annotated")%>)</option>
<option value="/maps/csgo/season.jpg"><%=l("Season")%></option>
<option value="/maps/csgo/train.jpg"><%=l("Train")%></option>
<option value="/maps/csgo/train_spectate.jpg"><%=l("Train")%> (<%=l("Annotated")%>)</option>
<option value="/maps/csgo/vertigo.jpg"><%=l("Vertigo")%></option>

