<button id="csgo_icons/terrorists.png" data-scale=2 data-no_color="true" class="tank_select" data-toggle="tooltip" title="<%=l('Terrorist')%>">
	<div class="csgo_icons csgo_icons-terrorists inline"></div><span>0</span>
</button>
<button id="csgo_icons/ct.png" data-scale=2 data-no_color="true" class="tank_select" data-toggle="tooltip" title="<%=l('Counter Terrorist')%>">
	<div class="csgo_icons csgo_icons-ct inline"></div><span>0</span>
</button>
<button id="csgo_icons/csgo.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('CS:GO')%>">
	<div class="csgo_icons csgo_icons-csgo inline"></div><span>0</span>
</button>
<button id="csgo_icons/bomb.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Bomb')%>">
	<div class="csgo_icons csgo_icons-bomb inline"></div><span>0</span>
</button>
<button id="csgo_icons/explosive.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Explosive grenade')%>">
	<div class="csgo_icons csgo_icons-explosive inline"></div><span>0</span>
</button>
<br>
<button id="csgo_icons/flash.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Flash grenade')%>">
	<div class="csgo_icons csgo_icons-flash inline"></div><span>0</span>
</button>
<button id="csgo_icons/incendiary.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Incendiary grenade')%>">
	<div class="csgo_icons csgo_icons-incendiary inline"></div><span>0</span>
</button>
<button id="csgo_icons/molotov.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Molotov grenade')%>">
	<div class="csgo_icons csgo_icons-molotov inline"></div><span>0</span>
</button>
<button id="csgo_icons/smoke.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Smoke grenade')%>">
	<div class="csgo_icons csgo_icons-smoke inline"></div><span>0</span>
</button>
<button id="csgo_icons/decoy.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Decoy grenade')%>">
	<div class="csgo_icons csgo_icons-decoy inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>