<button id="EC/ELD_trinket_direavenger.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Dreavenger Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_direavenger inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_darkreaper.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Dark Reaper Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_darkreaper inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_firedragon.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Firedragon Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_firedragon inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_howlingbanshee.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Howling Banshee Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_howlingbanshee inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_khaine.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Khain Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_khaine inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_strikingscorpion.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Striking Scorpion Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_strikingscorpion inline"></div><span>0</span>
</button>
<button id="EC/ELD_trinket_warlock.png" data-scale=1.8 class="tank_select" data-no_color="true" data-toggle="tooltip" title="<%=l('Warlock Trinket')%>">
	<div class="EC_icons EC_icons-ELD_trinket_warlock inline"></div><span>0</span>
</button>

<hr />

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <%if (user.identity) { %><li><a class="icon_group" id="custom_icons" data-toggle="tab" href="#custom_tab"><%=l('Custom')%></a></li><% } %>
	  <li><a class="icon_group" id="orc_icons" data-toggle="tab" href="#ork_tab"><%=l('ORK')%></a></li>
	  <li><a class="icon_group" id="cm_icons" data-toggle="tab" href="#cm_tab"><%=l('CM')%></a></li>
	  <li><a class="icon_group" id="sm_icons" data-toggle="tab" href="#sm_tab"><%=l('SM')%></a></li>
	  <li><a class="icon_group" id="el_icons" data-toggle="tab" href="#el_tab"><%=l('EL')%></a></li>
	  <li><a class="icon_group" id="pve_icons" data-toggle="tab" href="#pve_tab"><%=l('PVE')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<%if (user.identity) { %>
		<div class="tab-pane" id="custom_tab">
			<div class="row">
				<div id="custom_icons_list"></div>
				<button class="btn btn-default" aria-label="Left Align" id="upload_icon" data-toggle="tooltip" title="<%=l('Upload icon')%>">
					<div class="icon icon-upload_sm"></div>
				</button>	
			</div>
		</div>
		<% } %>
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
		<div class="tab-pane" id="ork_tab">
			<div class="row">
				<button id="EC/ork_ordnance.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('ORK Ordnance')%>">
					<div class="EC_icons EC_icons-ork_ordnance inline"></div><span>0</span>
				</button>
				<button id="EC/ork_tank.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('ORK Tank')%>">
					<div class="EC_icons EC_icons-ork_tank inline"></div><span>0</span>
				</button>
				<button id="EC/ork_transport.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('ORK Transport')%>">
					<div class="EC_icons EC_icons-ork_transport inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="cm_tab">
			<div class="row">
				<button id="EC/cm_ordnance.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('CM Ordnance')%>">
					<div class="EC_icons EC_icons-cm_ordnance inline"></div><span>0</span>
				</button>
				<button id="EC/cm_tank.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('CM Tank')%>">
					<div class="EC_icons EC_icons-cm_tank inline"></div><span>0</span>
				</button>
				<button id="EC/cm_transport.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('CM Transport')%>">
					<div class="EC_icons EC_icons-cm_transport inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="sm_tab">
			<div class="row">
				<button id="EC/sm_ordnance.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('SM Ordnance')%>">
					<div class="EC_icons EC_icons-sm_ordnance inline"></div><span>0</span>
				</button>
				<button id="EC/sm_tank.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('SM Tank')%>">
					<div class="EC_icons EC_icons-sm_tank inline"></div><span>0</span>
				</button>
				<button id="EC/sm_transport.png" data-scale=1.8 class="tank_select"  data-toggle="tooltip" title="<%=l('SM Transport')%>">
					<div class="EC_icons EC_icons-sm_transport inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="el_tab">
			<div class="row">
				<button id="EC/el_ordnance.png" data-scale=2.5 class="tank_select"  data-toggle="tooltip" title="<%=l('EL Ordnance')%>">
					<div class="EC_icons EC_icons-el_ordnance inline"></div><span>0</span>
				</button>
				<button id="EC/el_tank.png" data-scale=2.5 class="tank_select"  data-toggle="tooltip" title="<%=l('EL Tank')%>">
					<div class="EC_icons EC_icons-el_tank inline"></div><span>0</span>
				</button>
				<button id="EC/el_transport.png" data-scale=2.5 class="tank_select"  data-toggle="tooltip" title="<%=l('EL Transport')%>">
					<div class="EC_icons EC_icons-el_transport inline"></div><span>0</span>
				</button>
			</div>
		</div>		
		<div class="tab-pane" id="pve_tab">
			<div class="row">
				<button id="EC/pve_hormagaunt.png" data-scale=2 class="tank_select"  data-toggle="tooltip" title="<%=l('PVE Hormagaunt')%>">
					<div class="EC_icons EC_icons-pve_hormagaunt inline"></div><span>0</span>
				</button>
				<button id="EC/pve_termagaunt.png" data-scale=2 class="tank_select"  data-toggle="tooltip" title="<%=l('PVE Termagaunt')%>">
					<div class="EC_icons EC_icons-pve_termagaunt inline"></div><span>0</span>
				</button>
				<button id="EC/pve_warrior.png" data-scale=2 class="tank_select"  data-toggle="tooltip" title="<%=l('PVE Warrior')%>">
					<div class="EC_icons EC_icons-pve_warrior inline"></div><span>0</span>
				</button>
			</div>
		</div>	
		
	</div>
</div>

<hr />
