<option value=""> </option>
<option value="/maps/EC/BlackBolt.jpg"><%=l('Black Bolt')%></option>
<option value="/maps/EC/FortressAgnathio.jpg"><%=l('Agnathio Fortress')%></option>
<option value="/maps/EC/FortressHarkus.jpg"><%=l('Harkus Fortress')%></option>
<option value="/maps/EC/FortressRonan.jpg"><%=l('Fortress Ronan')%></option>
<option value="/maps/EC/FullmapMaggon.jpg"><%=l('Maggon')%></option>
<option value="/maps/EC/FullmapPegasusStation01.jpg"><%=l('Pegasus Station')%></option>
<option value="/maps/EC/Garrison.jpg"><%=l('Garrison')%></option>
<option value="/maps/EC/Medusa.jpg"><%=l('Medusa')%></option>
<option value="/maps/EC/OlipsisRefinery.jpg"><%=l('Olipsis Refinery')%></option>
<option value="/maps/EC/PromethiumMines.jpg"><%=l('Promethium Mines')%></option>
<option value="/maps/EC/ToriasRefinery.jpg"><%=l('Torias Refinery')%></option>
<option value="/maps/EC/Zedek.jpg"><%=l('Zedek')%></option>
