<option value=""> </option>
<option value="/maps/foxhole/callahans.jpg"><%=l("Callahan's Passage")%></option>
<option value="/maps/foxhole/deadlands.jpg"><%=l("Deadlands")%></option>
<option value="/maps/foxhole/endlessshore.jpg"><%=l("Endless Shore")%></option>
<option value="/maps/foxhole/fishermansrow.jpg"><%=l("Fisherman's Shore")%></option>
<option value="/maps/foxhole/heartlands.jpg"><%=l("Upper Heartlands")%></option>
<option value="/maps/foxhole/umbralwoods.jpg"><%=l("Umbral Woods")%></option>
<option value="/maps/foxhole/Weathered_Expanse.jpg"><%=l("Weathered Expans")%></option>

