<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('Getting started')%></title>
	<meta name="description" content="<%=game.toUpperCase()%> <%=l('strategy planner.')%> - <%=l('Getting started')%>">
</head>
<body>
	<% include navbar.ejs %>
	<script>
		document.getElementById('getting_started').className += " active";
	</script>
	<div class="container" style='width:100%;'>
		<div class="jumbotron content content_margin">
			<p>
			Εκτός από αυτή τη σελίδα, έχω δημιουργήσει επίσης ένα βίντεο <a href="https://youtu.be/K-yl_WNjvwk">tutorial</a>. Και εδώ είναι άλλο ένα <a href="https://www.youtube.com/watch?v=sLWv7yXYQ-c">tutorial</a> από τον Stewiejp.
			
			<p>
			Η πρώτη οθόνη που θα δείς μόλις πατήσεις το κουμπί "δημιουργία νέου δωματίου" θα είναι κάπως έτσι:

			<p>
			<img src="<%=static_host%>/icons/tutorial1.jpg" alt="tutorial image 1">
			<p>

			Ένα από τα πρώτα πράγματα που πρέπει να κάνεις είναι:

			<ol>
				<li>Επέλεξε έναν χάρτη.</li>
				<li>Κάνε αντιγραφή τον σύνδεσμο πατώντας αυτό το κουμπί.</li>
			</ol>

			<p>
			Στην συνέχεια μπορείς να μοιραστείς τον σύνδεσμο με τους φίλους σου ή με μέλη της clan για να συνδεθούν στην τακτική σου.
			
			<p>
			<img src="<%=static_host%>/icons/tutorial2.jpg" alt="tutorial image 2">
			<p>
			
			Αφού επιλέξεις έναν χάρτη και τα άτομα έχουν συνδεθεί.
			
			<ol start=3>
				<li>Στη λίστα των ατόμων που έχουν συνδεθεί κάνε κλικ στο όνομα τους για να τους δώσεις δικαιώματα (κίτρινο σημαίνει μπορείς να επεξεργαστείς,πράσινο σημαίνει μπορείς να επεξεργαστείς και να δώσεις δικαιώματα σε άλλα άτομα).</li>
				<li>Εναλλακτικά μπορείς να δώσεις δικαιώματα επεξεργασίας σε όλους, ξεκλειδώνοντας το δωμάτιο.</li>
				<li>Τώρα μπορείς να δημιουργήσεις την τακτική σου με τα εργαλεία που βρίσκονται εδώ, διάβασε της επεξηγήσεις.</li>
				<li>Οι επιλογές των εργαλείων που έχεις επιλέξει θα εμφανιστούν εδώ.</li>
				<li>Μπορείς να συνομιλήσεις με τα άτομα του δωματίου εδώ.</li>
				<li>Μπορείς να συνδεθείς με τον λογαριασμό WG, είναι απολύτως προαιρετικό αλλά είναι απαραίτητο εάν θέλεις να αποθηκεύσεις την τακτική σου.</li>
			</ol>

			<p>
			<img src="<%=static_host%>/icons/tutorial3.jpg" alt="tutorial image 3">
			<p>
			
			Αφού συνδεθείς εμφανίζονται περισσότερες επιλογές.
			<ol start=9>
				<li>Αυτό τώρα είναι πράσινο υποδεικνύοντας ότι έχεις συνδεθεί με επιτυχία.</li>
				<li>Κάνοντας κλικ σε αυτό το κουμπί θα σου δώσει την δυνατότητα να ονομάσεις και να αποθηκεύσεις την τακτική σου. Μπορείς να την ξαναφορτώσεις από την επιλογή "Αποθηκευμένες τακτικές".</li>
				<li>Αφού ονομάσεις και αποθηκεύσεις την τακτική σου, μπορείς να την αποθηκεύσεις εύκολα με το ίδιο όνομα με αυτό το κουμπί.</li>
				<li>Εναλλακτικά μπορείς να κατεβάσεις την τακτική σου ως εικόνα πατώντας αυτό το κουμπί.</li>
			</ol>
		</div>
	</div>
	<% include footer.ejs %>
</body>
