<option value=""> </option>
<option value="<%=static_host%>/maps/hots/battlefield-of-eternity.jpg"><%=l("Battlefield of eternity")%></option>
<option value="<%=static_host%>/maps/hots/blackhearts-bay.jpg"><%=l("Blackheart's Bay")%></option>
<option value="<%=static_host%>/maps/hots/cursed-hollow.jpg"><%=l("Cursed Hollow")%></option>
<option value="<%=static_host%>/maps/hots/dragon-shire.jpg"><%=l("Dragon Shire")%></option>
<option value="<%=static_host%>/maps/hots/garden-of-terror.jpg"><%=l("Garden of Terror")%></option>
<option value="<%=static_host%>/maps/hots/haunted-mines.jpg"><%=l("Haunted mines")%></option>
<option value="<%=static_host%>/maps/hots/haunted-mines-underground.jpg"><%=l("Haunted mines (underground)")%></option>
<option value="<%=static_host%>/maps/hots/infernal_shrines.jpg"><%=l("Infernal Shrines")%></option>
<option value="<%=static_host%>/maps/hots/sky-temple.jpg"><%=l("Sky Temple")%></option>
<option value="<%=static_host%>/maps/hots/tomb-of-the-spider-queen.jpg"><%=l("Tomb of the Spider Queen")%></option>
<option value="<%=static_host%>/maps/hots/towers-of-doom.jpg"><%=l("Towers of Doom")%></option>
