<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script defer type="text/javascript" src="/javascripts/index.js"></script>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or just explore, share and discuss map tactics with your friends, team, platoon or clan.">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
	
		<% include navbar.ejs %>

		<div class="container" id="big_button_frame" style="text-align:center">
			<h1>
				<% if (game == 'wot') { %>
					World of Tanks Tactics
				<% } else if (game == 'wows') { %>
					World of Warships Tactics
				<% } else if (game == 'blitz') { %>
					World of Tanks Blitz Tactics
				<% } else if (game == 'aw') { %>
					Armored Warfare Tactics
				<% } %>	
			</h1>
			<p><span id="quote"></span></p>
			<p><a class="btn btn-primary btn-lg" href="<%=game%>planner.html" id="new_room" role="button"><%= l('Create new room') %> &raquo;</a></p>
		</div>
	
	</div>

	<div class="row">
	<div class="col-md-4">
		<h2>Availability problems fixed</h2>
		<p>UPDATE: I added 2 extra servers to handle the extra load from the campaign and it works well now. There should be no further issues. 
		<p>Again, I'm really sorry about the problems the first 2 days of the campaign. I thought I had enough headroom, I could handle a x3 increase in traffic. What I got was <a href="http://karellodewijk.github.io/extra_traffic.pdf">this</a>.
	</div>
	<div class="col-md-4">
		<h2>Your input matters</h2>
		<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
	</div>
	<div class="col-md-4">
		<h2>New video tutorial</h2>
		<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial video</a> explaining all the tools and features of <%=url.split('/')[0]%>. It should explain to you how to use the different tools, teach you about different shortcuts you may not know about and explain some of the more advanced features. Let me know what you think about it in youtube comments.
	</div>

	</div>
	
	<div class="row">
	<div class="col-md-4">
		<h2>New domains</h2>
		<p>I've registered <a href="http://wottactic.eu">http://wottactic.eu</a> and <a href="http://wottactic.com">http://wottactic.com</a>, you can start using those right now. I tried to register wottactic.asia as well but couldn't because I needed a contact in the asia region, if you can help me with that, contact me. 
		
		<p>I'm not redirecting people quite yet, but may in the future. The site will remain available through the tk domains though.
		
		<p>The idea is to create a server in the NA and Asia region. People living in EU should then preferably use the .eu domain, people in NA, the .com domain and people in Asia the .asia domain. All your stored tactics will be available in all regions. In practice it will make the pages load a little bit faster, but mostly it will make the ping and the track cursor tools a lot more in sync for people outside the eu, where I'm currently hosting from.
		
		<p>I pretty much did all the legwork already when I created multiple servers to handle the extra load.
		
		<p>Extra servers do cost extra money though. So I added this as goals to my <a href="https://www.patreon.com/kalith">patreon</a> page. If you want this to happen faster, consider donating.
	</div>
	<div class="col-md-4">
		<h2>Now available in Russian</h2>
		<p>Андрей is now working on a Russian translation, take a look. If you want this website available in your language, contact me. No technical skill required.</p>
	</div>
	<div class="col-md-4">
		<h2>Latest changes</h2>
		<p>
		Nothing major, but mostly small usabilty impovements: <ul>
			<li>Added the option to re-order your slides
			<li>Added steam logins option and logout button
			<li>Added a center to edge option to draw circles
			<li>Added ruler tool to measure distances
			<li>Added a list of recently visited briefings under stored tactics
			<li>Added share tactic button to share a stored tactic with other users
			<li>I changed the ping a bit and made it less likely to automatically pick up stuff.
		</ul> 
		On the bug hunting front:
		<ul>
			<li>The label of icons no longer counts as a hitbox, so it can drop of the edges.
			<li>A security option of some people using german provider AVS was incompatible with the website, should now be fixed
			<li>The backup option omitted icons in the images of slides other than the one currently active.
			<li>Selected items hilight didn't work sometimes in webgl mode.
			<li>Fb and google login were broken from the cs and fi language subdomains.
		</ul>
		If you find anything else, however small, that is broken, pls let me know. 
	</div>
	</div>
	
	<% include footer.ejs %>
</div>
</body>
