<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script type="text/javascript" src="/javascripts/index.js"></script>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="<%=game.toUpperCase()%> <%=l('strategy planner.')%>">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
	
		<% include navbar.ejs %>

		<div class="container" id="big_button_frame" style="text-align:center">
			<h1>
				<% if (game == 'wot') { %>
					World of Tanks Tactics
				<% } else if (game == 'wows') { %>
					World of Warships Tactics
				<% } else if (game == 'blitz') { %>
					World of Tanks Blitz Tactics
				<% } else if (game == 'aw') { %>
					Armored Warfare Tactics
				<% } %>	
			</h1>
			<p><span id="quote"></span></p>
			<p><a class="btn btn-primary btn-lg" href="<%=game%>planner.html" id="new_room" role="button"><%= l('Create new room') %> &raquo;</a></p>
		</div>
	
	</div>

	<div class="row">
	<div class="col-md-4">
		<h2>Welcome</h2>
		<p>This tool is created to make planning for your battles quick and easy. Just press the blue button, share the link with friends teammates or clanmates and get started. 
	</div>
	<div class="col-md-4">
		<h2>Free and open</h2>
		<p>This website is free of charge, free of adds and open-source and I intend to keep it that way. There is however a donation button to cover hosting fees in the future.</p>
	</div>
	<div class="col-md-4">
		<h2>Looking for Russian translator</h2>
		<p>If you speak it and want to help, get in touch. No technical skill required.</p>
	</div>
	</div>
	
	<div class="row">
	<div class="col-md-4">
		<h2>Recent updates</h2>
		<p>You can now organise your stored tactics in folders if you want. Sometimes when multiple people were removing slides at the same time, the whole tactic would break, I should have that fixed now. 
	</div>
	<div class="col-md-4">
		<h2>Future plans</h2>
		<p>
		I want to look into improving maps. Something that has always bothered me is that cap points are not to scale. If you can or want to help with that, let me know. Other than that, I'd like to hear from you, what do you think can still be improved? Do you think any other games would benefit from a map tool like this? Let me know on one of the forum topics linked in the about page or by mail.
	</div>
	</div>
	
	<% include footer.ejs %>
</div>
</body>
