<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script defer type="text/javascript" src="/javascripts/index.js"></script>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or just explore, share and discuss map tactics with your friends, team, platoon or clan.">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
	
		<% include navbar.ejs %>

		<div class="container" id="big_button_frame" style="text-align:center">
			<h1>
				<% if (game == 'wot') { %>
					World of Tanks Tactics
				<% } else if (game == 'wows') { %>
					World of Warships Tactics
				<% } else if (game == 'blitz') { %>
					World of Tanks Blitz Tactics
				<% } else if (game == 'aw') { %>
					Armored Warfare Tactics
				<% } else if (game == 'lol') { %>
					League of legends Tactics
				<% } else if (game == 'hots') { %>
					Heroes of the Storm Tactics
				<% } else if (game == 'sc2') { %>
					Starcraft II Tactics
				<% } else if (game == 'csgo') { %>
					CS:GO Tactics
				<% } %>	
			</h1>
			<p><span id="quote"></span></p>
			<p><a class="btn btn-primary btn-lg" href="<%=game%>planner.html" id="new_room" role="button"><%= l('Create new room') %> &raquo;</a> &nbsp; (<a href="<%=game%>planner2.html" id="new_room2" role="button"><%= l('try a different ui')%></a>)</p>
			<script type="text/javascript">
				function newUid() {
				  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
					function(c) {
					  r = Math.random() * 16 | 0,
						v = c == 'x' ? r : (r & 0x3 | 0x8);
					  return v.toString(16);
					}).toUpperCase();
				}
				window.onload = function() {
					var el = document.getElementById('new_room');
					el.onclick = function(e) {
						window.location.href = el.getAttribute('href') + '?room=' + newUid();
						e.preventDefault();
					}
					var el2 = document.getElementById('new_room2');
					el2.onclick = function(e) {
						window.location.href = el2.getAttribute('href') + '?room=' + newUid();
						e.preventDefault();
					}
				};
			</script>
		</div>
	
	</div>

	<div class="row">
	<div class="col-md-4">
		<h2>Welcome</h2>
		<p>This tool is created to make planning and sharing battle tactics quick and easy. Just press the blue button, share the link and get started. <% if (game == 'wot') { %> Are you an FC trying to plan a clan war or stronghold battle in world of tanks? Or are you part of team that wants to perform better in team battles or ESL? Or do you just want to discuss some details about a map with a friend? Then this tool is for you. If you are used to maptactic, give this a try. Planning has never been easier.<% } %>
	</div>
	<div class="col-md-4">
		<h2>Your input matters</h2>
		<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
		
		<p>After you have filled it in, take a look at the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">summary</a> of the results
	</div>
	<div class="col-md-4">
		<h2>New video tutorial</h2>
		<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial</a> explaining all the tools and features of <%=url.split('/')[0]%>. And here's another <a href="https://www.youtube.com/watch?v=sLWv7yXYQ-c">tutorial</a> by Stewiejp.</div>

	</div>
	
	<div class="row">
	<div class="col-md-4">
		<h2>Ui test</h2>
		<p>I'm experimenting a little bit with a somewhat different ui options. The alternative ui link above is 2-column design with a darker color scheme. 
		
		<p>I'm not sure yet which way I'm going to go yet. 
		
		<p>I definitely want the map as large as I can make it, so taking up the full height of the window, whatever size it is. Evertyhing else is open for debate.
		
		<p>So do you like the alternative look ? Do you have any opinions on how it should look ? Let me know.
		
	</div>
	<div class="col-md-4">
		<h2>Future plans</h2>
		<p>Now that the wot campaign is over, things should get a little quieter, so I'm going to use this opportunity to improve and expand a bit.
		
		<p>People seem to find this tool very useful for wot, so I'm going to see if people from a few other games would be interested in it. I'll be starting with league of legend, cause it's easy (not too many maps). If you want a version of wottactic for your favourite game, let me know.
		
		<p>Next, not a lot of people have filled in the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, but there are some good suggestions in the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">results</a>. 
		
		<p>I got that people want:
			<ol>
			<li>More store/share options 
			<li>More tools 
			<li>Improved ui
			<li>Better maps
			</ol>
		<p>Specifically I got people asking for:
			<ol>
			<li>A zoom option
			<li>A colorblind option 
			<li>Spawns on the aw and wows maps 
			<li>More security
			</ol>
			
		<p>I'm having a hard time finding good quality WOWS maps. If you have any idea pls get in touch. 
		
		<p>Also I'm not to sure what a color blind mode means exactly. If you are color blind, could you tell what works and what doesn't and how best to fix it.
				
	</div>
	<div class="col-md-4">
		<h2>Latest changes</h2>
		<p>
		Nothing major, but mostly small usabilty impovements: 
		<ul>
			<li>Most tools can now be used by either dragging while holding the left mouse or clicking twice.
			<li>Added an eraser tool
			<li>Added CS:GO version, see <a href="http://gametactic.org/csgo">here</a>
			<li>Added option to load custom map, although it's sort of picky on the host
			<li>Added a Starcraft 2 version, see <a href="http://gametactic.org/sc2">here</a>
		</ul> 
		On the bug hunting front:
		<ul>
			<li>You can log in again from the planner page on FF.
			<li>Track cursor didn't work too well while zooming and panning
			<li>Remove tracked cursor when someone loses privileges
			<li>Creating stuff outside the viewable area would sometimes stretch new things you added
			<li>Select tool would often not properly select things after the tactic window was resized
		</ul>
		If you find anything else, however small, that is broken, pls let me know. 
	</div>
	</div>
	
	<br />
	<div class='row'>
		<div class='col-md-6'>
			<%=l('Developed by')%> <a href="mailto:pkalith@gmail.com">Kalith</a>
		</div>
		<div class='col-md-6' style='text-align:right;'>
			<a href="older_news.html">Older news</a>
		</div>
	</div>
	<br />
</div>
</body>
