<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<link rel="preload" href="<%=static_host%>/stylesheets/banner.jpg" as="image">
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or just explore, share and discuss map tactics with your friends, team, platoon or clan.">
</head>
<body>
	<% include navbar.ejs %>

	<div class="container" style='width:100%;'>
    <div id="call_to_action" class="jumbotron side_bar" style='width:100%;'>
		<div class="container" id="big_button_frame" style="text-align:center">
			<h1>
				<% if (game == 'wot') { %>
					World of Tanks Tactics
				<% } else if (game == 'wows') { %>
					World of Warships Tactics
				<% } else if (game == 'blitz') { %>
					World of Tanks Blitz Tactics
				<% } else if (game == 'aw') { %>
					Armored Warfare Tactics
				<% } else if (game == 'lol') { %>
					League of legends Tactics
				<% } else if (game == 'hots') { %>
					Heroes of the Storm Tactics
				<% } else if (game == 'sc2') { %>
					Starcraft II Tactics
				<% } else if (game == 'csgo') { %>
					CS:GO Tactics
				<% } else if (game == 'warface') { %>
					Warface Tactics
				<% } %>	
			</h1>
			<p><span id="quote"></span></p>
			<p><a class="btn btn-primary btn-lg" href="<%=game%>planner2.html" id="new_room" role="button"><%= l('Create new room') %> &raquo;</a><br /><br />
			(<a href="<%=game%>planner.html" id="new_room2" role="button" style="color:#ADD8E6"><%= l('Use original ui')%></a>)</p>
			<script type="text/javascript">
				function newUid() {
				  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
					function(c) {
					  r = Math.random() * 16 | 0,
						v = c == 'x' ? r : (r & 0x3 | 0x8);
					  return v.toString(16);
					}).toUpperCase();
				}
				window.onload = function() {
					var el = document.getElementById('new_room');
					el.onclick = function(e) {
						window.location.href = el.getAttribute('href') + '?room=' + newUid();
						e.preventDefault();
					}
					var el2 = document.getElementById('new_room2');
					el2.onclick = function(e) {
						window.location.href = el2.getAttribute('href') + '?room=' + newUid();
						e.preventDefault();
					}
				};
			</script>
		</div>
	
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>What is <%=game.toUpperCase()%> <%=l('Tactics')%> &#63;</h2>
			<p><%=game.toUpperCase()%> <%=l('Tactics')%> is an interactive map planning tool for <%=game.toUpperCase()%>.
			
			<p><h4><b>So how does it work ?</b></h4>
			
			<p>Press the blue button. Then select a map and use the tools on the right to start planning. You can invite others by sending them the link. 
			
		</div>
		<%if (game == 'warface') {%>
			<div class="col-md-4">
			<h2>Looking for help with warface maps</h2>
			<p>The warface map images are a little inconsistent but it's the best I could find. If you know of any site with consistent, good quality maps for warface. Or if you want to create those maps for warface, please get in touch.
			</div>
		<%} else { %>
		<div class="col-md-4">
			<h2>New interface</h2>
			<p>The new ui has been available as an alternative for a little while. I've asked around and most people seem to prefer it, so I've decided to make it the default.
			
			<p>It adresses a few concerns:
			
			<ul>
				<li>The map is now more centered.
				<li>Darker background draws more focus to the map.
				<li>Changing tools doesn't cause the chat/slide/export pannel to jump around.
				<li>It adapts to a wider number of screen sizes and resolutions.
			</ul>

			<p>I've left the original ui as an option and I'll continue to update it for the near future and monitor how many people keep using it. 

			<p>I hope you like it. And if there are any issues please let me know.
	
		</div>
		<% } %>

		<div class="col-md-4">
		<h2>Your input matters</h2>
		<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
		
		<p>After you have filled it in, take a look at the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">summary</a> of the results
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>Video tutorial</h2>
			<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial</a> explaining all the tools and features of <%=url.split('/')[0]%>. And here's another <a href="https://www.youtube.com/watch?v=sLWv7yXYQ-c">tutorial</a> by Stewiejp.
		</div>
		
		<div class="col-md-4">
			<h2>Future plans</h2>
			<ul>
				<li>Add options to scale/modify/rotate existing items
				<li>Write text directly on the map
				<li>Share folders in addition to just tactics
			</ul>
			If you have any suggestions, you can put them on the forums, contact me by e-mail or put them in the survey.
		</div>
		
		<div class="col-md-4">
			<h2>Latest changes</h2>
			<p>
			<ul>
				<li>Added rotation to the select tool
				<li>Fixed some of the resize quirks.
				<li>Updated wows maps and added dimensions so the ruler tool works.
				<li>Added scaling to the select tool. 
				<li>Made alternative ui the default ui.
			</ul> 
			On the bug hunting front:
			<ul>
				<li>Fixed bug where multiple people simultaneously pinging would make the colors switch.
				<li>Fixed bug where icons would dissapear after undoing a move.
				<li>Fixed bug on IE where sometimes pings would be hidden after switching maps.
				<li>I think/hope I fixed the bug where the map would remain grey sometimes for some people. I can't really reproduce it, so let me know if it still happens.
				<li>In the new ui, users without permission could still change the map
			</ul>
			If you find anything else, however small, that is broken, pls let me know. 
		</div>
	</div>
	
	<br />
	<div class='row'>
		<div class='col-md-6'>
			<%=l('Developed by')%> <a href="mailto:pkalith@gmail.com">Kalith</a>
		</div>
		<div class='col-md-6' style='text-align:right;'>
			<a href="older_news.html">Older news</a>
		</div>
	</div>
	<br />
</div>

<% include index_js.ejs %>

</body>
