<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script defer type="text/javascript" src="/javascripts/index.js"></script>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or just explore, share and discuss map tactics with your friends, team, platoon or clan.">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
	
		<% include navbar.ejs %>

		<div class="container" id="big_button_frame" style="text-align:center">
			<h1>
				<% if (game == 'wot') { %>
					World of Tanks Tactics
				<% } else if (game == 'wows') { %>
					World of Warships Tactics
				<% } else if (game == 'blitz') { %>
					World of Tanks Blitz Tactics
				<% } else if (game == 'aw') { %>
					Armored Warfare Tactics
				<% } %>	
			</h1>
			<p><span id="quote"></span></p>
			<p><a class="btn btn-primary btn-lg" href="<%=game%>planner.html" id="new_room" role="button"><%= l('Create new room') %> &raquo;</a></p>
		</div>
	
	</div>

	<div class="row">
	<div class="col-md-4">
		<h2>wottactic.tk problems and fixes</h2>
		<p>UPDATE: I got the load under control. Please use the main <a href="http://wottactic.tk">http://wottactic.tk</a> site from now on.
		<p>Again, I'm really sorry about all the problems the last 2 days. I'll sleep a lot better tonight.
	</div>
	<div class="col-md-4">
		<h2>Your input matters</h2>
		<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
	</div>
	<div class="col-md-4">
		<h2>New video tutorial</h2>
		<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial video</a> explaining all the tools and features of <%=url.split('/')[0]%>. It should explain to you how to use the different tools, teach you about different shortcuts you may not know about and explain some of the more advanced features. Let me know what you think about it in youtube comments.
	</div>

	</div>
	
	<div class="row">
	<div class="col-md-4">
		<h2><%=url.split('/')[0]%> in numbers</h2>
		<p>I want to tank everybody for your trust, <%=url.split('/')[0]%> has a grown a lot lately, more than I ever expected. It's only at the start of this month I started monitoring traffic and I was amazed. The last month 46,936 unique users have visited the site 193,829 times, opening 363,073 pages. Around 8,000 visits and 6,000 users a day. 
		
		<p>
		The overwelming majority use it for wot (98%). 78% of users come from Europe excluding Russia, 12% from the Americas and 6% from Asia. Although wot is huge in Russia, it accounts for only 2% of visitors. 
		Most traffic is between 19u30-22u CET with <a href="http://karellodewijk.github.io/active_users.png">peaks</a> of 1,000 simultaneous users just before CW start. With a smaller peak around 01u-05u CET during NA cw time.

		<p>
		During peak times, Cpu usage on the amazon T2 micro VM i host it on, hovers around 20%, so still plenty of room to expand even without spending extra.
		
		<p>
		For those interested in the sources and more details, here is a <a href="http://karellodewijk.github.io/wottactic_stats.pdf">google analytics report</a> for March and an <a href="http://karellodewijk.github.io/hourly.pdf">hourly breakdown</a>.
	</div>
	<div class="col-md-4">
		<h2>Now available in Russian</h2>
		<p>Андрей is now working on a Russian translation, take a look. If you want this website available in your language, contact me. No technical skill required.</p>
	</div>
	<div class="col-md-4">
		<h2>Latest changes</h2>
		<p>
		Nothing major, but mostly small usabilty impovements: <ul>
			<li>Added a list of recently visited briefings under stored tactics
			<li>Added share tactic button to share a stored tactic with other users
			<li>I changed the ping a bit and made it less likely to automatically pick up stuff.
			<li>Changed the color palette in some places
			<li>Made arrows the default, I at least tend to draw more arrows than regular lines
			<li>Added additional icons. Pretty basic for now, let me know if there are any icons or icon sets you want to include. I'll probably add the option to add your own too.
			<li>Optimized stored tactics layout at bit. 
		</ul> 
		On the bug hunting front:
		<ul>
			<li>The backup option omitted icons in the images of slides other than the one currently active.
			<li>Selected items hilight didn't work sometimes in webgl mode.
			<li>Fb and google login were broken from the cs and fi language subdomains.
		</ul>
		If you find anything else, however small, that is broken, pls let me know. 
	</div>
	</div>
	
	<% include footer.ejs %>
</div>
</body>
