<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%></title>
	<meta name="description" content="A tool for <%=game.toUpperCase()%> to plan cw's, team battles or explore, share and discuss maps or map strategies with your friends, team, platoon or clan.">
</head>
<body style="overflow:scroll;">
	<% include navbar.ejs %>
	<script>
		document.getElementById('home').className += " active";
	</script>
	<style>
		#banner {
			background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url('<%=static_host%>/banners/banner_<%=game%>.jpg'); 
			background-size: cover, cover;
		}
	</style>

	<div class="container" style='width:100%; position:relative;'>
		<div class="jumbotron content" style="padding-left:0px; padding-right:0px;">
			<div id="banner" class="call_to_action" style='width:100%; background-color:#888ecb'>
				<div class="container" id="big_button_frame" style="text-align:center;">
					<h1>
						<% if (game == 'wot') { %>
							World of Tanks Tactics
						<% } else if (game == 'wows') { %>
							World of Warships Tactics
						<% } else if (game == 'blitz') { %>
							World of Tanks Blitz Tactics
						<% } else if (game == 'aw') { %>
							Armored Warfare Tactics
						<% } else if (game == 'lol') { %>
							League of legends Tactics
						<% } else if (game == 'hots') { %>
							Heroes of the Storm Tactics
						<% } else if (game == 'sc2') { %>
							Starcraft II Tactics
						<% } else if (game == 'csgo') { %>
							CS:GO Tactics
						<% } else if (game == 'warface') { %>
							Warface Tactics
						<% } else if (game == 'squad') { %>
							Squad Tactics
						<% } else if (game == 'R6') { %>
							Rainbox Six | Siege Tactics
						<% } %>	
					</h1>
					<p><a class="btn btn-primary btn-lg new_room" href="<%=game%>2" role="button"><%= l('Create new room') %> &raquo;</a>
					<br /><%=l('Or')%><br />
					<a class="btn btn-primary new_room" href="<%=game%>3" role="button"><%=l('Video replay room')%> &raquo;</a>
					<br /><br />
					<a href="<%=game%>1" class="new_room" role="button" style="color:#ADD8E6">(<%= l('Use original ui')%>)</a><br /></p>
					<script type="text/javascript">
						//generate unique id
						var valid_chars = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"; //needs to be 64 chars
						function newUid() {
							var text = "";
							for(var i=0; i < 14; i++ ) {
								text += valid_chars.charAt(Math.floor(Math.random() * valid_chars.length));
							}
							return text;
						}
						window.onload = function() {
							var els = document.getElementsByClassName('new_room');
							for (var i = 0; i < els.length; i++) {
								els[i].setAttribute('href', els[i].getAttribute('href') + '?room=' + newUid());
							}
						};
					</script>
				</div>
			</div>

			<div style="padding-left:20px; padding-right:20px;">
				<div class="row">
					<div class="col-md-4">
						<h2>What is <%=url.split('/')[0]%> &#63;</h2>
						<p><%=url.split('/')[0]%> is an interactive map tactic planning tool for <%=game.toUpperCase()%>.
						
						<p><h4><b>So how does it work ?</b></h4>
						
						<p>Press the blue button. Then select a <%=game%> map and use the tools on the right to start planning your strategy. You can invite others by sending them the link. 
					</div>
					<div class="col-md-4">
						<h2>Wottactic.tk redirected to <a href="http://wottactic.com/">wottactic.com</a></h2>
						<p>Same website, different name. If you visit wottactic.tk, you'll be automatically redirected.
						<p><h4>Do I need to do anything ?</h4>
						<p>No, you will be automatically redirected. You will have to log in again and may want to update links or bookmarks. Old links and bookmarks will keep working though but will require an additional request (very small delay).
						<p><b>Why the switch ?</b>
						<ul>
							<li>I've been getting some reports of wottactic simply not loading because some parental control software and/or isp's simply block all .tk domains.
							<li>For some time now google seems to prefer linking to wottactic.com anyway.
							<li>Google adsense seems to rate tk domain much lower. If I'm going to be a sellout, might as well get paid for it. 
						</ul>
						<p>I will be keeping the wottactic.eu domain and is actually the prefered domain for eu residents. The idea is if the site grows a little more it will always be served from an eu based server.
					</div>
					<%if (game == 'warface') { %>
						<div class="col-md-4">
							<h2>Looking for help with warface maps</h2>
							<p>The warface map images are a little inconsistent but it's the best I could find. If you know of any site with consistent, good quality maps for warface. Or if you want to create those maps for warface, please get in touch.
						</div>
					<%} else { %>
						<div class="col-md-4">
							<h2>Maintenance complete</h2>
							
							<p>Everything should be working as before, but definately let me know if there are any issues.
						</div>
					<% } %>					
				</div>
				<div class="row">
					<%if (game != 'wot') { %>
					<div class="col-md-4">
						<h2>Forums back up</h2>
						<p>Feel free to say hello.
					</div>
					<% } else { %>
					<div class="col-md-4">
						<h2>Yet another stats tracker</h2>
						<p>I've added a player stats tracked to the website. It's pretty basic at the moment, and it's still gathering historical info. But feel free to take a look. A clan stats page/option is also coming.
						<p>There's also an ad on the new page. This does not mean there will be ads on the tactic planner page. But it should cover the hosting cost with a little luck. Even with some donations, wottactic has been running at a bit of a loss, not even counting manhours.
						<p>Ads are disabled for everyone who donated ofcourse or anyone who donates anything in the future. It does require you to log back in.
					</div>
					<% } %>	

					<div class="col-md-4">
						<h2>Latest changes</h2>
						<p>
						<ul>
							<li>Moved to pixi 4.3.4
							<li>Added custom color picker for users of ie and edge
							<li>You can now use PAGE UP/PAGE DOWN to switch slides
							<li>Added Enable/Disable dragging toggle button
							<li>Added Rainbox Six siege as a supported game.
						</ul>
						<p>On the bug hunting front:
						<ul>
							<li>Sometimes drag cursor would revert back over a select box
							<li>Changing account now also changes account on the forum without the need logout
							<li>Fixed twitter login on domains other than wottactic.tk
							<li>Made zoom move in predictable steps
							<li>Fixed alignment issues in video replay room
						</ul>
						<p>If you find anything else, however small, that is broken, pls let me know. 
					</div>
					<div class="col-md-4">
						<h2>Your input matters</h2>
						<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
						
						<p>After you have filled it in, take a look at the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">summary</a> of the results
					</div>				
				</div>
				<div class='row'>
					<div class='col-md-6'>
						<%=l('Developed by')%> <a href="mailto:pkalith@gmail.com">Kalith</a>
					</div>
					<div class='col-md-6' style='text-align:right;'>
						<a href="older_news.html">Older news</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<% include footer.ejs %>
	<% include index_js.ejs %>

</body>
