<li class="dropdown menu-item">  
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<img src="http://karellodewijk.github.io/icons/flags/<%=locale%>.png" alt="language flag"> <%=locale%><span class="caret"></span>
	</a>
	<ul id="language_select" class="dropdown-menu">
		<li><a href="http://cs.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/cs.png" alt="Czech flag"> Čeština</a>
		<li><a href="http://de.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/de.png" alt="German flag"> Deutsch</a>
		<li><a href="http://en.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/en.png" alt="English flag"> English</a>
		<li><a href="http://es.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/es.png" alt="Spanish flag"> Español</a>
		<li><a href="http://pl.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/pl.png" alt="Polish flag"> Polski</a>
		<li><a href="http://sr.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/sr.png" alt="Serbian flag"> Srpski</a>
		<li><a href="http://fi.<%=url%>"><img src="http://karellodewijk.github.io/icons/flags/fi.png" alt="Finnish flag"> Suomi</a>
	</ul>
</li>


