<li class="dropdown menu-item">  
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		<div class="inline icon icon-<%=locale%>"></div>&nbsp; <%=locale%><span class="caret"></span>
	</a>
	<ul id="language_select" class="dropdown-menu">
		<li><a href="http://cs.<%=url%>"><div class="inline icon icon-cs"></div>&nbsp; Čeština</a>
    <li><a href="http://cn.<%=url%>"><div class="inline icon icon-cn"></div>&nbsp; 中文</a>
		<li><a href="http://de.<%=url%>"><div class="inline icon icon-de"></div>&nbsp; Deutsch</a>
		<li><a href="http://en.<%=url%>"><div class="inline icon icon-en"></div>&nbsp; English</a>
		<li><a href="http://es.<%=url%>"><div class="inline icon icon-es"></div>&nbsp; Español</a>
		<li><a href="http://fr.<%=url%>"><div class="inline icon icon-fr"></div>&nbsp; Français</a>
    <li><a href="http://it.<%=url%>"><div class="inline icon icon-it"></div>&nbsp; Italiano</a>
    <li><a href="http://hu.<%=url%>"><div class="inline icon icon-hu"></div>&nbsp; Magyar</a>
		<li><a href="http://nl.<%=url%>"><div class="inline icon icon-nl"></div>&nbsp; Nederlands</a>
		<li><a href="http://ru.<%=url%>"><div class="inline icon icon-ru"></div>&nbsp; русский язык</a>
		<li><a href="http://pl.<%=url%>"><div class="inline icon icon-pl"></div>&nbsp; Polski</a>
		<li><a href="http://pt.<%=url%>"><div class="inline icon icon-pt"></div>&nbsp; Português</a>
		<li><a href="http://sr.<%=url%>"><div class="inline icon icon-sr"></div>&nbsp; Srpski</a>
		<li><a href="http://fi.<%=url%>"><div class="inline icon icon-fi"></div>&nbsp; Suomi</a>
		<li><a href="http://el.<%=url%>"><div class="inline icon icon-el"></div>&nbsp; ελληνικά</a>
		<li><a href="http://forum.<%=url.split('/')[0]%>/forums/topic/help-translate/"><%=l('Help with a translation')%></a>
	</ul>
</li>

