<p>
<button id="lol_main/assassin" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Assassin')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/assassin.png" alt="Assassin icon"><span>0</span>
</button>
<button id="lol_main/marksman" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Marksman')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/marksman.png" alt="Marksman icon"><span>0</span>
</button>
<button id="lol_main/mage" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Mage')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/mage.png" alt="Mage icon"><span>0</span>
</button>
<button id="lol_main/fighter" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Fighter')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/fighter.png" alt="Fighter icon"><span>0</span>
</button>
<br>
<button id="lol_main/support" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Support')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/support.png" alt="Support icon"><span>0</span>
</button>
<button id="lol_main/tank" data-no_color="true" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Tank')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/tank.png" alt="Tank icon"><span>0</span>
</button>
<button id="lol_main/ward" data-no_color="true" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Ward')%>">
	<img src="http://karellodewijk.github.io/icons/lol_main/ward.png" alt="Ward icon"><span>0</span>
</button> 

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <li><a class="icon_group" id="lol_champions" data-toggle="tab" href="#lol_champions_tab"><%=l('Champions')%></a></li>
	  <li><a class="icon_group" id="lol_wards" data-toggle="tab" href="#lol_wards"><%=l('Wards')%></a></li>
	  <li><a class="icon_group" id="lol_npcs" data-toggle="tab" href="#lol_npcs_tab"><%=l('Npc')%></a></li>
	  <li><a class="icon_group" id="lol_abilities" data-toggle="tab" href="#lol_abilities_tab"><%=l('Ab')%></a></li>	  
	  <li><a class="icon_group" id="lol_spells" data-toggle="tab" href="#lol_spells_tab"><%=l('Spells')%></a></li>
	  <li><a class="icon_group" id="lol_runes" data-toggle="tab" href="#lol_runes_tab"><%=l('Runes')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="lol_champions_tab">
			<div id="lol_champions_list" data-path="lol_champions" data-scale="2" data-height="60" data-no_color="true" data-style="lol_champions.css" hidden>
				Aatrox_Square_0.jpg
				Ahri_Square_0.jpg
				Akali_Square_0.jpg
				Alistar_Square_0.jpg
				Amumu_Square_0.jpg
				Anivia_Square_0.jpg
				Annie_Square_0.jpg
				Ashe_Square_0.jpg
				AurelionSol_Square_0.jpg
				Azir_Square_0.jpg
				Bard_Square_0.jpg
				Blitzcrank_Square_0.jpg
				Brand_Square_0.jpg
				Braum_Square_0.jpg
				Caitlyn_Square_0.jpg
				Cassiopeia_Square_0.jpg
				Chogath_Square_0.jpg
				Corki_Square_0.jpg
				Darius_Square_0.jpg
				Diana_Square_0.jpg
				DrMundo_Square_0.jpg
				Draven_Square_0.jpg
				Ekko_Square_0.jpg
				Elise_Square_0.jpg
				Evelynn_Square_0.jpg
				Ezreal_Square_0.jpg
				Fiddlesticks_Square_0.jpg
				Fiora_Square_0.jpg
				Fizz_square_0.jpg
				Galio_Square_0.jpg
				Gangplank_Square_0.jpg
				Garen_Square_0.jpg
				Gnar_Square_0.jpg
				Gragas_Square_0.jpg
				Graves_Square_0.jpg
				Hecarim_Square_0.jpg
				Heimerdinger_Square_0.jpg
				Illaoi_Square_0.jpg
				Irelia_Square_0.jpg
				Janna_Square_0.jpg
				JarvanIV_Square_0.jpg
				Jax_Square_0.jpg
				Jayce_Square_0.jpg
				Jhin_Square_0.jpg
				Jinx_Square_0.jpg
				Kalista_Square_0.jpg
				Karma_Square_0.jpg
				Karthus_Square_0.jpg
				Kassadin_Square_0.jpg
				Katarina_Square_0.jpg
				Kayle_Square_0.jpg
				Kennen_Square_0.jpg
				Khazix_Square_0.jpg
				Kindred_Square_0.jpg
				KogMaw_Square_0.jpg
				Leblanc_Square_0.jpg
				LeeSin_Square_0.jpg
				Leona_Square_0.jpg
				Lissandra_Square_0.jpg
				Lucian_Square_0.jpg
				Lulu_Square_0.jpg
				Lux_Square_0.jpg
				Malphite_Square_0.jpg
				Malzahar_Square_0.jpg
				Maokai_Square_0.jpg
				MasterYi_Square_0.jpg
				MissFortune_Square_0.jpg
				MonkeyKing_Square_0.jpg
				Mordekaiser_Square_0.jpg
				Morgana_Square_0.jpg
				Nami_Square_0.jpg
				Nasus_Square_0.jpg
				Nautilus_Square_0.jpg
				Nidalee_Square_0.jpg
				Nocturne_Square_0.jpg
				Nunu_Square_0.jpg
				Olaf_Square_0.jpg
				Orianna_Square_0.jpg
				Pantheon_Square_0.jpg
				Poppy_Square_0.jpg
				Quinn_Square_0.jpg
				Rammus_Square_0.jpg
				RekSai_Square_0.jpg
				Renekton_Square_0.jpg
				Rengar_Square_0.jpg
				Riven_Square_0.jpg
				Rumble_Square_0.jpg
				Ryze_Square_0.jpg
				Sejuani_Square_0.jpg
				Shaco_Square_0.jpg
				Shen_Square_0.jpg
				Shyvana_Square_0.jpg
				Singed_Square_0.jpg
				Sion_Square_0.jpg
				Sivir_Square_0.jpg
				Skarner_Square_0.jpg
				Sona_Square_0.jpg
				Soraka_Square_0.jpg
				Swain_Square_0.jpg
				Syndra_Square_0.jpg
				TahmKench_Square_0.jpg
				Talon_Square_0.jpg
				Taric_Square_0.jpg
				Teemo_Square_0.jpg
				Thresh_Square_0.jpg
				Tristana_Square_0.jpg
				Trundle_Square_0.jpg
				Tryndamere_Square_0.jpg
				TwistedFate_Square_0.jpg
				Twitch_Square_0.jpg
				Udyr_Square_0.jpg
				Urgot_Square_0.jpg
				Varus_Square_0.jpg
				Vayne_Square_0.jpg
				Veigar_Square_0.jpg
				VelKoz_Square_0.jpg
				Vi_Square_0.jpg
				Viktor_Square_0.jpg
				Vladimir_Square_0.jpg
				Voidgate_Square_0.jpg
				Voidspawn_Square_0.jpg
				Volibear_Square_0.jpg
				Warwick_Square_0.jpg
				Xerath_Square_0.jpg
				XinZhao_Square_0.jpg
				Yasuo_Square_0.jpg
				Yorick_Square_0.jpg
				Zac_Square_0.jpg
				Zed_Square_0.jpg
				Ziggs_Square_0.jpg
				Zilean_Square_0.jpg
				Zyra_Square_0.jpg
			</div>
			<div id="lol_champions_menu"></div>	
		</div>
		<div class="tab-pane" id="lol_wards_tab">
			<div class="row">
				<div id="lol_wards_list" data-path="lol_wards" data-scale="1" data-height="45" data-no_color="true" data-style="lol_wards.css" hidden>	
					wardIcon_0.png
					wardIcon_1.png
					wardIcon_2.png
					wardIcon_3.png
					wardIcon_4.png
					wardIcon_5.png
					wardIcon_6.png
					wardIcon_7.png
					wardIcon_8.png
					wardIcon_9.png
					wardIcon_10.png
					wardIcon_11.png
					wardIcon_12.png
					wardIcon_13.png
					wardIcon_14.png
					wardIcon_15.png
					wardIcon_16.png
					wardIcon_17.png
					wardIcon_18.png
					wardIcon_19.png
					wardIcon_20.png
					wardIcon_21.png
					wardIcon_22.png
					wardIcon_23.png
					wardIcon_24.png
					wardIcon_25.png
					wardIcon_26.png
					wardIcon_27.png
					wardIcon_28.png
					wardIcon_29.png
					wardIcon_30.png
					wardIcon_31.png
					wardIcon_32.png
					wardIcon_33.png
					wardIcon_34.png
					wardIcon_35.png
					wardIcon_36.png
					wardIcon_37.png
					wardIcon_38.png
					wardIcon_39.png
					wardIcon_40.png
					wardIcon_41.png
					wardIcon_42.png
					wardIcon_43.png
					wardIcon_44.png
					wardIcon_45.png
					wardIcon_46.png
					wardIcon_47.png
					wardIcon_48.png
					wardIcon_49.png
					wardIcon_50.png
					wardIcon_51.png
					wardIcon_52.png
					wardIcon_53.png
					wardIcon_54.png
					wardIcon_55.png
					wardicon_56.png
					wardicon_57.png
				</div>
				<div id="lol_wards_menu"></div>		
			</div>
		</div>
		<div class="tab-pane" id="lol_npcs_tab">
			<div class="row">
				<div id="lol_npcs_list" data-path="lol_npcs" data-scale="2" data-height="60" data-no_color="true" data-style="lol_npcs.css" hidden>
					baron.png
					blue_sentinel.png
					canon.png
					caster.png
					dragon.png
					gromp.png
					krug.png
					razorback.png
					red_brambleback.png
					sentry.png
					super1.png
					super2.png
					warrior.png
					wolve.png
				</div>
				<div id="lol_npcs_menu"></div>				
			</div>
		</div>
		<div class="tab-pane" id="lol_abilities_tab">
			<div class="row">
				<div id="lol_abilities_list" data-path="lol_abilities" data-scale="2" data-height="60" data-no_color="true" data-style="lol_abilities.css" hidden>	
					48thSlave_Enfeeble.jpg
					48thSlave_RenderingCry.jpg
					48thSlave_SoulDrain.jpg
					48thSlave_Tattoo.jpg
					48thSlave_WaveOfLoathing.jpg
					Aatrox_E.jpg
					Aatrox_Passive.jpg
					Aatrox_Q.jpg
					Aatrox_R.jpg
					Aatrox_W1.jpg
					Aatrox_W2.jpg
					Ahri_Charm.jpg
					Ahri_FoxFire.jpg
					Ahri_OrbofDeception.jpg
					Ahri_SoulEater.jpg
					Ahri_SoulEater2.jpg
					Ahri_SpiritRush.jpg
					AkaliCrescentSlash.jpg
					AkaliMota.jpg
					AkaliShadowDance.jpg
					AkaliTwilightShroud.jpg
					AkaliTwinDisciplines.jpg
					AlZahar_CalloftheVoid.jpg
					AlZahar_MaleficVisions.jpg
					AlZahar_NetherGrasp.jpg
					AlZahar_NullZone.jpg
					AlZahar_SummonVoidling.jpg
					Alistar_E.jpg
					Alistar_Passive.jpg
					Alistar_Q.jpg
					Alistar_R.jpg
					Alistar_W.jpg
					Annie_E.jpg
					Annie_Passive.jpg
					Annie_Q.jpg
					Annie_R1.jpg
					Annie_R2.jpg
					Annie_W.jpg
					Armordillo_Inspiration.jpg
					Armordillo_Powerball.jpg
					Armordillo_RecklessCharge.jpg
					Armordillo_ScaledPlating.jpg
					Armordillo_ScavengeArmor.jpg
					Armordillo_ShellBash.jpg
					Armsmaster_CoupDeGrace.jpg
					Armsmaster_Disarm.jpg
					Armsmaster_Empower.jpg
					Armsmaster_MasterOfArms.jpg
					Armsmaster_RelentlessAssault.jpg
					Ashe_E.jpg
					Ashe_P.jpg
					Ashe_Q.jpg
					Ashe_Q_Debuff.jpg
					Ashe_R.jpg
					Ashe_W.jpg
					AurelionSol_E_fly.jpg
					AurelionSol_E_land.jpg
					AurelionSol_Passive.jpg
					AurelionSol_Q.jpg
					AurelionSol_Q_Explode.jpg
					AurelionSol_R.jpg
					AurelionSol_W_StarsIn.jpg
					AurelionSol_W_StarsOut.jpg
					Averdrian_AstralBarrier.jpg
					Averdrian_AstralBeam.jpg
					Averdrian_ConsumeSpirit.jpg
					Averdrian_Detonate.jpg
					Averdrian_Lockdown.jpg
					Azir_E.jpg
					Azir_Passive.jpg
					Azir_Q.jpg
					Azir_R.jpg
					Azir_W.jpg
					BantamSting_temp.jpg
					Bard_E.jpg
					Bard_Meeps.jpg
					Bard_Passive.jpg
					Bard_Q.jpg
					Bard_R.jpg
					Bard_W.jpg
					BlindMonKQOne.jpg
					BlindMonkEOne.jpg
					BlindMonkR.jpg
					BlindMonkWOne.jpg
					BlindMonk_BlindingStrike.jpg
					BlindMonk_CripplingBlow.jpg
					BlindMonk_ExploitWeakness.jpg
					BlindMonk_FistsOfFury.jpg
					BlindMonk_Hardiness.jpg
					BlindMonk_MysticMeditation.jpg
					BlindMonk_SightUnseeing.jpg
					Blitzcrank_ManaBarrier.jpg
					Blitzcrank_Overdrive.jpg
					Blitzcrank_PowerFist.jpg
					Blitzcrank_RocketGrab.jpg
					Blitzcrank_StaticField.jpg
					Bowmaster_AimedShot.jpg
					Bowmaster_ArchersMark.jpg
					Bowmaster_BullsEye.jpg
					Bowmaster_CrazyDance.jpg
					Bowmaster_DoubleShot.jpg
					Bowmaster_EnchantedArrow.jpg
					Bowmaster_Hawkshot.jpg
					Bowmaster_IceArrow.jpg
					Bowmaster_Pierce.jpg
					Bowmaster_PierceArmor.jpg
					Bowmaster_Sprint.jpg
					Bowmaster_VelocityShot.jpg
					Bowmaster_Volley.jpg
					BrandBlaze.jpg
					BrandConflagration.jpg
					BrandPillarOfFlame.jpg
					BrandPyroclasm.jpg
					BrandSear.jpg
					Braum_E.jpg
					Braum_Passive.jpg
					Braum_Q.jpg
					Braum_R.jpg
					Braum_W.jpg
					Caitlyn_90CaliberNet.jpg
					Caitlyn_AceintheHole.jpg
					Caitlyn_Headshot.jpg
					Caitlyn_PiltoverPeacemaker.jpg
					Caitlyn_YordleSnapTrap.jpg
					Cardmaster_Destiny.jpg
					Cardmaster_Exhaustion.jpg
					Cardmaster_FatesGambit.jpg
					Cardmaster_PowerCard.jpg
					Cardmaster_Premonition.jpg
					Cardmaster_RapidToss.jpg
					Cardmaster_SealFate.jpg
					Cassiopeia_DeadlyCadence.jpg
					Cassiopeia_Miasma.jpg
					Cassiopeia_NoxiousBlast.jpg
					Cassiopeia_PetrifyingGaze.jpg
					Cassiopeia_TwinFang.jpg
					ChemMan_AlchemicMastery.jpg
					ChemMan_MegaAdhesive.jpg
					ChemMan_PlagueWake.jpg
					ChemicalMan_AcidSpray.jpg
					ChemicalMan_BurnResistance.jpg
					ChemicalMan_CausticWake.jpg
					ChemicalMan_ChemicalRage.jpg
					ChemicalMan_EmpoweredBulwark.jpg
					ChemicalMan_ExplosiveFlask.jpg
					ChemicalMan_LaunchGoo.jpg
					ChemicalMan_RejuvenationPotion.jpg
					ChemicalMan_fling.jpg
					Chronokeeper_Chronoblast.jpg
					Chronokeeper_Haste.jpg
					Chronokeeper_MindTwist.jpg
					Chronokeeper_Recall.jpg
					Chronokeeper_Slow.jpg
					Chronokeeper_TimeStop.jpg
					Chronokeeper_Timetwister.jpg
					Corki_GatlingGun.jpg
					Corki_MissileBarrage.jpg
					Corki_PhosphorusBomb.jpg
					Corki_RapidReload.jpg
					Corki_Valkyrie.jpg
					Cryophoenix_Crystallize.jpg
					Cryophoenix_DeepFreeze.jpg
					Cryophoenix_FrigidOrb.jpg
					Cryophoenix_GlacialStorm.jpg
					Cryophoenix_Rebirth.jpg
					Darius_Icon_Axe_Grab.jpg
					Darius_Icon_Decimate.jpg
					Darius_Icon_Hamstring.jpg
					Darius_Icon_Hemorrhage.jpg
					Darius_Icon_Sudden_Death.jpg
					Darius_Passive.jpg
					Darius_PassiveBuff.jpg
					DarkChampion_FrenziedStrikes.jpg
					DarkChampion_MightyCleave.jpg
					Destiny_temp.jpg
					Diana_E_MoonFall.jpg
					Diana_LunarShower_Invert.jpg
					Diana_Passive_LunarBlade.jpg
					Diana_Q_MoonsEdge.jpg
					Diana_R_FasterThanLight.jpg
					Diana_W_LunarShower.jpg
					DrMundo_AdrenalineRush.jpg
					DrMundo_AdrenalineRush2.jpg
					DrMundo_BurningAgony.jpg
					DrMundo_InciteRage.jpg
					DrMundo_InfectedCleaver.jpg
					DrMundo_KissOfDeath.jpg
					DrMundo_Masochism.jpg
					DrMundo_Nethershade.jpg
					DrMundo_Sadism.jpg
					Draven_Bloodrage.jpg
					Draven_SpinningAxe.jpg
					Draven_TwinAxe.jpg
					Draven_WhirlingDeath.jpg
					Draven_passive.jpg
					EagleEye_temp.jpg
					Ekko_E.jpg
					Ekko_P.jpg
					Ekko_P2.jpg
					Ekko_Q.jpg
					Ekko_R.jpg
					Ekko_W.jpg
					EliseHumanE.jpg
					EliseHumanQ.jpg
					EliseHumanW.jpg
					ElisePassive.jpg
					EliseR.jpg
					EliseSpiderE.jpg
					EliseSpiderQ.jpg
					EliseSpiderW.jpg
					Evelynn_AgonysEmbrace.jpg
					Evelynn_Drink.jpg
					Evelynn_EveryWeakness.jpg
					Evelynn_OnlyHellToPay.jpg
					Evelynn_Ravage.jpg
					Evelynn_ReadyToBetray.jpg
					Evelynn_ShadowWalk.jpg
					Evelynn_Stalk.jpg
					Ezreal_ArcaneShift.jpg
					Ezreal_EssenceFlux.jpg
					Ezreal_MysticShot.jpg
					Ezreal_RisingSpellForce.jpg
					Ezreal_TrueshotBarrage.jpg
					FallenAngel_BlackShield.jpg
					FallenAngel_DarkBinding.jpg
					FallenAngel_Empathize.jpg
					FallenAngel_Purgatory.jpg
					FallenAngel_TormentedSoil.jpg
					Fear.jpg
					Fiddlesticks_ConjureScarecrow.jpg
					Fiddlesticks_Crowstorm.jpg
					Fiddlesticks_DarkWind.jpg
					Fiddlesticks_Paranoia.jpg
					Fiddlesticks_Terrify.jpg
					Fiora_BurstofSpeed.jpg
					Fiora_DanceofDeath.jpg
					Fiora_Duelist.jpg
					Fiora_E.jpg
					Fiora_Lunge.jpg
					Fiora_P.jpg
					Fiora_Parry.jpg
					Fiora_Q.jpg
					Fiora_R.jpg
					Fiora_W.jpg
					FizzJump.jpg
					FizzJumpTwo.jpg
					FizzMarinerDoom.jpg
					FizzPassive.jpg
					FizzPiercingStrike.jpg
					FizzSeastoneActive.jpg
					FizzSeastonePassive.jpg
					GSB_blind.jpg
					GSB_charm.jpg
					GSB_chilled.jpg
					GSB_fear.jpg
					GSB_invisible.jpg
					GSB_invulnerability.jpg
					GSB_magicimmunity.jpg
					GSB_mirrorimage.jpg
					GSB_nearsighted.jpg
					GSB_net.jpg
					GSB_physicalimmunity.jpg
					GSB_poisoned.jpg
					GSB_silence.jpg
					GSB_sleeping.jpg
					GSB_slow.jpg
					GSB_stealth.jpg
					GSB_stun.jpg
					GSB_taunt.jpg
					Galio_Bulwark.jpg
					Galio_IdolOfDurand.jpg
					Galio_ResoluteSmite.jpg
					Galio_RighteousGust.jpg
					Galio_RunicSkin.jpg
					Gangplank_E.jpg
					Gangplank_Passive.jpg
					Gangplank_Q.jpg
					Gangplank_R.jpg
					Gangplank_W.jpg
					Garen_E1.jpg
					Garen_Passive.jpg
					Garen_Q.jpg
					Garen_R.jpg
					Garen_W.jpg
					GnarBig_E.jpg
					GnarBig_Q.jpg
					GnarBig_R.jpg
					GnarBig_W.jpg
					GnarTransformTired.jpg
					Gnar_E.jpg
					Gnar_Passive.jpg
					Gnar_Q.jpg
					Gnar_R.jpg
					Gnar_Transform.jpg
					Gnar_W.jpg
					Gnar_W_Stack.jpg
					GragasBarrelRoll.jpg
					GragasBodySlam.jpg
					GragasDrunkenRage.jpg
					GragasExplosiveCask.jpg
					GragasPassiveHeal.jpg
					GravesBuckshot.jpg
					GravesHighNoon.jpg
					GravesQuickDraw.jpg
					GravesSmokeGrenade.jpg
					GravesTrueGrit.jpg
					GreenTerror_ChitinousExoplates.jpg
					GreenTerror_Feast.jpg
					GreenTerror_FeralScream.jpg
					GreenTerror_SpikeSlam.jpg
					GreenTerror_TailSpike.jpg
					Hecarim_DevastingCharge.jpg
					Hecarim_OnslaughtofShadows.jpg
					Hecarim_Passive.jpg
					Hecarim_Rampage.jpg
					Hecarim_SpiritofDread.jpg
					Heimerdinger_E1.jpg
					Heimerdinger_E2.jpg
					Heimerdinger_Passive.jpg
					Heimerdinger_Passive_hidden.jpg
					Heimerdinger_Q1.jpg
					Heimerdinger_Q2.jpg
					Heimerdinger_R.jpg
					Heimerdinger_W1.jpg
					Heimerdinger_W2.jpg
					Illaoi_E.jpg
					Illaoi_E_Debuff.jpg
					Illaoi_P.jpg
					Illaoi_Q.jpg
					Illaoi_R.jpg
					Illaoi_W.jpg
					Irelia_Bladesurge.jpg
					Irelia_EquilibriumStrike.jpg
					Irelia_HitenStyle.jpg
					Irelia_HitenStyleReady.jpg
					Irelia_IonianFervor.jpg
					Irelia_TranscendentBlades.jpg
					Irelia_TranscendentBladesReady.jpg
					Janna_EyeOfTheStorm.jpg
					Janna_HowlingGale.jpg
					Janna_ReapTheWhirlwind.jpg
					Janna_Tailwind.jpg
					Janna_Zephyr.jpg
					JarvanIV_Cataclysm.jpg
					JarvanIV_DemacianStandard.jpg
					JarvanIV_DragonStrike.jpg
					JarvanIV_GoldenAegis.jpg
					JarvanIV_MartialCadence.jpg
					Jayce_E1.jpg
					Jayce_Passive.jpg
					Jayce_Q1.jpg
					Jayce_R1.jpg
					Jayce_W1.jpg
					Jester_CarefulStrikes.jpg
					Jester_Circle.jpg
					Jester_DeathWard.jpg
					Jester_Deceive.jpg
					Jester_Hallucinate.jpg
					Jester_HallucinogenBomb.jpg
					Jester_IncrediblyPrecise.jpg
					Jester_JackInTheBox.jpg
					Jester_ManiacalCloak.jpg
					Jester_ManiacalCloak2.jpg
					Jester_Paranoia.jpg
					Jester_TwoShivPoison.jpg
					Jhin_E.jpg
					Jhin_P.jpg
					Jhin_Q.jpg
					Jhin_R.jpg
					Jhin_R_Shot.jpg
					Jhin_R_Shot4.jpg
					Jhin_W.jpg
					Jhin_W_Spotted.jpg
					Jinx_E.jpg
					Jinx_Passive.jpg
					Jinx_Q1.jpg
					Jinx_Q2.jpg
					Jinx_R.jpg
					Jinx_W.jpg
					Kalista_E.jpg
					Kalista_E_Off.jpg
					Kalista_Passive.jpg
					Kalista_Passive_Item.jpg
					Kalista_Q.jpg
					Kalista_R.jpg
					Kalista_W.jpg
					Kalista_W_Grey.jpg
					Karma_E1.jpg
					Karma_E2.jpg
					Karma_Passive.jpg
					Karma_Q1.jpg
					Karma_Q2.jpg
					Karma_R.jpg
					Karma_W1.jpg
					Karma_W2.jpg
					Karthus_E.jpg
					Karthus_Passive.jpg
					Karthus_Q.jpg
					Karthus_R.jpg
					Karthus_W.jpg
					Kassadin_E.jpg
					Kassadin_ForcePulse.jpg
					Kassadin_Passive.jpg
					Kassadin_Q.jpg
					Kassadin_R.jpg
					Kassadin_W.jpg
					Katarina_BouncingBlade.jpg
					Katarina_DeathLotus.jpg
					Katarina_E.jpg
					Katarina_KillerInstincts.jpg
					Katarina_Passive.jpg
					Katarina_Q.jpg
					Katarina_R.jpg
					Katarina_Shunpo.jpg
					Katarina_Voracity.jpg
					Katarina_W.jpg
					Kayle_E.jpg
					Kayle_Passive.jpg
					Kayle_Q.jpg
					Kayle_R.jpg
					Kayle_W.jpg
					Kennen_ElectricalSurge.jpg
					Kennen_LightningRush.jpg
					Kennen_MarkOfStorm.jpg
					Kennen_SlicingMaelstrom.jpg
					Kennen_ThunderingShuriken.jpg
					Khazix_E.jpg
					Khazix_E_red.jpg
					Khazix_P.jpg
					Khazix_Q.jpg
					Khazix_Q_red.jpg
					Khazix_R.jpg
					Khazix_R_count.jpg
					Khazix_R_red.jpg
					Khazix_W.jpg
					Khazix_W_red.jpg
					Kindred_E.jpg
					Kindred_Passive.jpg
					Kindred_Q.jpg
					Kindred_R.jpg
					Kindred_W.jpg
					KogMaw_BioArcaneBarrage.jpg
					KogMaw_CausticSpittle.jpg
					KogMaw_IcathianSurprise.jpg
					KogMaw_LivingArtillery.jpg
					KogMaw_VoidOoze.jpg
					LeblancConjureChains.jpg
					LeblancDisplacement.jpg
					LeblancMarkOfSilence.jpg
					LeblancMimic.jpg
					LeblancMirrorImage.jpg
					LeeSinPassive.jpg
					LeonaShieldOfDaybreak.jpg
					LeonaSolarBarrier.jpg
					LeonaSolarFlare.jpg
					LeonaSunlight.jpg
					LeonaZenithBlade.jpg
					Lissandra_E.jpg
					Lissandra_Passive.jpg
					Lissandra_Q.jpg
					Lissandra_R.jpg
					Lissandra_W.jpg
					Lucian_E.jpg
					Lucian_Passive.jpg
					Lucian_Q.jpg
					Lucian_R.jpg
					Lucian_W.jpg
					Lulu_CommandPix.jpg
					Lulu_GiantGrowth.jpg
					Lulu_Glitterbolt.jpg
					Lulu_PixFaerieCompanion.jpg
					Lulu_Whimsy.jpg
					LuxCrashingBlitz2.jpg
					LuxFinaleFunkeln.jpg
					LuxIlluminatingFraulein.jpg
					LuxLightStrikeKugel.jpg
					LuxPrismaWrap.jpg
					Malphite_BrutalStrikes.jpg
					Malphite_GraniteShield.jpg
					Malphite_GroundSlam.jpg
					Malphite_SeismicShard.jpg
					Malphite_UnstoppableForce.jpg
					Maokai_E.jpg
					Maokai_Passive.jpg
					Maokai_Q.jpg
					Maokai_R.jpg
					Maokai_W.jpg
					MasterYi_E1.jpg
					MasterYi_E2.jpg
					MasterYi_Passive1.jpg
					MasterYi_Q.jpg
					MasterYi_R.jpg
					MasterYi_W.jpg
					Minotaur_ColossalStrength.jpg
					Minotaur_DeepSniff.jpg
					Minotaur_FerociousHowl.jpg
					Minotaur_Headbutt.jpg
					Minotaur_Pulverize.jpg
					Minotaur_TriumphantRoar.jpg
					MissFortune_BulletTime.jpg
					MissFortune_DoubleUp.jpg
					MissFortune_E.jpg
					MissFortune_ImpureShots.jpg
					MissFortune_MakeItRain.jpg
					MissFortune_Passive.jpg
					MissFortune_Q.jpg
					MissFortune_R.jpg
					MissFortune_Strut.jpg
					MissFortune_W.jpg
					MonkeyKingCrushingBlow.jpg
					MonkeyKingCyclone.jpg
					MonkeyKingDecoy.jpg
					MonkeyKingNimbusStrike.jpg
					MonkeyKingStoneSkin.jpg
					MordekaiserCreepingDeath.jpg
					MordekaiserE.jpg
					MordekaiserMaceOfSpades.jpg
					MordekaiserPassive.jpg
					MordekaiserQ.jpg
					MordekaiserR.jpg
					MordekaiserSiphonOfDestruction.jpg
					MordekaiserW.jpg
					Mordekaiser_COTG.jpg
					Mordekaiser_IronMan.jpg
					Morgana_E.jpg
					Morgana_Passive.jpg
					Morgana_Q.jpg
					Morgana_R.jpg
					Morgana_W.jpg
					NamiE.jpg
					NamiPassive.jpg
					NamiQ.jpg
					NamiR.jpg
					NamiW.jpg
					Nasus_E.jpg
					Nasus_Passive.jpg
					Nasus_Q.jpg
					Nasus_R.jpg
					Nasus_W.jpg
					Nautilus_AnchorChain.jpg
					Nautilus_GrandLine.jpg
					Nautilus_RippleEffect.jpg
					Nautilus_StaggeringBlow.jpg
					Nautilus_Target.jpg
					Nautilus_Wrath.jpg
					Nidalee_E1.jpg
					Nidalee_E2.jpg
					Nidalee_Passive.jpg
					Nidalee_Q1.jpg
					Nidalee_Q2.jpg
					Nidalee_R1.jpg
					Nidalee_R2.jpg
					Nidalee_W1.jpg
					Nidalee_W2.jpg
					Nocturne_Duskbringer.jpg
					Nocturne_Paranoia.jpg
					Nocturne_ShroudOfDarkness.jpg
					Nocturne_UmbraBlades.jpg
					Nocturne_UnspeakableHorror.jpg
					OlafAxeThrow.jpg
					OlafBerserkerRage.jpg
					OlafRagnarok.jpg
					OlafRecklessSwing.jpg
					OlafViciousStrikes.jpg
					Olaf_E.jpg
					Olaf_Passive.jpg
					Olaf_Q.jpg
					Olaf_R.jpg
					Olaf_W.jpg
					OriannaCommandAttack.jpg
					OriannaCommandDetonate.jpg
					OriannaCommandDissonance.jpg
					OriannaCommandRedact.jpg
					OriannaPassive.jpg
					OriannaPowerDagger.jpg
					Pantheon_AOZ.jpg
					Pantheon_CD.jpg
					Pantheon_GrandSkyFall.jpg
					Pantheon_HSS.jpg
					Pantheon_LeapBash.jpg
					Pantheon_SpearShot.jpg
					PetAttack.jpg
					Pirate_CannonBarrage.jpg
					Pirate_GrogSoakedBlade.jpg
					Pirate_Parley.jpg
					Pirate_RaiseMorale.jpg
					Pirate_RemoveScurvy.jpg
					PlantKing_AnimateEntangler.jpg
					PlantKing_AnimateThornspitter.jpg
					PlantKing_AnimateVitalis.jpg
					PlantKing_Entrench.jpg
					PlantKing_Sprout.jpg
					PlantKing_Thorns.jpg
					Poppy_E.jpg
					Poppy_Passive.jpg
					Poppy_Q.jpg
					Poppy_R.jpg
					Poppy_W.jpg
					Quinn_E.jpg
					Quinn_Passive.jpg
					Quinn_Q.jpg
					Quinn_R1.jpg
					Quinn_R2.jpg
					Quinn_W.jpg
					RekSai_E1.jpg
					RekSai_E2.jpg
					RekSai_Passive.jpg
					RekSai_Q1.jpg
					RekSai_Q2.jpg
					RekSai_R.jpg
					RekSai_W1.jpg
					RekSai_W2.jpg
					Renekton_Cleave.jpg
					Renekton_Dominus.jpg
					Renekton_Execute.jpg
					Renekton_Predator.jpg
					Renekton_SliceAndDice.jpg
					RengarE.jpg
					RengarEReg.jpg
					RengarQ.jpg
					RengarQReg.jpg
					RengarUlt.jpg
					RengarW.jpg
					RengarWReg.jpg
					Rengar_Passive.jpg
					RivenBladeoftheExile.jpg
					RivenBrokenWings.jpg
					RivenKiShout.jpg
					RivenPathoftheExile.jpg
					RivenRunicBlades.jpg
					RivenWindScar.jpg
					Rumble_Electro_Harpoon.jpg
					Rumble_Flamespitter.jpg
					Rumble_Junkyard_Titan1.jpg
					Rumble_R.jpg
					Rumble_Scrap_Shield.jpg
					Ryze_E.jpg
					Ryze_P.jpg
					Ryze_Q.jpg
					Ryze_R.jpg
					Ryze_W.jpg
					SadMummy_AuraOfDespair.jpg
					SadMummy_BandAidThingy.jpg
					SadMummy_BandageFlinger.jpg
					SadMummy_CorpseExplosion.jpg
					SadMummy_DisgustingSneeze.jpg
					SadMummy_Tantrum.jpg
					SecondSight_temp.jpg
					Sejuani_E_bright.jpg
					Sejuani_E_dark.jpg
					Sejuani_Passive.jpg
					Sejuani_Q.jpg
					Sejuani_R.jpg
					Sejuani_W.jpg
					Shen_E.jpg
					Shen_Passive.jpg
					Shen_Q.jpg
					Shen_Q_StrongBuff.jpg
					Shen_Q_WeakBuff.jpg
					Shen_R.jpg
					Shen_R_Buff.jpg
					Shen_W.jpg
					ShyvanaDragonsDescent.jpg
					ShyvanaFlameBreath.jpg
					ShyvanaReinforcedScales.jpg
					ShyvanaScorchedEarth.jpg
					ShyvanaTwinBite.jpg
					Singed_E.jpg
					Singed_Passive.jpg
					Singed_Q.jpg
					Singed_R.jpg
					Singed_W.jpg
					Sion_E.jpg
					Sion_Passive1.jpg
					Sion_Passive2.jpg
					Sion_Q.jpg
					Sion_R1.jpg
					Sion_R2.jpg
					Sion_W1.jpg
					Sion_W2.jpg
					Sivir_E.jpg
					Sivir_Passive.jpg
					Sivir_Q.jpg
					Sivir_R.jpg
					Sivir_W.jpg
					Skarner_E.jpg
					Skarner_Passive.jpg
					Skarner_Q.jpg
					Skarner_R.jpg
					Skarner_W.jpg
					Sona_E.jpg
					Sona_Passive_Charged.jpg
					Sona_Q.jpg
					Sona_R.jpg
					Sona_W.jpg
					Soraka_E.jpg
					Soraka_Passive.jpg
					Soraka_Q.jpg
					Soraka_R.jpg
					Soraka_W.jpg
					SpellToggleIcon.jpg
					SwainCarrionRenewal.jpg
					SwainDecrepify.jpg
					SwainNevermove.jpg
					SwainRavenousFlock.jpg
					SwainTorment.jpg
					SyndraE.jpg
					SyndraPassive.jpg
					SyndraQ.jpg
					SyndraR.jpg
					SyndraW.jpg
					SyndraW2.jpg
					TahmKench_E.jpg
					TahmKench_P.jpg
					TahmKench_Q.jpg
					TahmKench_R1.jpg
					TahmKench_R2.jpg
					TahmKench_W1.jpg
					TahmKench_W2.jpg
					TalonCutthroat.jpg
					TalonMercy.jpg
					TalonNoxianDiplomacy.jpg
					TalonRake.jpg
					TalonShadowAssault.jpg
					Taric_E.jpg
					Taric_Passive.jpg
					Taric_Q.jpg
					Taric_R.jpg
					Taric_W.jpg
					Taunt.jpg
					Teemo_Bombardment.jpg
					Teemo_Camouflage.jpg
					Teemo_E.jpg
					Teemo_EagleEye.jpg
					Teemo_ExhaustiveDart.jpg
					Teemo_Mechnobot.jpg
					Teemo_MoveQuick.jpg
					Teemo_MoveQuick2.jpg
					Teemo_P.jpg
					Teemo_P_Buff.jpg
					Teemo_PoisonedDart.jpg
					Teemo_Q.jpg
					Teemo_R.jpg
					Teemo_Sharpshooter.jpg
					Teemo_TacticalStrike.jpg
					Teemo_TranquilizingShot.jpg
					Teemo_W.jpg
					Thresh_E.jpg
					Thresh_Passive.jpg
					Thresh_Q.jpg
					Thresh_R.jpg
					Thresh_W.jpg
					Tristana_E.jpg
					Tristana_Passive.jpg
					Tristana_Q.jpg
					Tristana_R.jpg
					Tristana_W.jpg
					Trundle_E.jpg
					Trundle_Passive.jpg
					Trundle_Q.jpg
					Trundle_R.jpg
					Trundle_W.jpg
					Tryndamere_E.jpg
					Tryndamere_Passive.jpg
					Tryndamere_Q.jpg
					Tryndamere_R.jpg
					Tryndamere_W.jpg
					Twitch_E.jpg
					Twitch_Passive.jpg
					Twitch_Q.jpg
					Twitch_R.jpg
					Twitch_W.jpg
					Udyr_BearStance.jpg
					Udyr_MonkeysAgility.jpg
					Udyr_PhoenixStance.jpg
					Udyr_TigerStance.jpg
					Udyr_TurtleStance.jpg
					UrgotAcidHunter.jpg
					UrgotCorrosiveCharge.jpg
					UrgotPositionReverser.jpg
					UrgotTerrorCapacitor.jpg
					Urgot_Passive.jpg
					VarusE.jpg
					VarusPassive.jpg
					VarusQ.jpg
					VarusR.jpg
					VarusW.jpg
					Vayne_Condemn.jpg
					Vayne_Inquisition.jpg
					Vayne_NightHunter.jpg
					Vayne_SilveredBolts.jpg
					Vayne_Tumble.jpg
					VeigarBalefulStrike.jpg
					VeigarDarkMatter.jpg
					VeigarEventHorizon.jpg
					VeigarPrimordialBurst.jpg
					Veigar_Entropy.jpg
					VelKoz_E.jpg
					VelKoz_Passive.jpg
					VelKoz_Q1.jpg
					VelKoz_Q2.jpg
					VelKoz_R.jpg
					VelKoz_W.jpg
					ViAgitate.jpg
					ViE.jpg
					ViE2.jpg
					ViOnTheCase.jpg
					ViPassive.jpg
					ViQ.jpg
					ViR.jpg
					ViW.jpg
					ViW2.jpg
					ViktorChaosStorm.jpg
					ViktorDeathRay.jpg
					ViktorEvolvingTechnology.jpg
					ViktorGravitonField.jpg
					ViktorPowerTransfer.jpg
					Viktor_E1.jpg
					Viktor_E2.jpg
					Viktor_Passive.jpg
					Viktor_Q1.jpg
					Viktor_Q2.jpg
					Viktor_Q_Buff.jpg
					Viktor_R1.jpg
					Viktor_R2.jpg
					Viktor_R_Guide.jpg
					Viktor_W1.jpg
					Viktor_W2.jpg
					Vladimir_BloodGorged.jpg
					Vladimir_Hemoplague.jpg
					Vladimir_SanguinePool.jpg
					Vladimir_TidesofBlood.jpg
					Vladimir_Transfusion.jpg
					Voidwalker_DampingVoid.jpg
					Voidwalker_Exploit.jpg
					Voidwalker_Netherburn.jpg
					Voidwalker_Nullblade.jpg
					Voidwalker_Riftwalk.jpg
					Voidwalker_Spellseal.jpg
					VolibearE.jpg
					VolibearPassive.jpg
					VolibearQ.jpg
					VolibearR.jpg
					VolibearW.jpg
					Warwick_InnerHunger.jpg
					WaterWizard_Entrench.jpg
					WaterWizard_SoothingAura.jpg
					WaterWizard_Torrent.jpg
					WaterWizard_Typhoon.jpg
					WaterWizard_Vortex.jpg
					WaterWizard_WaterElemental.jpg
					Wolfman_BloodScent.jpg
					Wolfman_FrenziedStrikes.jpg
					Wolfman_FuryStance.jpg
					Wolfman_InfiniteDuress.jpg
					Wolfman_Pounce.jpg
					Wolfman_SeverArmor.jpg
					XenZhao_BattleCry.jpg
					XenZhao_Charge.jpg
					XenZhao_CrescentSweepNew.jpg
					XenZhao_ThreeTalon.jpg
					XenZhao_TirelessWarrior.jpg
					Xerath_E1.jpg
					Xerath_Passive1.jpg
					Xerath_Q1.jpg
					Xerath_R1.jpg
					Xerath_W1.jpg
					XinZhao_BattleCry.jpg
					XinZhao_Charge.jpg
					XinZhao_CrescentSweep.jpg
					XinZhao_ThreeTalon.jpg
					XinZhao_TirelessWarrior.jpg
					Yasuo_E.jpg
					Yasuo_Passive.jpg
					Yasuo_Q1.jpg
					Yasuo_R.jpg
					Yasuo_W.jpg
					Yeti_Consume.jpg
					Yeti_FrostNova.jpg
					Yeti_IceBlast.jpg
					Yeti_Shatter.jpg
					Yeti_YetiSmash.jpg
					YorickOmenOfDeath.jpg
					YorickOmenOfFamine.jpg
					YorickOmenOfPestilence.jpg
					YorickOmenOfWar.jpg
					YorickUnholyCovenant.jpg
					ZacE.jpg
					ZacPassive.jpg
					ZacQ.jpg
					ZacR.jpg
					ZacW.jpg
					Ziggs_Icon.jpg
					ZiggsE.jpg
					ZiggsPassiveReady.jpg
					ZiggsQ.jpg
					ZiggsR.jpg
					ZiggsW.jpg
					Zilean_E.jpg
					Zilean_Passive.jpg
					Zilean_Q.jpg
					Zilean_R.jpg
					Zilean_W.jpg
					ZyraE.jpg
					ZyraP.jpg
					ZyraQ.jpg
					ZyraR.jpg
					ZyraW.jpg
					shadowninja_E.jpg
					shadowninja_P.jpg
					shadowninja_Q.jpg
					shadowninja_R.jpg
					shadowninja_w.jpg
				</div>
				<div id="lol_abilities_menu"></div>
			</div>
		</div>
		<div class="tab-pane" id="lol_spells_tab">
			<div class="row">
				<div id="lol_spells_list" data-path="lol_spells" data-scale="1" data-height="45" data-no_color="true" data-style="lol_spells.css" hidden>	
					spellButton0.jpg
					spellButton1.jpg
					spellButton2.jpg
					spellButton3.jpg
					spellButton4.jpg
					spellButton5.jpg
					spellButton6.jpg
					spellButton7.jpg
					spellButton8.jpg
					spellButton9.jpg
					spellButton10.jpg
					spellButton11.jpg
				</div>
				<div id="lol_spells_menu"></div>				
			</div>
		</div>
		<div class="tab-pane" id="lol_runes_tab">
			<div class="row">
				<div id="lol_runes_list" data-path="lol_runes" data-scale="1" data-height="45" data-no_color="true" data-style="lol_runes.css" hidden>	
					10001.png
					10002.png
					8001.png
					8002.png
					8003.png
					8004.png
					8005.png
					8006.png
					8007.png
					8008.png
					8009.png
					8010.png
					8011.png
					8012.png
					8013.png
					8014.png
					8015.png
					8016.png
					8017.png
					8018.png
					8019.png
					8020.png
					8021.png
					8022.png
					8035.png
					b_1_1.png
					b_1_2.png
					b_1_3.png
					b_2_1.png
					b_2_2.png
					b_2_3.png
					b_3_1.png
					b_3_2.png
					b_3_3.png
					b_4_1.png
					b_4_2.png
					b_4_3.png
					bl_1_1.png
					bl_1_2.png
					bl_1_3.png
					bl_2_1.png
					bl_2_2.png
					bl_2_3.png
					bl_3_1.png
					bl_3_2.png
					bl_3_3.png
					bl_4_1.png
					bl_4_2.png
					bl_4_3.png
					blue_i3.png
					blue_i5.png
					blue_i7.png
					files.txt
					gold_i3.png
					gold_i5.png
					gold_i7.png
					r_1_1.png
					r_1_2.png
					r_1_3.png
					r_2_1.png
					r_2_2.png
					r_2_3.png
					r_3_1.png
					r_3_2.png
					r_3_3.png
					r_4_1.png
					r_4_2.png
					r_4_3.png
					red_i3.png
					red_i5.png
					red_i7.png
					runeTargetDisabledLarge10.png
					runeTargetDisabledLarge20.png
					runeTargetDisabledLarge30.png
					y_1_1.png
					y_1_2.png
					y_1_3.png
					y_2_1.png
					y_2_2.png
					y_2_3.png
					y_3_1.png
					y_3_2.png
					y_3_3.png
					y_4_1.png
					y_4_2.png
					y_4_3.png
					yellow_i3.png
					yellow_i5.png
					yellow_i7.png
				</div>
				<div id="lol_runes_menu"></div>			
			</div>
		</div>
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br />
