<option value="">&nbsp;</option>
<option data-size="15000x15000" value="<%=static_host%>/maps/lol/rift.jpg"><%=l("Summoner's Rift")%></option>
<option value="<%=static_host%>/maps/lol/twisted_treeline.jpg"><%=l("Twisted Treeline")%></option>
<option value="<%=static_host%>/maps/lol/howling_abyss.jpg"><%=l("Howling abyss")%></option>
