<option value=""> </option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/frost.jpg"><%=l('Boreal Vault')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/frost_cw.jpg"><%=l('Boreal Vault')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/frost_training.jpg"><%=l('Boreal Vault')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/mountain.jpg"><%=l('Emerald Taiga')%></option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/mountain_cw.jpg"><%=l('Emerald Taiga')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/mountain_training.jpg"><%=l('Emerald Taiga')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/crystals.jpg"><%=l('Grim Portico')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/crystals_cw.jpg"><%=l('Grim Portico')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/crystals_training.jpg"><%=l('Grim Portico')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/gorge.jpg"><%=l('Hellebore Springs')%></option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/gorge_cw.jpg"><%=l('Hellebore Springs')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/gorge_training.jpg"><%=l('Hellebore Springs')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/badlands.jpg"><%=l('Sulfurous Rift')%></option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/badlands_cw.jpg"><%=l('Sulfurous Rift')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/badlands_training.jpg"><%=l('Sulfurous Rift')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase.jpg"><%=l('Vitric Forge')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_cw.jpg"><%=l('Vitric Forge')%> (<%=l('Community Warfare')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_training.jpg"><%=l('Vitric Forge')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks.jpg"><%=l('Alpine Peaks')%></option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks_assault.jpg"><%=l('Alpine Peaks')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks_conquest.jpg"><%=l('Alpine Peaks')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks_domination.jpg"><%=l('Alpine Peaks')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks_skirmish.jpg"><%=l('Alpine Peaks')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/alpinepeaks_training.jpg"><%=l('Alpine Peaks')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth.jpg"><%=l('Grim Plexus')%></option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth_assault.jpg"><%=l('Grim Plexus')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth_conquest.jpg"><%=l('Grim Plexus')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth_domination.jpg"><%=l('Grim Plexus')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth_skirmish.jpg"><%=l('Grim Plexus')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/bismuth_training.jpg"><%=l('Grim Plexus')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork.jpg"><%=l('Canyon Network')%></option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork_assault.jpg"><%=l('Canyon Network')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork_conquest.jpg"><%=l('Canyon Network')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork_domination.jpg"><%=l('Canyon Network')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork_skirmish.jpg"><%=l('Canyon Network')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO7.png" value="<%=static_host%>/maps/MWO/canyonnetwork_training.jpg"><%=l('Canyon Network')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley.jpg"><%=l('Caustic Valley')%></option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley_assault.jpg"><%=l('Caustic Valley')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley_conquest.jpg"><%=l('Caustic Valley')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley_domination.jpg"><%=l('Caustic Valley')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley_skirmish.jpg"><%=l('Caustic Valley')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/causticvalley_training.jpg"><%=l('Caustic Valley')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony.jpg"><%=l('Forest Colony')%></option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony_assault.jpg"><%=l('Forest Colony')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony_conquest.jpg"><%=l('Forest Colony')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony_domination.jpg"><%=l('Forest Colony')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony_skirmish.jpg"><%=l('Forest Colony')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO15.png" value="<%=static_host%>/maps/MWO/forestcolony_training.jpg"><%=l('Forest Colony')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity.jpg"><%=l('Frozen City')%></option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity_assault.jpg"><%=l('Frozen City')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity_conquest.jpg"><%=l('Frozen City')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity_domination.jpg"><%=l('Frozen City')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity_skirmish.jpg"><%=l('Frozen City')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/frozencity_training.jpg"><%=l('Frozen City')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night.jpg"><%=l('Frozen City Night')%></option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night_assault.jpg"><%=l('Frozen City Night')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night_conquest.jpg"><%=l('Frozen City Night')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night_domination.jpg"><%=l('Frozen City Night')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night_skirmish.jpg"><%=l('Frozen City Night')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/frozencity_night_training.jpg"><%=l('Frozen City Night')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis.jpg"><%=l('Crimson Strait')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis_assault.jpg"><%=l('Crimson Strait')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis_conquest.jpg"><%=l('Crimson Strait')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis_domination.jpg"><%=l('Crimson Strait')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis_skirmish.jpg"><%=l('Crimson Strait')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/islandmetropolis_training.jpg"><%=l('Crimson Strait')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld.jpg"><%=l('Terra Therma')%></option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld_assault.jpg"><%=l('Terra Therma')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld_conquest.jpg"><%=l('Terra Therma')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld_domination.jpg"><%=l('Terra Therma')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld_skirmish.jpg"><%=l('Terra Therma')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO12.png" value="<%=static_host%>/maps/MWO/lavaworld_training.jpg"><%=l('Terra Therma')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory.jpg"><%=l('The Mining Collective')%></option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory_assault.jpg"><%=l('The Mining Collective')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory_conquest.jpg"><%=l('The Mining Collective')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory_domination.jpg"><%=l('The Mining Collective')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory_skirmish.jpg"><%=l('The Mining Collective')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/mechfactory_training.jpg"><%=l('The Mining Collective')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase.jpg"><%=l('HPG Manifold')%></option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase_assault.jpg"><%=l('HPG Manifold')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase_conquest.jpg"><%=l('HPG Manifold')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase_domination.jpg"><%=l('HPG Manifold')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase_skirmish.jpg"><%=l('HPG Manifold')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO9.png" value="<%=static_host%>/maps/MWO/moonbase_training.jpg"><%=l('HPG Manifold')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands.jpg"><%=l('Polar Highlands')%></option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands_assault.jpg"><%=l('Polar Highlands')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands_conquest.jpg"><%=l('Polar Highlands')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands_domination.jpg"><%=l('Polar Highlands')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands_skirmish.jpg"><%=l('Polar Highlands')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO16.png" value="<%=static_host%>/maps/MWO/polarhighlands_training.jpg"><%=l('Polar Highlands')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity.jpg"><%=l('River City')%></option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity_assault.jpg"><%=l('River City')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity_conquest.jpg"><%=l('River City')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity_domination.jpg"><%=l('River City')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity_skirmish.jpg"><%=l('River City')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO11.png" value="<%=static_host%>/maps/MWO/rivercity_training.jpg"><%=l('River City')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night.jpg"><%=l('River City Night')%></option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night_assault.jpg"><%=l('River City Night')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night_conquest.jpg"><%=l('River City Night')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night_domination.jpg"><%=l('River City Night')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night_skirmish.jpg"><%=l('River City Night')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO8.png" value="<%=static_host%>/maps/MWO/rivercity_night_training.jpg"><%=l('River City Night')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase.jpg"><%=l('Vitric Forge')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_assault.jpg"><%=l('Vitric Forge')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_conquest.jpg"><%=l('Vitric Forge')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_domination.jpg"><%=l('Vitric Forge')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_skirmish.jpg"><%=l('Vitric Forge')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/spacebase_training.jpg"><%=l('Vitric Forge')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp.jpg"><%=l('Viridian Bog')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp_assault.jpg"><%=l('Viridian Bog')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp_conquest.jpg"><%=l('Viridian Bog')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp_domination.jpg"><%=l('Viridian Bog')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp_skirmish.jpg"><%=l('Viridian Bog')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/terraceswamp_training.jpg"><%=l('Viridian Bog')%> (<%=l('Training')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert.jpg"><%=l('Tourmaline Dessert')%></option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert_assault.jpg"><%=l('Tourmaline Dessert')%> (<%=l('Assault')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert_conquest.jpg"><%=l('Tourmaline Dessert')%> (<%=l('Conquest')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert_domination.jpg"><%=l('Tourmaline Dessert')%> (<%=l('Domination')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert_skirmish.jpg"><%=l('Tourmaline Dessert')%> (<%=l('Skirmish')%>)</option>
<option data-grid="grid_MWO10.png" value="<%=static_host%>/maps/MWO/tourmalinedesert_training.jpg"><%=l('Tourmaline Dessert')%> (<%=l('Training')%>)</option>
