<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <li><a class="icon_group" id="isl" data-toggle="tab" href="#isl_tab"><%=l('ISL')%></a></li>
	  <li><a class="icon_group" id="ism" data-toggle="tab" href="#ism_tab"><%=l('ISM')%></a></li>
	  <li><a class="icon_group" id="ish" data-toggle="tab" href="#ish_tab"><%=l('ISH')%></a></li>
	  <li><a class="icon_group" id="isa" data-toggle="tab" href="#isa_tab"><%=l('ISA')%></a></li>
	  <li><a class="icon_group" id="clanl" data-toggle="tab" href="#clanl_tab"><%=l('CLANL')%></a></li>
	  <li><a class="icon_group" id="clanm" data-toggle="tab" href="#clanm_tab"><%=l('CLANM')%></a></li>
	  <li><a class="icon_group" id="clanh" data-toggle="tab" href="#clanh_tab"><%=l('CLANH')%></a></li>
	  <li><a class="icon_group" id="clana" data-toggle="tab" href="#clana_tab"><%=l('CLANA')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
		<div class="tab-pane" id="isl_tab">
			<div class="row">
				<button id="MWO/islight1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('LCT')%>">
					<div class="MWO_icons MWO_icons-islight1 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('COM')%>">
					<div class="MWO_icons MWO_icons-islight2 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('SDR')%>">
					<div class="MWO_icons MWO_icons-islight3 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('UM')%>">
					<div class="MWO_icons MWO_icons-islight4 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight5.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('RVN')%>">
					<div class="MWO_icons MWO_icons-islight5 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight6.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('PNT')%>">
					<div class="MWO_icons MWO_icons-islight6 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight7.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('JR7')%>">
					<div class="MWO_icons MWO_icons-islight7 inline"></div><span>0</span>
				</button>
				<button id="MWO/islight8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('FS9')%>">
					<div class="MWO_icons MWO_icons-islight8 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="ism_tab">
			<div class="row">
				<button id="MWO/ismed1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('BJ')%>">
					<div class="MWO_icons MWO_icons-ismed1 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('VND')%>">
					<div class="MWO_icons MWO_icons-ismed2 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('CN9')%>">
					<div class="MWO_icons MWO_icons-ismed3 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('HBK')%>">
					<div class="MWO_icons MWO_icons-ismed4 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed5.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('ENF')%>">
					<div class="MWO_icons MWO_icons-ismed5 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed6.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('TBT')%>">
					<div class="MWO_icons MWO_icons-ismed6 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed7.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('KTO')%>">
					<div class="MWO_icons MWO_icons-ismed7 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('GRF')%>">
					<div class="MWO_icons MWO_icons-ismed8 inline"></div><span>0</span>
				</button>
				<button id="MWO/ismed8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('WVR')%>">
					<div class="MWO_icons MWO_icons-ismed8 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="ish_tab">
			<div class="row">
				<button id="MWO/isheavy1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('SHD')%>">
					<div class="MWO_icons MWO_icons-isheavy1 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('DR3')%>">
					<div class="MWO_icons MWO_icons-isheavy2 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('QKD')%>">
					<div class="MWO_icons MWO_icons-isheavy3 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('CPLT')%>">
					<div class="MWO_icons MWO_icons-isheavy4 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy5.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('JM6')%>">
					<div class="MWO_icons MWO_icons-isheavy5 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy6.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('TDR')%>">
					<div class="MWO_icons MWO_icons-isheavy6 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy7.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('CTF')%>">
					<div class="MWO_icons MWO_icons-isheavy7 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('GHR')%>">
					<div class="MWO_icons MWO_icons-isheavy8 inline"></div><span>0</span>
				</button>
				<button id="MWO/isheavy8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('ON1')%>">
					<div class="MWO_icons MWO_icons-isheavy8 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="isa_tab">
			<div class="row">
				<button id="MWO/isassault1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('AWS')%>">
					<div class="MWO_icons MWO_icons-isassault1 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('VTR')%>">
					<div class="MWO_icons MWO_icons-isassault2 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('ZEU')%>">
					<div class="MWO_icons MWO_icons-isassault3 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('BLR')%>">
					<div class="MWO_icons MWO_icons-isassault4 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault5.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('STK')%>">
					<div class="MWO_icons MWO_icons-isassault5 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault6.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('HGN')%>">
					<div class="MWO_icons MWO_icons-isassault6 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault7.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('BNC')%>">
					<div class="MWO_icons MWO_icons-isassault7 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('KGC')%>">
					<div class="MWO_icons MWO_icons-isassault8 inline"></div><span>0</span>
				</button>
				<button id="MWO/isassault8.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('AS7')%>">
					<div class="MWO_icons MWO_icons-isassault8 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="clanl_tab">
			<div class="row">
				<button id="MWO/clanlight1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('ADR')%>">
					<div class="MWO_icons MWO_icons-clanlight1 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanlight2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('KFX')%>">
					<div class="MWO_icons MWO_icons-clanlight2 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanlight3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('MLX')%>">
					<div class="MWO_icons MWO_icons-clanlight3 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanlight4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('ACH')%>">
					<div class="MWO_icons MWO_icons-clanlight4 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="clanm_tab">
			<div class="row">
				<button id="MWO/clanmed1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('SCR')%>">
					<div class="MWO_icons MWO_icons-clanmed1 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanmed2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('NVA')%>">
					<div class="MWO_icons MWO_icons-clanmed2 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanmed3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('IFR')%>">
					<div class="MWO_icons MWO_icons-clanmed3 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanmed4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('SHX')%>">
					<div class="MWO_icons MWO_icons-clanmed4 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="clanh_tab">
			<div class="row">
				<button id="MWO/clanheavy1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('TBR')%>">
					<div class="MWO_icons MWO_icons-clanheavy1 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanheavy2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('SMN')%>">
					<div class="MWO_icons MWO_icons-clanheavy2 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanheavy3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('HBR')%>">
					<div class="MWO_icons MWO_icons-clanheavy3 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanheavy4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('EBJ')%>">
					<div class="MWO_icons MWO_icons-clanheavy4 inline"></div><span>0</span>
				</button>
				<button id="MWO/clanheavy5.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('MDD')%>">
					<div class="MWO_icons MWO_icons-clanheavy5 inline"></div><span>0</span>
				</button>
			</div>
		</div>
		<div class="tab-pane" id="clana_tab">
			<button id="MWO/clanassault1.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('DWF')%>">
				<div class="MWO_icons MWO_icons-clanassault1 inline"></div><span>0</span>
			</button>
			<button id="MWO/clanassault2.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('WHK')%>">
				<div class="MWO_icons MWO_icons-clanassault2 inline"></div><span>0</span>
			</button>
			<button id="MWO/clanassault3.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('GAR')%>">
				<div class="MWO_icons MWO_icons-clanassault3 inline"></div><span>0</span>
			</button>
			<button id="MWO/clanassault4.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('EXE')%>">
				<div class="MWO_icons MWO_icons-clanassault4 inline"></div><span>0</span>
			</button>
		</div>
	</div>
</div>

<br/>