<%home = "/"+game%>

<nav class="navbar navbar-default navbar-inverse" style="border-radius: 0;">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav nav-pills">
				<li id="home">
				<a class="navbar-brand" href="<%=home%>">
					<% if (game == 'wot') { %>
						WOT Tactics
					<% } else if (game == 'wows') { %>
						WOWS Tactics
					<% } else if (game == 'blitz') { %>
						Blitz Tactics
					<% } else if (game == 'aw') { %>
						AW Tactics
					<% } else if (game == 'lol') { %>
						Lol Tactics
					<% } else if (game == 'hots') { %>
						Hots Tactics
					<% } else if (game == 'sc2') { %>
						SC2 Tactics
					<% } else if (game == 'csgo') { %>
						CS:GO Tactics
					<% } else if (game == 'warface') { %>
						Warface Tactics
					<% } else if (game == 'squad') { %>
						Squad Tactics
					<% } %>
				</a>
				<li>		
			</ul>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav nav-pills">
			<% if (user.identity) { %>
				<li id="stored_tactics"><a href="stored_tactics.html?game=<%=game%>"><%=l('Stored tactics')%></a></li>
			<% } %>
			<li id="getting_started"><a href="getting_started.html"><%=l('Getting started')%></a></li>
			<li id="about"><a href="about.html"><%=l('About')%></a></li>
			<li id="forum"><a href="http://forum.<%=url.split('/')[0]%>/forums/"><%=l('Forums')%></a></li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				  <%=l('Other Games')%><span class="caret"></span>
				</a>
				<ul class="dropdown-menu" style="z-index:10">
					<li><a href="http://wottactic.com"><div class="inline icon icon-wot"></div>&nbsp; World of Tanks</a></li>
					<li><a href="http://wowstactic.tk"><div class="inline icon icon-wows"></div>&nbsp; World of Warships</a></li>
					<li><a href="http://wottactic.com/blitz.html"><div class="inline icon icon-blitz"></div>&nbsp; World of Tanks Blitz</a></li>
					<li><a href="http://awtactic.tk"><div class="inline icon icon-aw"></div>&nbsp; Armored Warfare</a></li>
					<li><a href="http://gametactic.org/lol"><div class="inline icon icon-lol_sm"></div>&nbsp; League of Legends</a></li>
					<li><a href="http://gametactic.org/hots"><div class="inline icon icon-hots_sm"></div>&nbsp; Heroes of the Storm</a></li>
					<li><a href="http://gametactic.org/sc2"><div class="inline icon icon-sc2_sm"></div>&nbsp; Starcraft II</a></li>
					<li><a href="http://gametactic.org/csgo"><div class="inline icon icon-csgo_sm"></div>&nbsp; CS:GO</a></li>
					<li><a href="http://gametactic.org/warface"><div class="inline icon icon-warface_sm"></div>&nbsp; Warface</a></li>
					<li><a href="http://gametactic.org/squad"><div class="inline icon icon-squad_sm"></div>&nbsp; Squad</a></li>
				</ul>
			</li>
			<li><% include language_select.ejs %>
			<% include login_button.ejs %>
		</ul>
		</div>
	</div>
</nav>

