<%home = "/"+game%>

<nav class="navbar navbar-default navbar-inverse navbar-custom" style="border-radius: 0; font-size:120%;">
	<div id="main_navbar" class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-top:15px">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<ul class="nav navbar-nav nav-pills">
				<li id="home">
				<a href="<%=home%>">
				<h1>
					<% if (game == 'wot') { %>
						WOT Tactics
					<% } else if (game == 'wows') { %>
						WOWS Tactics
					<% } else if (game == 'blitz') { %>
						Blitz Tactics
					<% } else if (game == 'aw') { %>
						AW Tactics
					<% } else if (game == 'lol') { %>
						Lol Tactics
					<% } else if (game == 'hots') { %>
						Hots Tactics
					<% } else if (game == 'sc2') { %>
						SC2 Tactics
					<% } else if (game == 'csgo') { %>
						CS:GO Tactics
					<% } else if (game == 'warface') { %>
						Warface Tactics
					<% } else if (game == 'squad') { %>
						Squad Tactics
					<% } else if (game == 'R6') { %>
						R6 Siege Tactics
					<% } else if (game == 'MWO') { %>
						MWO Tactics
					<% } else if (game == 'EC') { %>
						EC Tactics
					<% } else if (game == 'propilkki2') { %>
						P2 Tactics
					<% } else if (game == 'pr') { %>
						PR Tactics
					<% } else if (game == 'clans') { %>
						Clas of Clans Tactics
					<% } else if (game == 'steelocean') { %>
						Steel ocean Tactics
					<% } else if (game == 'foxhole') { %>
						Foxhole Tactics
					<% } %>
				</h1>
				</a>
				<li>		
			</ul>
		</div>

		<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav nav-pills">
			<% if (user.identity) { %>
				<li id="stored_tactics"><a href="/stored_tactics?game=<%=game%>"><h2><%=l('Stored tactics')%></h2></a></li>
			<% } %>
			<% if (game == 'wot') { %>
				<li id="stats"><a class="beta_button" href="/player/"><h2><%=l('Stats')%></h2></a></li>
			<% }%>
			<li id="getting_started"><a href="/getting_started"><h2><%=l('Getting started')%></h2></a></li>
			<li id="forum"><a href="http://forum.<%=url.split('/')[0]%>/forums/"><h2><%=l('Forums')%></h2></a></li>
		</ul>

		<%if (!user.no_ads) {%>
			<div class="hidden-xs" style="background-color:white; width:728px; height:90px; margin-left:50px; margin-right:50px; margin-top:10px; margin-bottom:10px; float:left">
			<%if (game == 'wot' || game == 'wows' || game == 'blitz' || Math.random() <= 1) {%>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- main navbar -->
				<ins class="adsbygoogle hidden-xs"
					 style="display:inline-block;width:728px;height:90px"
					 data-ad-client="<%=secrets.adsense_id%>"
					 data-ad-slot="8003811790"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			<% } else { %>
				<% var ads; %>
				<% var path; %>
				<% if (Math.random() <= 0.5) { %>
					<% path = "/ads/wot/728x90/"; %>
					<% if (locale == 'ru') { %>
						<%ads = [{code: 3878, link:'WOT_Comics_728х90_RU.jpg'}, {code: 3724, link:'WoT_Sweden_TierX_728x90_RU.jpg'}, {code: 3298, link:'WOT_Adwords_728x90_2_RU.jpg'}];%>
					<% } else if (locale == 'de') { %>
						<%ads = [{code: 2147, link:'WoT_static_tank__728x90_1_DE.jpg'}, {code: 3739, link:'WoT_Sweden_TierX_728x90_DE.jpg'}];%>
					<% } else if (locale == 'fr') { %>	
						<%ads = [{code: 2974, link:'728x90_6_FR.jpg'}, {code: 3303, link:'WOT_Adwords_728x90_2_FR.jpg'}, {code: 3303, link:'WoT_Sweden_TierX_728x90_FR.jpg'}];%>
					<% } else if (locale == 'pl') { %>	
						<%ads = [{code: 2983, link:'728x90_6_PL.jpg'}, {code: 3293, link:'WOT_Adwords_728x90_2_PL.jpg'}, {code: 3729, link:'WoT_Sweden_TierX_728x90_PL.jpg'}];%>
					<% } else { %>
						<%ads = [{code: 2126, link:'WoT_static_tank_728x90_7_EN.jpg'}, {code: 2127, link:'WoT_static_tank_728x90_8_EN.jpg'}, {code: 2128, link:'WoT_static_tank_728x90_9_EN.jpg'}, {code: 2129, link:'WoT_static_tank_728x90_10_EN.jpg'}, {code: 3744, link:'WoT_Sweden_TierX_728x90_EN.jpg'}, {code: 3866, link:'WOT_Comics_728х90_EN.jpg'}];%>
					<% } %>
				<% } else { %>
					<% path = "/ads/wows/728x90/"; %>
					<% if (locale == 'ru') { %>
						<%ads = [{code: 2512, link:'WoWs_RU_728x90_5.jpg'}, {code: 2513, link:'WoWs_RU_728x90_3.jpg'}, {code: 2514, link:'WoWs_RU_728x90_1.jpg'}, {code: 2515, link:'WoWs_RU_728x90_2.jpg'}];%>  
					<% } else if (locale == 'de') { %>
						<%ads = [{code: 2399, link:'WoWs_DE_728x90_5.jpg'}, {code: 2400, link:'WoWs_DE_728x90_1.jpg'}, {code: 2400, link:'WoWs_DE_728x90_1.jpg'}, {code: 2401, link:'WoWs_DE_728x90_3.jpg'}, {code: 2402, link:'WoWs_DE_728x90_2.jpg'}];%> 
					<% } else if (locale == 'fr') { %>	
						<%ads = [{code: 2379, link:'WoWs_FR_728x90_3.jpg'}, {code: 2381, link:'WoWs_FR_728x90_2.jpg'}, {code: 2382, link:'WoWs_FR_728x90_1.jpg'}];%>
					<% } else if (locale == 'pl') { %>	
						<%ads = [{code: 2479, link:'WoWs_PL_728x90_1.jpg'}, {code: 2480, link:'WoWs_PL_728x90_5.jpg'}, {code: 2481, link:'WoWs_PL_728x90_2.jpg'}];%>
					<% } else { %>
						<%ads = [{code: 2341, link:'Wows_EN_728x90_1.jpg'}, {code: 2343, link:'Wows_EN_728x90_5.jpg'}, {code: 3341, link:'WOWS_German_Battleship_V1_Adwords_728x90_4_EN_NA.jpg'}, {code: 3416, link:'WOWS_British_Cruisers_Google_Adwords_728x90_3_EN_NA.jpg'}];%>
					<% } %>					
				<% } %>
				<%var ad = ads[Math.floor(ads.length * Math.random())]%>
				<a href="http://wgpartner.com/?a=777&c=+<%=ad.code%>+&s1="><img src="<%=static_host%><%=path%><%=ad.link%>" alt="wot_ad"></a>	
			<% } %>
			</div>
		<%}%>
				
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				  <%=l('Other Games')%><span class="caret"></span>
				</a>
				<ul class="dropdown-menu" style="z-index:10">
					<li><a href="http://wottactic.com"><div class="inline icon icon-wot_sm"></div>&nbsp; World of Tanks</a></li>
					<li><a href="http://wowstactic.tk"><div class="inline icon icon-wows_sm"></div>&nbsp; World of Warships</a></li>
					<li><a href="http://wottactic.com/blitz"><div class="inline icon icon-blitz_sm"></div>&nbsp; World of Tanks Blitz</a></li>
					<li><a href="http://awtactic.tk"><div class="inline icon icon-aw_sm"></div>&nbsp; Armored Warfare</a></li>
					<li><a href="http://gametactic.org/clans"><div class="inline icon icon-clans_sm"></div>&nbsp; Clash of clans</a></li>
					<li><a href="http://gametactic.org/foxhole"><div class="inline icon icon-foxhole_sm"></div>&nbsp; Foxhole</a></li>
					<li><a href="http://gametactic.org/lol"><div class="inline icon icon-lol_sm"></div>&nbsp; League of Legends</a></li>
					<li><a href="http://gametactic.org/hots"><div class="inline icon icon-hots_sm"></div>&nbsp; Heroes of the Storm</a></li>
					<li><a href="http://gametactic.org/sc2"><div class="inline icon icon-sc2_sm"></div>&nbsp; Starcraft II</a></li>
					<li><a href="http://gametactic.org/csgo"><div class="inline icon icon-csgo_sm"></div>&nbsp; CS:GO</a></li>
					<li><a href="http://gametactic.org/warface"><div class="inline icon icon-warface_sm"></div>&nbsp; Warface</a></li>
					<li><a href="http://gametactic.org/squad"><div class="inline icon icon-squad_sm"></div>&nbsp; Squad</a></li>
					<li><a href="http://gametactic.org/R6"><div class="inline icon icon-R6_sm"></div>&nbsp; Rainbox Six - Siege</a></li>
					<li><a href="http://gametactic.org/steelocean"><div class="inline icon icon-steelocean_sm"></div>&nbsp; Steel ocean</a></li>
					<li><a href="http://gametactic.org/MWO"><div class="inline icon icon-MWO_sm"></div>&nbsp; Mech Warrior Online</a></li>
					<li><a href="http://gametactic.org/EC"><div class="inline icon icon-EC_sm"></div>&nbsp; Eternal Crusade</a></li>
					<li><a href="http://gametactic.org/propilkki2"><div class="inline icon icon-propilkki2_sm"></div>&nbsp; Propilkki2</a></li>
					<li><a href="http://gametactic.org/pr"><div class="inline icon icon-pr_sm"></div>&nbsp; Project Reality</a></li>
					<li><a href="http://forum.<%=url.split('/')[0]%>/forums/topic/can-you-support-my-game/"><%=l('Support another game')%></a>					
				</ul>
			</li>
			<li><% include language_select.ejs %>
			<% include login_button.ejs %>
		</ul>
		</div>
	</div>
</nav>


