<%home = "/" %>
<%if (game == 'blitz') { %>
<%	home = "blitz.html" %>
<%} %>
<nav class="navbar navbar-inverse navbar-fixed-top container-fluid">
	<a class="navbar-brand" href="<%=home%>">
		<% if (game == 'wot') { %>
			WOT Tactics
		<% } else if (game == 'wows') { %>
			WOWS Tactics
		<% } else if (game == 'blitz') { %>
			Blitz Tactics
		<% } else if (game == 'aw') { %>
			AW Tactics
		<% } %>
	</a>
	<ul class="nav navbar-nav navbar-left container-fluid">
	    <% if (user.identity) { %>
		    <li><a href="stored_tactics.html" class=""><%=l('Stored tactics')%></a></li>
		<% } %>
		<li><a href="getting_started.html" class=""><%=l('Getting started')%></a></li>
		<li><a href="about.html" class=""><%=l('About')%></a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right container-fluid">+
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
			  <%=l('Other Games')%><span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="http://wottactic.tk">World of Tanks</a></li>
				<li><a href="http://wowstactic.tk">World of Warships</a></li>
				<li><a href="http://wottactic.tk/blitz.html">World of Tanks Blitz</a></li>
				<li><a href="http://awtactic.tk">Armored Warfare</a></li>
			</ul>
		</li>
		<% include language_select.ejs %>
		<% include login_button.ejs %>
	</ul>
<div id="result"></div>
</nav>

<hr>

