<%home = "/"+game%>

<nav class="navbar navbar-inverse navbar-fixed-top container-fluid">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="<%=home%>">
		<% if (game == 'wot') { %>
			WOT Tactics
		<% } else if (game == 'wows') { %>
			WOWS Tactics
		<% } else if (game == 'blitz') { %>
			Blitz Tactics
		<% } else if (game == 'aw') { %>
			AW Tactics
		<% } else if (game == 'lol') { %>
			Lol Tactics
		<% } else if (game == 'hots') { %>
			Hots Tactics
		<% } else if (game == 'sc2') { %>
			SC2 Tactics
		<% } else if (game == 'csgo') { %>
			CS:GO Tactics
		<% } else if (game == 'warface') { %>
			Warface Tactics
		<% } else if (game == 'squad') { %>
			Squad Tactics
		<% } %>
	</a>
	
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-left container-fluid">
			<% if (user.identity) { %>
				<li><a href="stored_tactics.html"><%=l('Stored tactics')%></a></li>
			<% } %>
			<li><a href="getting_started.html"><%=l('Getting started')%></a></li>
			<li><a href="about.html"><%=l('About')%></a></li>
			<li class="divider-vertical"></li>
			
			<li class="nav navbar-nav navbar-text"><%=l('Share:')%></li>
			<li data-toggle="tooltip" title="<%=l('Share on faceook')%>"><a id="facebook_link" href="https://www.facebook.com/dialog/share?app_id=580177672120479&display=popup&href="><i class="fa-lg icon-facebook"></i></a></li>
			
			<li data-toggle="tooltip" title="<%=l('Share on twitter')%>"><a id="twitter_link" href="https://twitter.com/intent/tweet?button_hashtag=wottactic&text= " data-url="http://wottactic.tk" data-dnt="true"><i class="fa-lg icon-twitter"></i></a></li>
			<li data-toggle="tooltip" title="<%=l('Share on google+')%>"><a id="google_link" href="https://plus.google.com/share?url=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa-lg icon-google-plus"></i></a></li>

			<li class="divider-vertical"></li>
			<li class="nav navbar-nav navbar-text"><%=l('Donate:')%></li>
			<li data-toggle="tooltip" title="<%=l('Donate using paypal')%>">
			<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=3DJZFARS4ZG2U"><i class="fa-lg icon-paypal"></i></a>
			</li>
			<li data-toggle="tooltip" title="<%=l('Become a patreon')%>">
			<a href="https://www.patreon.com/kalith"><i class="fa-lg icon-patreon"></i>
			</a></li>
	  
			<script type="text/javascript">
				document.addEventListener("DOMContentLoaded", function(event) {
					var link = "http://<%=url.split('/')[0]%>";				
					var fb = document.getElementById('facebook_link');
					fb.setAttribute("href", fb.getAttribute('href') + encodeURIComponent(link) + "&redirect_uri=" + encodeURIComponent("http://wottactic.tk"));
					var twitter = document.getElementById('twitter_link')
					twitter.setAttribute("href", twitter.getAttribute('href') + encodeURIComponent(link));
					var google = document.getElementById('google_link')
					google.setAttribute("href", google.getAttribute('href') + encodeURIComponent(link));							
				});
			</script>
		</ul>

		<ul class="nav navbar-nav navbar-right container-fluid">
			<% include login_button.ejs %>
		</ul>
	
		<ul class="nav navbar-nav navbar-right container-fluid">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				  <%=l('Other Games')%><span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="http://wottactic.com"><div class="inline icon icon-wot"></div>&nbsp; World of Tanks</a></li>
					<li><a href="http://wowstactic.tk"><div class="inline icon icon-wows"></div>&nbsp; World of Warships</a></li>
					<li><a href="http://wottactic.com/blitz.html"><div class="inline icon icon-blitz"></div>&nbsp; World of Tanks Blitz</a></li>
					<li><a href="http://awtactic.tk"><div class="inline icon icon-aw"></div>&nbsp; Armored Warfare</a></li>
					<li><a href="http://gametactic.org/lol"><div class="inline icon icon-lol_sm"></div>&nbsp; League of Legends</a></li>
					<li><a href="http://gametactic.org/hots"><div class="inline icon icon-hots_sm"></div>&nbsp; Heroes of the Storm</a></li>
					<li><a href="http://gametactic.org/sc2"><div class="inline icon icon-sc2_sm"></div>&nbsp; Starcraft II</a></li>
					<li><a href="http://gametactic.org/csgo"><div class="inline icon icon-csgo_sm"></div>&nbsp; CS:GO</a></li>
					<li><a href="http://gametactic.org/warface"><div class="inline icon icon-warface_sm"></div>&nbsp; Warface</a></li>
					<li><a href="http://gametactic.org/squad"><div class="inline icon icon-squad_sm"></div>&nbsp; Squad</a></li>
				</ul>
			</li>
			<% include language_select.ejs %>
		</ul>
		

	</div>
</nav>

<script type="text/javascript">
	var pad = function () { 
		document.getElementsByTagName('body')[0].style.paddingTop = ''+(document.getElementsByClassName('navbar')[0].clientHeight+10)+'px'
	};
	window.onresize = pad;
    pad();
</script>


