<option value=""> </option>
<option data-mapid="01_karelia_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/karelia.jpg"><%=l('Karelia')%></option>
<option data-mapid="01_karelia_assault" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/karelia_assault.jpg"><%=l('Karelia')%> (<%=l('Assault')%>)</option>
<option data-mapid="02_malinovka_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/malinovka.jpg"><%=l('Malinovka')%></option>
<option data-mapid="02_malinovka_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/malinovka_encounter.jpg"><%=l('Malinovka')%> (<%=l('Encounter')%>)</option>
<option data-mapid="04_himmelsdorf_ctf" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/himmelsdorf.jpg"><%=l('Himmelsdorf')%></option>
<option data-mapid="04_himmelsdorf_domination" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/himmelsdorf_encounter.jpg"><%=l('Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-mapid="04_himmelsdorf_assault2" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/himmelsdorf_attack_defence.jpg"><%=l('Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="05_prohorovka_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/phrokorovka.jpg"><%=l('Phrokorovka')%></option>
<option data-mapid="05_prohorovka_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/phrokorovka_encounter.jpg"><%=l('Phrokorovka')%> (<%=l('Encounter')%>)</option>
<option data-mapid="05_prohorovka_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/phrokorovka_attac_defence.jpg"><%=l('Phrokorovka')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="07_lakeville_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/lakeville.jpg"><%=l('Lakeville')%></option>
<option data-mapid="07_lakeville_domination" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/lakeville_encounter.jpg"><%=l('Lakeville')%> (<%=l('Encounter')%>)</option>
<option data-mapid="07_lakeville_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/lakeville_attac_defence.jpg"><%=l('Lakeville')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="06_ensk_ctf" data-size="600x600" value="<%=static_host%>/maps/new_wot_maps/ensk.jpg"><%=l('Ensk')%></option>
<option data-mapid="06_ensk_domination" data-size="600x600" value="<%=static_host%>/maps/new_wot_maps/ensk_encounter.jpg"><%=l('Ensk')%> (<%=l('Encounter')%>)</option>
<option data-mapid="11_murovanka_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/murovanka.jpg"><%=l('Murovanka')%></option>
<option data-mapid="11_murovanka_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/murovanka_encounter.jpg"><%=l('Murovanka')%> (<%=l('Encounter')%>)</option>
<option data-mapid="11_murovanka_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/murovanka_attac_defence.jpg"><%=l('Murovanka')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="13_erlenberg_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/erlenberg.jpg"><%=l('Erlenberg')%></option>
<option data-mapid="13_erlenberg_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/erlenberg_encounter.jpg"><%=l('Erlenberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid="13_erlenberg_assault" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/erlenberg_assault.jpg"><%=l('Erlenberg')%> (<%=l('Assault')%>)</option>
<option data-mapid="10_hills_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/mines.jpg"><%=l('Mines')%></option>
<option data-mapid="10_hills_domination" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/mines_encounter.jpg"><%=l('Mines')%> (<%=l('Encounter')%>)</option>
<option data-mapid="10_hills_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/mines_attac_defence.jpg"><%=l('Mines')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="18_cliff_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/cliffs.jpg"><%=l('Cliff')%></option>
<option data-mapid="18_cliff_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/cliff_attac_defence.jpg"><%=l('Cliff')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="19_monastery_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/abbey.jpg"><%=l('Abbey')%></option>
<option data-mapid="28_desert_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/sand_river.jpg"><%=l('Sand River')%></option>
<option data-mapid="28_desert_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/sand_river_encounter.jpg"><%=l('Sand River')%> (<%=l('Encounter')%>)</option>
<option data-mapid="28_desert_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/sand_river_attac_defence.jpg"><%=l('Sand River')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="28_desert_assault" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/sand_river_assault.jpg"><%=l('Sand River')%> (<%=l('Assault')%>)</option>
<option data-mapid="35_steppes_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/steppes.jpg"><%=l('Steppes')%></option>
<option data-mapid="35_steppes_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/steppes_encounter.jpg"><%=l('Steppes')%> (<%=l('Encounter')%>)</option>
<option data-mapid="35_steppes_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/steppes_attac_defence.jpg"><%=l('Steppes')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="37_caucasus_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/mountain_pass.jpg"><%=l('Mountain pass')%></option>
<option data-mapid="33_fjord_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/fjords.jpg"><%=l('Fjords')%></option>
<option data-mapid="34_redshire_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/redshire.jpg"><%=l('Redshire')%></option>
<option data-mapid="34_redshire_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/redshire_encounter.jpg"><%=l('Redshire')%> (<%=l('Encounter')%>)</option>
<option data-mapid="36_fishing_bay_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/fishermans_bay.jpg"><%=l('Fisherman\'s Bay')%></option>
<option data-mapid="38_mannerheim_line_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/arctic_region.jpg"><%=l('Arctic Region')%></option>
<option data-mapid="38_mannerheim_line_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/arctic_attac_defence.jpg"><%=l('Arctic Region')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="08_ruinberg_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/ruinberg.jpg"><%=l('Ruinberg')%></option>
<option data-mapid="08_ruinberg_domination" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/ruinberg_encounter.jpg"><%=l('Ruinberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid="08_ruinberg_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/ruinberg_attac_defence.jpg"><%=l('Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="14_siegfried_line_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/siegfried_line.jpg"><%=l('Siegfried Line')%></option>
<option data-mapid="14_siegfried_line_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/siegfried_line_encounter.jpg"><%=l('Siegfried Line')%> (<%=l('Encounter')%>)</option>
<option data-mapid="14_siegfried_line_assault2" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/siegfried_line_attac_defence.jpg"><%=l('Siegfried Line')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="14_siegfried_line_assault" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/siegfried_line_assault.jpg"><%=l('Siegfried Line')%> (<%=l('Assault')%>)</option>
<option data-mapid="22_slough_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/swamp.jpg"><%=l('Swamp')%></option>
<option data-mapid="23_westfeld_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/westfield.jpg"><%=l('Westfield')%></option>
<option data-mapid="29_el_hallouf_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/el_halluf.jpg"><%=l('El Halluf')%></option>
<option data-mapid="29_el_hallouf_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/el_halluf_encounter.jpg"><%=l('El Halluf')%> (<%=l('Encounter')%>)</option>
<option data-mapid="31_airfield_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/airfield.jpg"><%=l('Airfield')%></option>
<option data-mapid="17_munchen_ctf" data-size="600x600" value="<%=static_host%>/maps/new_wot_maps/widepark.jpg"><%=l('Widepark')%></option>
<option data-mapid="44_north_america_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/live_oaks.jpg"><%=l('Live Oaks')%></option>
<option data-mapid="45_north_america_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/highway.jpg"><%=l('Highway')%></option>
<option data-mapid="47_canada_a_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/serene_coast.jpg"><%=l('Serene Coast')%></option>
<option data-mapid="73_asia_korea_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/sacred_valley.jpg"><%=l('Sacred Valley')%></option>
<option data-mapid="63_tundra_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/tundra.jpg"><%=l('Tundra')%></option>
<option data-mapid="63_tundra_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/tundra_attac_defence.jpg"><%=l('Tundra')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="84_winter_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/windstorm.jpg"><%=l('Windstorm')%></option>
<option data-mapid="86_himmelsdorf_winter_ctf" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/winter_himmelsdorf.jpg"><%=l('Winter Himmelsdorf')%></option>
<option data-mapid="86_himmelsdorf_winter_domination" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/winter_himmelsdorf_encounter.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-mapid="86_himmelsdorf_winter_assault2" data-size="700x700" value="<%=static_host%>/maps/new_wot_maps/winter_himmelsdorf_attac_defence.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="83_kharkiv_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/krarkov.jpg"><%=l('Kharkov')%></option>
<option data-mapid="83_kharkiv_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/kharkov_attac_defence.jpg"><%=l('Kharkov')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="96_prohorovka_defense_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/fiery_salient.jpg"><%=l('Fiery Salient')%></option>
<option data-mapid="96_prohorovka_defense_domination" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/fiery_salient_encounter.jpg"><%=l('Fiery Salient')%> (<%=l('Encounter')%>)</option>
<option data-mapid="92_stalingrad_ctf" data-size="950x950" value="<%=static_host%>/maps/new_wot_maps/stalingrad.jpg"><%=l('Stalingrad')%></option>
<option data-mapid="100_thepit_ctf" data-size="600x600" value="<%=static_host%>/maps/new_wot_maps/mittengard.jpg"><%=l('Mittengard')%></option>
<option data-mapid="95_lost_city_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/ghost_town.jpg"><%=l('Ghost Town')%></option>
<option data-mapid="95_lost_city_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/ghost_town_attack_defence.jpg"><%=l('Ghost Town')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="103_ruinberg_winter_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/winter_ruinberg.jpg"><%=l('Winter Ruinberg')%></option>
<option data-mapid="103_ruinberg_winter_domination" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/winter_ruinberg_encounter.jpg"><%=l('Winter Ruinberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid="103_ruinberg_winter_assault2" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/winter_ruinberg_attac_defence.jpg"><%=l('Winter Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="101_dday_ctf" data-size="1000x1000" value="<%=static_host%>/maps/new_wot_maps/overlord.jpg"><%=l('Overlord')%></option>
<option data-mapid="114_czech_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/pilsen.jpg"><%=l('Pilsen')%></option>
<option data-mapid="112_eiffel_tower_ctf_ctf" data-size="800x800" value="<%=static_host%>/maps/new_wot_maps/paris.jpg"><%=l('Paris')%></option>
