<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('News')%></title>
	<meta name="description" content="Older news from <%=game.toUpperCase()%>.">
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
		<div>
			<h2><%=url.split('/')[0]%> in numbers</h2>
			<p>I want to tank everybody for your trust, <%=url.split('/')[0]%> has a grown a lot lately, more than I ever expected. It's only at the start of this month I started monitoring traffic and I was amazed. The last month 46,936 unique users have visited the site 193,829 times, opening 363,073 pages. Around 8,000 visits and 6,000 users a day. 
			
			<p>
			The overwelming majority use it for wot (98%). 78% of users come from Europe excluding Russia, 12% from the Americas and 6% from Asia. Although wot is huge in Russia, it accounts for only 2% of visitors. 
			Most traffic is between 19u30-22u CET with <a href="<%=static_host%>/active_users.png">peaks</a> of 1,000 symultanious users just before CW start. With a smaller peak around 01u-05u CET during NA cw time.

			<p>
			During peak times, Cpu usage on the amazon T2 micro VM i host it on, hovers around 20%, so still plenty of room to expand even without spending extra.
			
			<p>
			For those interested in the sources and more details, here is a <a href="<%=static_host%>/wottactic_stats.pdf">google analytics reports</a> for March and an <a href="<%=static_host%>/hourly.pdf">hourly breakdown</a>.
		</div>
		<div>
			<h2>Now available in Russian</h2>
			<p>Андрей is now working on a Russian translation, take a look. If you want this website available in your language, contact me. No technical skill required.</p>
		</div>
		<div>
			<h2>Suggestions</h2>
			<p>
			I'd like to hear from you, what do you think can still be improved? Do you think any other games would benefit from a map tool like this? Let me know on one of the forum topics linked in the about page or by mail.
		</div>
		</div>
	
		<div class="row">
		<div class="col-md-4">
			<h2>Welcome</h2>
			<p>This tool is created to make planning and sharing battle tactics quick and easy. Just press the blue button, share the link and get started. <% if (game == 'wot') { %> Are you an FC trying to plan a clan war or stronghold battle in world of tanks? Or are you part of team that wants to perform better in team battles or ESL? Or do you just want to discuss some details about a map with a friend? Then this tool is for you. If you are used to maptactic, give this a try. Planning has never been easier.<% } %>
		</div>
		<div class="col-md-4">
			<h2>Your input matters</h2>
			<p>Take 5 mins to take this very short <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, and let met know what you want in wottactic. I'll leave it up for at least two weeks and then release the results.</p>
			
			<p>After you have filled it in, take a look at the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">summary</a> of the results
		</div>
		<div class="col-md-4">
			<h2>New video tutorial</h2>
			<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial</a> explaining all the tools and features of <%=url.split('/')[0]%>. And here's another <a href="https://www.youtube.com/watch?v=sLWv7yXYQ-c">tutorial</a> by Stewiejp.</div>

		</div>
	</div>
	<% include footer.ejs %>
	</div>
</body>
