<!DOCTYPE HTML>
<html lang="<%=locale%>">
<head>
	<% include common_headers.ejs %>
	<title><%=game.toUpperCase()%> <%=l('News')%></title>
	<meta name="description" content="Older news from <%=game.toUpperCase()%>.">
</head>
<body>
	<% include navbar.ejs %>
	<div class="container" style='width:100%;'>	
		<div class="col-md-4">
			<h2>New domains</h2>
			<p>I've registered <a href="http://wottactic.eu">http://wottactic.eu</a> and <a href="http://wottactic.com">http://wottactic.com</a>, you can start using those right now. I tried to register wottactic.asia as well but couldn't because I needed a contact in the asia region, if you can help me with that, contact me. 
			
			<p>I'm not redirecting people quite yet, but may in the future. The site will remain available through the tk domains though.
			
			<p>The idea is to create a server in the NA and Asia region. People living in EU should then preferably use the .eu domain, people in NA, the .com domain and people in Asia the .asia domain. All your stored tactics will be available in all regions. In practice it will make the pages load a little bit faster, but mostly it will make the ping and the track cursor tools a lot more in sync for people outside the eu, where I'm currently hosting from.
			
			<p>I pretty much did all the legwork already when I created multiple servers to handle the extra load.
			
			<p>Extra servers do cost extra money though. So I added this as goals to my <a href="https://www.patreon.com/kalith">patreon</a> page. If you want this to happen faster, consider donating.
		</div>		
		<div class="col-md-4">
			<h2><%=url.split('/')[0]%> in numbers</h2>
			<p>I want to tank everybody for your trust, <%=url.split('/')[0]%> has a grown a lot lately, more than I ever expected. It's only at the start of this month I started monitoring traffic and I was amazed. The last month 46,936 unique users have visited the site 193,829 times, opening 363,073 pages. Around 8,000 visits and 6,000 users a day. 
			
			<p>
			The overwelming majority use it for wot (98%). 78% of users come from Europe excluding Russia, 12% from the Americas and 6% from Asia. Although wot is huge in Russia, it accounts for only 2% of visitors. 
			Most traffic is between 19u30-22u CET with <a href="<%=static_host%>/active_users.png">peaks</a> of 1,000 symultanious users just before CW start. With a smaller peak around 01u-05u CET during NA cw time.

			<p>
			During peak times, Cpu usage on the amazon T2 micro VM i host it on, hovers around 20%, so still plenty of room to expand even without spending extra.
			
			<p>
			For those interested in the sources and more details, here is a <a href="<%=static_host%>/wottactic_stats.pdf">google analytics reports</a> for March and an <a href="<%=static_host%>/hourly.pdf">hourly breakdown</a>.
		</div>
		<div class="col-md-4">
			<h2>Now available in Russian</h2>
			<p>Андрей is now working on a Russian translation, take a look. If you want this website available in your language, contact me. No technical skill required.</p>
		</div>
		<div class="col-md-4">
			<h2>Suggestions</h2>
			<p>
			I'd like to hear from you, what do you think can still be improved? Do you think any other games would benefit from a map tool like this? Let me know on one of the forum topics linked in the about page or by mail.
		</div>
		<div class="col-md-4">
			<h2>Future plans</h2>
			<p>Now that the wot campaign is over, things should get a little quieter, so I'm going to use this opportunity to improve and expand a bit.
			
			<p>People seem to find this tool very useful for wot, so I'm going to see if people from a few other games would be interested in it. I'll be starting with league of legend, cause it's easy (not too many maps). If you want a version of wottactic for your favourite game, let me know.
			
			<p>Next, not a lot of people have filled in the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewform">survey</a>, but there are some good suggestions in the <a href="https://docs.google.com/forms/d/1HvU6HrJVuLsRqI1cx5YLzZd011rUt_EirMU3BGgySrA/viewanalytics?usp=form_confirm">results</a>. 
			
			<p>I got that people want:
				<ol>
				<li>More store/share options 
				<li>More tools 
				<li>Improved ui
				<li>Better maps
				</ol>
			<p>Specifically I got people asking for:
				<ol>
				<li>A zoom option
				<li>A colorblind option 
				<li>Spawns on the aw and wows maps 
				<li>More security
				</ol>
				
			<p>I'm having a hard time finding good quality WOWS maps. If you have any idea pls get in touch. 
			
			<p>Also I'm not to sure what a color blind mode means exactly. If you are color blind, could you tell what works and what doesn't and how best to fix it.
					
		</div>
		<div class="col-md-4">
			<h2>Video tutorial</h2>
			<p>I've created a <a href="https://youtu.be/K-yl_WNjvwk">tutorial</a> explaining all the tools and features of <%=url.split('/')[0]%>. And here's another <a href="https://www.youtube.com/watch?v=sLWv7yXYQ-c">tutorial</a> by Stewiejp.
		</div>
		<div class="col-md-4">
			<h2>Recent problems</h2>
			<p>Yesterday (July 26 20:00-22:00 CET) there were some server issues, sorry for the problems. It should be all fixed now.
			
			<p>As you probably have guessed it was related with the new video replay room feature I was trying out. I released it again with some changes and on a different server so it doesn't interfere with normal operations. Give it a try.
		</div>
		<div class="col-md-4">
			<h2>Future plans</h2>
			<ul>
				<li style="text-decoration: line-through;">Add options to scale/modify/rotate existing items
				<li>Write text directly on the map
				<li>Share folders in addition to just tactics
			</ul>
			If you have any suggestions, you can put them on the forums, contact me by e-mail or put them in the survey.
		</div>
		<div class="col-md-4">
			<h2>Scheduled downtime 29/08 13:00-14:00 CET</h2>
			
			<p>
			I'm doing some upgrades and going back to 3 server setup in preparation for the CW campaign.
		</div>	
		<div class="col-md-4">
			<h2><%=game.toUpperCase()%> <%=l('Tactics')%> visited 1,000,000 times</h2>
			<p>Since the beginning of March, when i started monitoring traffic, 178,933 users have visitited <%=game.toUpperCase()%> <%=l('tactics')%> a total of 1,069,856 times, viewing 2,072,324 pages. At least 189,509 rooms have been created and 25,218 tactics have been stored.

			<p>Thank you for your support. I think that's pretty amazing.

			<p>For more details here's a google analytics <a href="http://karellodewijk.github.io/total_visitors.pdf">report</a>.
		</div>
		<div class="col-md-4">
			<h2>CW campaign</h2>
		
			<p>The Birth Of Titans CW Campaign starts today and I'm expecting a record number of visitors. 
			
			<p>To handle the increased traffic, I added 2 vm's (amazon t2.micro nodes) and upgraded the main vm which hosts the db from a amazon t2.micro to a t2.small. 
			
			<p>With the increased capacity I'm hoping everything will go smoothly. I'll be monitoring it closely though, especially during eu prime time.
			
			<p>Good luck out there.
		</div>
		<div class="col-md-4">
			<h2>Network issues</h2>
			<p>Dns issues on the US east coast made the CDN I'm using unavailable. So the main server needs to now handle all the static contents (images/maps/js). If things are a little slower than usual bear with it for now. 				
		</div>
		<div class="col-md-4">
			<h2>Future plans</h2>
			<p>
			<ul>
				<li>Support for drawing while panning
				<li style="text-decoration: line-through;">Better support for touch devices (pinch zoom, pan support)
				<li>Write text directly on the map
				<li>Share folders in addition to just tactics
			</ul>
			<p>If you have any suggestions, you can put them on the forums, contact me by e-mail or put them in the survey.			
		</div>
		<div class="col-md-4">
			<h2>2,000,000 visits</h2>
			<p>Since the beginning of March, when i started monitoring traffic, 314,809 users have visitited this website a total of 2,031,807 times, visiting 3,822,789 pages. At least 335,645 rooms have been created and 38,127 tactics have been stored.

			<p>Thank you for your support. I think that's pretty amazing.

			<p>For more details here's a google analytics <a href="http://karellodewijk.github.io/total_visitors.pdf">report</a>.
		</div>
	</div>
</body>
