<!DOCTYPE HTML>
<html lang="<%=locale%>" style="width: 100%; height:100%">
<head>
	<% include common_headers.ejs %>
  <link rel="stylesheet" href="<%=static_host%>/stylesheets/bootstrap-select.min.css">
	<link rel="stylesheet" href="<%=static_host%>/stylesheets/fontawesome-all.min.css">
	<link rel="stylesheet" href="<%=static_host%>/stylesheets/jquery.simplecolorpicker.css">
	<% if (game == 'wot') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_assets.css">
		<link rel="stylesheet" href="<%=static_host%>/wot-icon-set1.css">
		<link rel="stylesheet" href="<%=static_host%>/wot-icon-set2.css">
		<link rel="stylesheet" href="<%=static_host%>/wot-icon-set3.css">
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
	<% } else if (game == 'wows') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/wows_icons.css">
	<% } else if (game == 'blitz') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_assets.css">
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
	<% } else if (game == 'lol') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_abilities.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_npcs.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_champions.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_spells.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_wards.css">
		<link rel="stylesheet" href="<%=static_host%>/lol_runes.css">
	<% } else if (game == 'hots') { %>
		<link rel="stylesheet" href="<%=static_host%>/hots_main.css">
		<link rel="stylesheet" href="<%=static_host%>/hots_heroes.css">
		<link rel="stylesheet" href="<%=static_host%>/hots_map_icons.css">
		<link rel="stylesheet" href="<%=static_host%>/hots_abilities.css">
		<link rel="stylesheet" href="<%=static_host%>/hots_minions.css">
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
	<% } else if (game == 'sc2') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_units_terran.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_units_zerg.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_units_protoss.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_buildings_terran.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_buildings_zerg.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_buildings_protoss.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_abilities_terran.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_abilities_zerg.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_abilities_protoss.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_upgrades_terran.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_upgrades_zerg.css">
		<link rel="stylesheet" href="<%=static_host%>/sc2_upgrades_protoss.css">
	<% } else if (game == 'aw') { %>
		<link rel="stylesheet" href="<%=static_host%>/aw_assets.css">
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
	<% } else if (game == 'csgo') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/csgo_icons.css">
	<% } else if (game == 'warface') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/warface_icons.css">
	<% } else if (game == 'squad') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/squad_icons.css">
	<% } else if (game == 'R6') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/R6_attac_icons.css">
		<link rel="stylesheet" href="<%=static_host%>/R6_def_icons.css">
		<link rel="stylesheet" href="<%=static_host%>/squad_icons.css">
	<% } else if (game == 'MWO') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/MWO_icons.css">
	<% } else if (game == 'propilkki2') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
	<% } else if (game == 'EC') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/EC_icons.css">
	<% } else if (game == 'pr') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_attack_markers.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_defence_markers.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_flags.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_kits.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_landing_zone.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_mini.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_player.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_spotted.css">
		<link rel="stylesheet" href="<%=static_host%>/pr_vehicles.css">
	<% } else if (game == 'clans') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/clans_icons.css">		
	<% } else if (game == 'foxhole') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/foxhole_icons.css">	
	<% } else if (game == 'steelocean') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/wows_icons.css">
	<% } else if (game == 'pubg') { %>
		<link rel="stylesheet" href="<%=static_host%>/wot_icon_set4.css">
		<link rel="stylesheet" href="<%=static_host%>/pubg_icons.css">
	<% } %>

	<script defer src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>	
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js" integrity="sha384-5LvpiQ35VQjn728am77sfHiA0MgkCEoviXiUf9Y+aUqnN0OP3UKEJX5AEeHCthIe" crossorigin="anonymous"></script>

	<%if (false) {%>
	<script defer src="<%=static_host%>/javascripts/bootstrap-select.js"></script>
	<script defer src="<%=static_host%>/javascripts/jquery.simplecolorpicker.js"></script>
	<script defer src="<%=static_host%>/javascripts/pixi.js"></script>
	<script defer src="<%=static_host%>/javascripts/TransparencyHitArea.js"></script>
	<script defer src="<%=static_host%>/javascripts/TransparencyHitArea.js"></script>
	<script defer src="<%=static_host%>/javascripts/curve.js"></script>
	<script defer src="<%=static_host%>/javascripts/planner.js"></script>	
	<%}%>
  
	<%if (false) {%>  
	<script defer src="<%=static_host%>/javascripts/combined_mini.js"></script>
	<script defer src="<%=static_host%>/javascripts/planner.js"></script>			
	<%}%>

	<script defer src="<%=static_host%>/javascripts/combined.js"></script>

	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('Planner')%></title>
	<meta name="description" content="<%=game.toUpperCase()%> <%=l('strategy')%>">
	<script id="sid" data-sid="<%=sid%>"></script>
	<script id="static_host" data-static_host="<%=static_host%>"></script>
	<script id="socket_io_servers" data-socket_io_servers="<%=secrets.socket_io_servers%>"></script>
	<script id="upload_path" data-upload_path="<%=secrets.upload_path%>"></script>
	
	<style>
	input, textarea, .chatmsg, .userlist {
	  color : black;
	}
	input[type=range]{
		color:white;
	}
	.popover-title{
		color: black;
	}
	</style>
</head>

<body style="width:100%; background-color:#495c93; padding:0px; margin:0px; border:0; color:white; min-width: 100%; height:100%; display: inline-block;">
	<script type="text/javascript">
		var fileref;
		var debug = location.search.split('debug=')[1]	
		if(debug) {
			debug = debug.split("&")[0];	
			fileref=document.createElement('script')
			fileref.setAttribute("type","text/javascript")
			fileref.setAttribute("src", "https://getfirebug.com/firebug-lite-debug.js")
			var head = document.getElementsByTagName("head")[0]; 
			head.appendChild(fileref);
		}
	</script>

	<div id="left_side_bar" style="max-width:340px; height:100%; vertical-align:top; float:left; display:flex; flex-direction:column; padding:0px; margin:0px; z-index:10; background-color:rgba(53, 72, 127, 0.75);">
		<nav id="left_navbar" class="navbar navbar-inverse container-fluid navbar-custom" style="flex: 0 1 auto; justify-content: flex-start; border-radius:0px; min-height:60px; margin:0; padding:0">
			<ul id="left_icons" class="nav navbar-nav navbar-left">
				<li id="home_button">
					<a class="navbar-brand" style="padding-left:10px; padding-right:10px"
						href="/<%=game%>"><i class="fa-lg icon-home "></i>
					</a>
				</li>
				<li class="btn-group pull-left">
					<button id="lock" style="border-radius: 0px;" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Locks/unlocks edit mode for users without additional permissions')%>">
						<div class="icon icon-lock"></div>
					</button>
					<button id="link" style="border-radius: 0px;" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Copy link to clipboard, send it to friends or clan mates to invite them to this tactic')%>">
						<div class="icon icon-link"></div>
					</button>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right container-fluid" style="margin-right:-1px">
				<% include language_select.ejs %>
				<% include login_button.ejs %>
			</ul>
		</nav>	
		<div id="map_select_section" style="padding:10px; padding-top:0px; flex: 0 1 auto; justify-content: flex-start;">
			<div id="map_select_box">
			<h4><%=l('Map')%>&nbsp;<span id="map_size"></span>&nbsp;
				<a id='change_map_size_popover' data-placement="bottom" data-toggle="popover" style="color:black" data-content="<div style='display:flex'><input style='width:100px' type='number' id='map_size_x'><div style='color:black; margin:auto'>X</div><input style='width:100px' type='number' id='map_size_y'><button id='save_map_size' class='btn btn-default'><%=l('Save')%></button></div>" title="<%=l('Change size')%>">
					<i title="<%=l('Change map size')%>" style="color:white" class="fa fa-cog"></i>
				</a>
			</h4>
			<div class="dropdown inline" id="map_select_container">
				<select class="selectpicker" data-live-search="true" id="map_select">
				<%-include(game + '_maps')%>
				</select>
			</div>
			<%if (game == 'wot') { %>
				<div class="dropdown inline" style="display:none" id="wotbase_select_container">
					<select class="selectpicker" data-live-search="true" id="wotbase_select"><%include wotbase_wot_maps.ejs%></select>
				</div>
				<div class="dropdown inline" style="display:none" id="new_minimap_select_container">
					<select class="selectpicker" data-live-search="true" id="new_minimap_select"><%include new_wot_minimaps.ejs%></select>
				</div>
			<%} else if (game == 'R6') { %>
				<div class="dropdown inline" style="display:none" id="wotbase_select_container">
					<select class="selectpicker" data-live-search="true" id="wotbase_select"><%include R6_maps_annotated.ejs%></select>
				</div>		
			<%} %>
			<div class="btn-group">
			<button class="btn btn-default menu_btn" aria-label="Left Align" id="custom_map" data-toggle="tooltip" title="<%=l('Background from link')%>">
				<div class="icon icon-link_sm"></div>
			</button>
			<button class="btn btn-default menu_btn" aria-label="Left Align" id="upload_map" data-toggle="tooltip" title="<%=l('Upload background')%>">
				<div class="icon icon-upload_sm"></div>
			</button>
			</div>
			
			<div style="padding-top:5px;">
			<div class="btn-group">
			<button class="btn btn-default menu_btn" aria-label="Left Align" id="zoom_in" data-toggle="tooltip" title="<%=l('Zoom in')%>">	
				<div class="icon icon-plus"></div>
			</button>
			<button class="btn btn-default menu_btn" aria-label="Left Align" id="zoom_out" data-toggle="tooltip" title="<%=l('Zoom out')%>">
				<div class="icon icon-minus"></div>
			</button>
			</div>
			<span id="zoom_level">1</span>x
			<%if (game == 'wot') { %>
				<br /><input id="select_hd" name="map_type_select" type="radio" style="vertical-align:-2px;" checked /> <label style="font-weight: normal; margin:0" for="select_hd"><%=l('Use HD minimaps')%></label>
				<br /><input id="select_wotbase" name="map_type_select" type="radio" style="vertical-align:-2px;" /> <label style="font-weight: normal; margin:0" for="select_wotbase"><%=l('Use Wotbase maps')%></label>
				<br /><input id="select_new_minimap" name="map_type_select" type="radio" style="vertical-align:-2px;" /> <label style="font-weight: normal; margin:0" for="select_new_minimap"><%=l('Use New minimaps')%></label>
			<%} else if (game == 'R6') { %>
				<br /><input id="select_hd" name="map_type_select" type="radio" style="vertical-align:-2px;" checked /> <span><%=l('Normal')%></span>
				<br /><input id="select_wotbase" name="map_type_select" type="radio" style="vertical-align:-2px;" /> <span><%=l('Annotated')%></span>				
			<%} %>	
			</div>
		
			<hr>
			
			</div>
			<h4><%=l('User list')%> (<span id="user_count"></span>)</h4>
				<p>
		</div>

		<div style="padding:10px; padding-top:0px; flex: 1 1 auto; overflow-y:auto; justify-content: flex-start;">
			<div class="btn-group-vertical btn-group-xs userlist" role="group" id="userlist">
			</div>
		</div>
		
		<div style="padding:10px; justify-content: flex-end; flex: 0 1 300px;">		
			<ul class="nav nav-tabs">
			  <li class="active" id="slide_tab_button"><a data-toggle="tab" href="#slide_tab"><%=l('Slides')%></a></li>
			  <li id="chat_tab_button"><a data-toggle="tab" href="#chat_tab"><%=l('Chat')%></a></li>	  
			  <li id="export_tab_button"><a data-toggle="tab" href="#export_tab"><%=l('Export')%></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="slide_tab" style="min-height:250px; width:320px">
					<div class="input-group dropdown" id="slide_interactive">
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="prev_slide" data-toggle="tooltip" title="<%=l('Previous slide')%>">&#9664;</button>
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="remove_slide" data-toggle="tooltip" title="<%=l('Remove slide')%>">
								<div class="icon icon-bin"></div>
							</button>
						</span>
						<input class="form-control" maxlength="100" style="height:42px" type="text" id="slide_name_field" placeholder="<%=l('Slide')%> 1" />
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="new_slide" data-toggle="tooltip" title="<%=l('New slide')%>">&#10133;</button>
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="next_slide" data-toggle="tooltip" title="<%=l('Next slide')%>">&#9654;</button>
						</span>
					</div>
					<div id="slide_container" style="max-height:200px; overflow-y:scroll">
						<table class="table table-bordered" id="slide_table1" style="text-align:left;">
							<tbody class="ui-sortable" id="slide_table">
							</tbody>
						</table>
					</div>
				</div>
				<div class="tab-pane" style="min-height:250px; width:320px" id="chat_tab">
					<div id="chat_box" class="fake_textarea" style="height:200px;"></div>
					<input id="chat_input" maxlength="500" class="slider_text_input" type="text" style="height:20%; width:100%;"/>
				</div>
				<div class="tab-pane" id="export_tab" style="min-height:250px; width:320px">
					<div class="btn-group input-group dropdown" id="export_box">
						<button id="export" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save tactic as image')%>">
							<div class="icon icon-export"></div>
						</button>
						<button id="export_view" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save view as image')%>">
							<div class="icon icon-export"></div>
						</button>
						<button id="backup" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Download a backup')%>">
							<div class="icon icon-archive_icon"></div>
						</button>
						<button id="send_to_link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Send to room')%>">
							<div class="icon icon-send_to_link_22"></div>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div id="edit_window" class="edit_window" style="height:100%; width:100%; position:absolute; z-index:0; padding:0px; margin:0px; border:0; top:0px; left:0px"></div>

	<div id="right_side_bar" style="height:100%; max-width:340px; position:relative; vertical-align:top; float:right; background-color:rgba(53, 72, 127, 0.75); z-index:10; right:0px">
		<nav id="right_navbar" class="navbar navbar-inverse container-fluid navbar-custom" style="border-radius:0px; min-height:60px; margin-bottom: 0;">
			<ul id="right_icons" class="nav navbar-nav navbar-left container-fluid" style="margin-left:-5px; margin-right:-10px; padding-left:0px; padding-right:0px">
				<div id="right-buttons" class="btn-group">
				<button id="save" style="border-radius: 0px;" class="btn btn-default navbar-btn" data-placement="bottom" data-toggle="tooltip" title="<%=l('Save')%>">
					<div class="icon icon-save"></div>
				</button>
				<button id='store_tactic_popover' data-placement="left" data-toggle="popover" style="color:black" data-content="<div class='input-group'><input type='text' class='form-control' id='tactic_name'><span class='input-group-btn'><button id='store_tactic' style='border-radius: 0px;' class='btn btn-default'><%=l('Store')%></button></span></div>" class="btn btn-default navbar-btn" title="<%=l('Save as')%>">
					<div class="icon icon-save_as"></div>
				</button>
				<% if (game == 'wot' || game == 'wows' || game == 'aw' || game == 'squad' || game == 'MWO' || game == 'pr' || game == 'pubg') { %>
					<button id="grid" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Show grid')%>">
						<div class="icon icon-grid_icon"></div>
					</button>
				<% } %>
				<button id="stop_present" class="btn btn-default navbar-btn" data-toggle="tooltip" data-disable="<%=l('Disable presentation mode (All users will be able to browse all slides freely)')%>" data-enable="<%=l('Enable presentation mode (All users will see only your slide)')%>" title="<%=l('Disable presentation mode (All users will be able to browse all slides freely)')%>">
					<div class="icon icon-present"></div>
				</button>
				<button id="lock_camera" style="border-radius: 0px;" class="btn btn-default navbar-btn" data-toggle="tooltip" data-disable="<%=l('locks the view (zoom/pan) of all users to yours')%>" data-enable="<%=l('unlocks the view')%>" title="<%=l('locks the view (zoom/pan) of all users to yours')%>">
					<div class="icon icon-unlock_camera"></div>
				</button>
				<button id="disable_dragging" style="border-radius: 0px;" class="btn btn-default navbar-btn" data-toggle="tooltip" data-disable="<%=l('Disable dragging')%>" data-enable="<%=l('Enable dragging')%>" title="<%=l('Disable dragging')%>">
					<div class="icon icon-enable_dragging"></div>
				</button>
				</div>
			</ul>
		</nav>
		
		<div id="can_not_edit" style="padding-left: 10px;">
			<h4><%=l('Tools')%></h4>
			<p>
			<%=l('You do not have permission to edit. Ask the owner (green) to click your name or unlock the room.')%>
		</div>
		
		<div class="left_column">
			<h4><%=l('Tools')%></h4>
			<p>
				<div id="contexts">
				<div class="btn-group">
				<button style="border-radius: 0px; margin-left: -1px;" class="btn btn-default menu_btn" aria-label="Left Align" id="ping" data-toggle="tooltip" title="<%=l('Ping map')%>">
					<div class="icon icon-ping_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="track" data-toggle="tooltip" title="<%=l('Track cursor')%>">
					<div class="icon icon-recticle_icon"></div>
				</button>
				<%if (game == 'sc2') {%>
				<button class="btn btn-default menu_btn" data-context="icon" aria-label="Left Align" id="icon_terran" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-terran"></div>
				</button>
				<button class="btn btn-default menu_btn" data-context="icon" aria-label="Left Align" id="icon_zerg" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-zerg"></div>
				</button>
				<button class="btn btn-default menu_btn" data-context="icon" aria-label="Left Align" id="icon_protoss" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-protoss"></div>
				</button>
				<%} else if (game == 'R6') {%>
				<button class="btn btn-default menu_btn" data-context="icon" aria-label="Left Align" id="icon_R6_atac" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-attac"></div>
				</button>
				<button class="btn btn-default menu_btn" data-context="icon" aria-label="Left Align" id="icon_R6_def" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-def"></div>
				</button>
				<%} else {%>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="icon" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
					<div class="icon icon-<%=game%>_icons"></div>
				</button>
				<%}%>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="draw" data-toggle="tooltip" title="<%=l('Free draw')%>">
					<div class="icon icon-pencil"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="line" data-toggle="tooltip" title="<%=l('Draw line (hold left mouse)')%>">
					<div class="icon icon-line_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="curve" data-toggle="tooltip" title="<%=l('Draw curve (double click to end)')%>">
					<div class="icon icon-curve"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="rectangle" data-toggle="tooltip" title="<%=l('Draw rectangle')%>">
					<div class="icon icon-rectangle"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="circle" data-toggle="tooltip" title="<%=l('Draw circle')%>">
					<div class="icon icon-draw_circle_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="polygon" data-toggle="tooltip" title="<%=l('Draw polygon')%>">
					<div class="icon icon-polygon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="area" data-toggle="tooltip" title="<%=l('Draw area')%>">
					<div class="icon icon-area"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="text" data-toggle="tooltip" title="<%=l('Add Text')%>">
					<div class="icon icon-text_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="background_text" data-toggle="tooltip" title="<%=l('Add Text with background')%>">
					<div class="icon icon-text_on_background"></div>
				</button>			
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="undo" data-toggle="tooltip" title="<%=l('Undo last action')%>">
					<div class="icon icon-undo"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="redo" data-toggle="tooltip" title="<%=l('Redo last action')%>">
					<div class="icon icon-redo"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="remove" data-toggle="tooltip" title="<%=l('Delete (click map)/Delete menu')%>">
					<div class="icon icon-bin"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="eraser" data-toggle="tooltip" title="<%=l('Erase')%>">
					<div class="icon icon-eraser"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="note" data-toggle="tooltip" title="<%=l('Add a note')%>">
					<div class="icon icon-note"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="select" data-toggle="tooltip" title="<%=l('Select items on the map')%>">
					<div class="icon icon-select"></div>
				</button>					
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="ruler" data-toggle="tooltip" title="<%=l('Ruler')%>">
					<div class="icon icon-ruler_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="cut" data-toggle="tooltip" title="<%=l('Cut (ctrl-x)')%>">
					<div class="icon icon-cut"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="copy" data-toggle="tooltip" title="<%=l('Copy (ctrl-c)')%>">
					<div class="icon icon-copy"></div>
				</button>			
				<button class="btn btn-default menu_btn" aria-label="Left Align" id="paste" data-toggle="tooltip" title="<%=l('Paste (press ctrl-v while on the map to paste to a specific location)')%>">
					<div class="icon icon-paste"></div>
				</button>
				<button style="border-radius: 0px; margin-left: -1px;" class="btn btn-default" aria-label="Left Align" id="clear_all_main" data-toggle="tooltip" title="<%=l('Clear all')%>">
					<div class="icon icon-clear"></div>
				</button>					
				</div>
				</div>					

			<hr>
			
			<div id='icon_context'>
					
			<h4><%=l('Icon options')%> (<span id="icon_counter">0</span>)</h4>
				<%-include(game + '_icons')%>
				
				<div id="icon_options" style="margin:0px; padding:0px">			
				<select name="colorpicker" id="icon_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin:0px; padding:0px; margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Icon size')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="icon_size" min="5" value=<%if (game == 'blitz') { %>"35"<%} else if (game == 'wows') { %>"15"<% } else {%>"20"<%}%> max="100" step="1" list="icon_size_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="icon_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>	
				<br />
				<h4><%=l('Label options')%></h4>
				<div id="icon_label_container">
				<p>	
				<small><%=l('Label')%></small> <input type="text" id="icon_label" />
				<p>
				</div>
				
				<input type="checkbox" id="label_background" style="vertical-align:-2px;">&nbsp;<span><%=l('Add background')%></span>
				<br /><br />
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Label size')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="label_font_size" min="3" value=<%if (game == 'blitz') { %>"18"<%} else {%>"9"<%}%> max="100" step="1" list="label_font_size_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="label_font_size_text" class="slider_text_input" type="text"/>
					</div>	
				</div>	

				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
					<small><%=l('Label position')%></small>
					</div>	
					<div class="col-sm-8" style="color:black;">
						<table id="label_pos">
							<tr>
								<td><button id="pos_top_left" class="dir_btn btn menu_btn"></button><td><button id="pos_top" class="dir_btn btn menu_btn"></button><td><button id="pos_top_right" class="dir_btn btn menu_btn"></button>
							</tr>
							<tr>
								<td><button id="pos_left" class="dir_btn btn menu_btn"></button><td><td><button id="pos_right" class="dir_btn btn menu_btn"></button>
							</tr>
							<tr>
								<td><button id="pos_bottom_left" class="dir_btn btn menu_btn"></button><td><button id="pos_bottom" class="dir_btn btn menu_btn"></button><td><button id="pos_bottom_right" class="dir_btn btn menu_btn"></button>
							</tr>
						</table>
					</div>
				</div>
				
				
				</div>
			</div>
			
			<%if (game == 'sc2') {%>
				<div id="icon_terran_context">
				<h4><%=l('Terran Icon options')%></h4>
				<%include sc2_terran_icons.ejs%><br/>
				</div>
				<div id="icon_zerg_context">
				<h4><%=l('Zerg Icon options')%></h4>
				<%include sc2_zerg_icons.ejs%><br/>
				</div>
				<div id="icon_protoss_context">
				<h4><%=l('Protoss Icon options')%></h4>
				<%include sc2_protoss_icons.ejs%><br/>
				</div>
			<%} else if (game == 'R6') {%>
				<div id="icon_R6_atac_context">
				<h4><%=l('Attack Icon options')%></h4>
				<%include R6_attac_icons.ejs%><br/>
				</div>
				<div id="icon_R6_def_context">
				<h4><%=l('Defence Icon options')%></h4>
				<%include R6_def_icons.ejs%><br/>
				</div>
			<%}%>

			
			<div id='draw_context'>			
			
			<h4><%=l('Draw options')%></h4>
			
			<p>
				<select name="colorpicker" id="draw_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="draw_thickness" min="1" value="3" max="10" step="1" list="draw_thickness_ticks">
					</div>
					<div class="col-sm-2">
						<input id="draw_thickness_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('End size')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="draw_end_size" min="1" value="10" max="20" step="1" list="draw_end_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="draw_end_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<p>
				
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="draw_type">						
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
							<div class="icon icon-curved_line"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
							<div class="icon icon-curved_dotted_line"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
							<div class="icon icon-curved_dashed_line"></div>
						</button>
						</div></td>
					</tr>
					<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
					<tr>
						<td style="padding-right:10px"><small><%=l('End')%></small></td>
						<td><div class="btn-group" role="group" id="draw_end_type">
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
							<div class="icon icon-curved_line"></div>
						</button>						
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-curved_arrow"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-curve_T"></div>
						</button>
						</div></td>
					</tr>
				</table>					
			</div>

			<div id='curve_context'>			
			
			<h4><%=l('Curve options')%></h4>
			
			<p>
				<select name="colorpicker" id="curve_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="curve_thickness" min="1" value="3" max="10" step="1" list="curve_thickness_ticks">
					</div>
					<div class="col-sm-2">
						<input id="curve_thickness_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('End size')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="curve_end_size" min="1" value="10" max="20" step="1" list="curve_end_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="curve_end_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<p>
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="curve_type">						
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal curve')%>">
							<div class="icon icon-curved_line"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted curve')%>">
							<div class="icon icon-curved_dotted_line"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed curve')%>">
							<div class="icon icon-curved_dashed_line"></div>
						</button>
						</div></td>
					</tr>
					<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
					<tr>
						<td style="padding-right:10px"><small><%=l('End')%></small></td>
						<td><div class="btn-group" role="group" id="curve_end_type">
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
							<div class="icon icon-curved_line"></div>
						</button>						
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-curved_arrow"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-curve_T"></div>
						</button>
						</div></td>
					</tr>
				</table>
			</div>
			
			<div id='rectangle_context'>			
			
			<h4><%=l('Rectangle options')%></h4>
			
			<p>
				<h5><%=l('Outline')%></h5>
				<select name="colorpicker" id="rectangle_outline_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="rectangle_outline_thickness" min="0" value="2" max="10" step="1" list="rectangle_outline_thickness_ticks">
					</div>	
					<div class="col-sm-2"><input id="rectangle_outline_thickness_text" class="slider_text_input" type="text"/>
					</div>	
				</div>	
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="rectangle_outline_transparancy" min="0" value="0" max="100" step="1" list="rectangle_outline_transparancy_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="rectangle_outline_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>
								
				<h5><%=l('Fill')%></h5>	
				<select name="colorpicker" id="rectangle_fill_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">	
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="rectangle_fill_transparancy" min="0" value="80" max="100" step="1" list="rectangle_fill_transparancy_ticks">
					</div>
					<div class="col-sm-2">
						<input id="rectangle_fill_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<br />
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="rectangle_type">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<div class="icon icon-line_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<div class="icon icon-dotted_line"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<div class="icon icon-dashed_line"></div>
							</button>
						</div></td>
					</tr>
				</table>
			</div>

			<div id='circle_context'>			
			
			<h4><%=l('Circle options')%></h4>
			
			<p>
				<h5><%=l('Outline')%></h5>
				<select name="colorpicker" id="circle_outline_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="circle_outline_thickness" min="0" value="2" max="10" step="1" list="circle_outline_thickness_ticks">
					</div>	
					<div class="col-sm-2"><input id="circle_outline_thickness_text" class="slider_text_input" type="text"/>
					</div>	
				</div>	
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="circle_outline_transparancy" min="0" value="0" max="100" step="1" list="circle_outline_transparancy_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="circle_outline_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>	
								
				<h5><%=l('Fill')%></h5>	
				<select name="colorpicker" id="circle_fill_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="circle_fill_transparancy" min="0" value="80" max="100" step="1" list="circle_fill_transparancy_ticks">
					</div>
					<div class="col-sm-2">
						<input id="circle_fill_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<br />					
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="circle_type">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<div class="icon icon-line_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<div class="icon icon-dotted_line"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<div class="icon icon-dashed_line"></div>
							</button>
						</div></td>
					</tr>
				</table>
				<br />
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Draw style')%></small></td>				
						<td><div class="btn-group" role="group" id="circle_draw_style">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-draw_style="edge" data-toggle="tooltip" title="<%=l('Edge drag')%>">
								<div class="icon icon-draw_circle_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-draw_style="radius" data-toggle="tooltip" title="<%=l('Radius drag')%>">
								<div class="icon icon-draw_circle_radius_icon"></div>
							</button>
						</div></td>
					</tr>
				</table>
			</div>

			<div id='polygon_context'>			
			
			<h4><%=l('Polygon options')%></h4>
			
			<p>
				<h5><%=l('Outline')%></h5>
				<select name="colorpicker" id="polygon_outline_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="polygon_outline_thickness" min="0" value="2" max="10" step="1" list="polygon_outline_thickness_ticks">
					</div>	
					<div class="col-sm-2"><input id="polygon_outline_thickness_text" class="slider_text_input" type="text"/>
					</div>	
				</div>	
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="polygon_outline_transparancy" min="0" value="0" max="100" step="1" list="polygon_outline_transparancy_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="polygon_outline_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>	
								
				<h5><%=l('Fill')%></h5>
				<select name="colorpicker" id="polygon_fill_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="polygon_fill_transparancy" min="0" value="80" max="100" step="1" list="polygon_fill_transparancy_ticks">
					</div>
					<div class="col-sm-2">
						<input id="polygon_fill_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<br />					
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="polygon_type">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<div class="icon icon-line_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<div class="icon icon-dotted_line"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<div class="icon icon-dashed_line"></div>
							</button>
						</div></td>
					</tr>
				</table>
			</div>

			<div id='area_context'>			
			
			<h4><%=l('Area options')%></h4>
			
			<p>
				<h5><%=l('Outline')%></h5>
				<select name="colorpicker" id="area_outline_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="area_outline_thickness" min="0" value="2" max="10" step="1" list="area_outline_thickness_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="area_outline_thickness_text" class="slider_text_input" type="text"/>
					</div>	
				</div>	
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>	
					<div class="col-sm-6">
						<input type="range" id="area_outline_transparancy" min="0" value="0" max="100" step="1" list="area_outline_transparancy_ticks">
					</div>	
					<div class="col-sm-2">
						<input id="area_outline_transparancy_text" class="slider_text_input" type="text"/>
					</div>
				</div>	
								
				<h5><%=l('Fill')%></h5>
				<select name="colorpicker" id="area_fill_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Transparancy')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="area_fill_transparancy" min="0" value="80" max="100" step="1" list="area_fill_transparancy_ticks">
					</div>
					<div class="col-sm-2">
						<input id="area_fill_transparancy_text" class="slider_text_input" type="text" />
					</div>
				</div>
				<br />
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="area_type">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<div class="icon icon-line_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<div class="icon icon-dotted_line"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<div class="icon icon-dashed_line"></div>
							</button>
						</div></td>
					</tr>
				</table>
			</div>
			
			<div id='ping_context' >			
			
			<h4><%=l('Ping options')%></h4>
			
			<p>
				<select name="colorpicker" id="ping_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
	
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Size')%></small></div>
					<div class="col-sm-6">
						<input type="range" id="ping_size" min="1" value="10" max="20" step="1" list="ping_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="ping_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
			</div>

			<div id='track_context'>

			<h4><%=l('Track options')%></h4>
			
			<p>
			<select name="colorpicker" id="track_colorpicker">
				<% include colors.ejs %>
			</select>			
			<input type="color">					

			<div class="btn-group" role="group" id="track_shape">
				<button class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="cursor" data-toggle="tooltip" title="<%=l('Cursor')%>">
					<div class="icon icon-cursor_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="circle" data-toggle="tooltip" title="<%=l('Circle')%>">
					<div class="icon icon-circle_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="dot" data-toggle="tooltip" title="<%=l('Dot')%>">
					<div class="icon icon-dot_icon"></div>
				</button>
				<button class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="recticle" data-toggle="tooltip" title="<%=l('Crosshair')%>">
					<div class="icon icon-recticle_icon"></div>
				</button>
			</div>
			
			<br /><br />
			<div class="clearfix" style="margin-left:-15px">
				<div class="col-sm-4">
					<small><%=l('Size')%></small></div>
				<div class="col-sm-6">
					<input type="range" id="track_size" min="1" value="10" max="20" step="1" list="track_size_ticks">
				</div>
				<div class="col-sm-2">
					<input id="track_size_text" class="slider_text_input" type="text"/>
				</div>
			</div>
			
			</div>
			
			
			<div id='remove_context'>			

			<h4><%=l('Remove options')%></h4>
			
			<p>
				<div class="btn-group" role="group">
					<button class="btn btn-default" aria-label="Left Align" id="clear_all" data-toggle="tooltip" title="<%=l('Clear all')%>">
						<div class="icon icon-clear"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_draw" data-toggle="tooltip" title="<%=l('Clear all free draw')%>">
						<div class="icon icon-clear_draw"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_icons" data-toggle="tooltip" title="<%=l('clear all icons')%>">
						<div class="icon icon-clear_icon"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_lines" data-toggle="tooltip" title="<%=l('Clear all lines and arrows')%>">
						<div class="icon icon-clear_line"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_text" data-toggle="tooltip" title="<%=l('Clear all text')%>">
						<div class="icon icon-clear_text"></div>
					</button>
				</div>
				<br />
				<div class="btn-group" role="group">
					<button class="btn btn-default" aria-label="Left Align" id="clear_selected" data-toggle="tooltip" title="<%=l('Clear all selected items')%>">
						<div class="icon icon-clear_selected"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_curve" data-toggle="tooltip" title="<%=l('Clear all curved lines')%>">
						<div class="icon icon-clear_curve"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_rectangle" data-toggle="tooltip" title="<%=l('Clear all rectangles')%>">
						<div class="icon icon-clear_rectangle"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_circle" data-toggle="tooltip" title="<%=l('Clear all circles')%>">
						<div class="icon icon-clear_circle"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_polygon" data-toggle="tooltip" title="<%=l('Clear all polygons')%>">
						<div class="icon icon-clear_polygon"></div>
					</button>
				</div>
				<br />
				<div class="btn-group" role="group">
					<button class="btn btn-default" aria-label="Left Align" id="clear_area" data-toggle="tooltip" title="<%=l('Clear all areas')%>">
						<div class="icon icon-clear_area"></div>
					</button>
					<button class="btn btn-default" aria-label="Left Align" id="clear_note" data-toggle="tooltip" title="<%=l('Clear all notes')%>">
						<div class="icon icon-clear_note"></div>
					</button>				
				</div>
			</div>

			<div id='text_context'>

			<h4><%=l('Text options')%></h4>
			
			<p>	
			<small><%=l('Text')%></small> <input type="text" id="text_tool_text"/>
			
				<p>
				<select name="colorpicker" id="text_colorpicker">
					<option value="#ffffff"><%=l('White')%></option>
					<option value="#ff0000"><%=l('Red')%></option>
					<option value="#00ff00"><%=l('Green')%></option>
					<option value="#87CEFA"><%=l('Blue')%></option>
					<option value="#000000"><%=l('Black')%></option>
				</select>
				<input type="color">
				
				
				<br />
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Size')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="font_size" min="5" value="12" max="48" step="1" list="font_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="font_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
			</div>
			
			<div id='background_text_context'>

			<h4><%=l('Text with background options')%></h4>
			
			<p>	
			<small><%=l('Text')%></small> <input type="text" id="text_tool_background_text"/>
				<p>
				<select name="colorpicker" id="background_text_colorpicker">
					<option value="#000000"><%=l('Black')%></option>
					<option value="#555555"><%=l('Grey')%></option>
					<option value="#ff0000"><%=l('Red')%></option>
					<option value="#00AA00"><%=l('Green')%></option>
					<option value="#0000FF"><%=l('Blue')%></option>
				</select>
				<input type="color">
							
				<br />
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Size')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="background_font_size" min="5" value="10" max="48" step="1" list="background_font_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="background_font_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
			</div>

			<div id='line_context'>	
							
			<h4><%=l('Line options')%></h4>
			
			<p>
				<select name="colorpicker" id="line_colorpicker">
					<% include colors.ejs %>
				</select>
				<input type="color">
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('Thickness')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="line_thickness" min="1" value="3" max="10" step="1" list="line_thickness_ticks">
					</div>
					<div class="col-sm-2">
						<input id="line_thickness_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<div class="clearfix" style="margin-left:-15px">
					<div class="col-sm-4">
						<small><%=l('End size')%></small>
					</div>
					<div class="col-sm-6">
						<input type="range" id="line_end_size" min="1" value="10" max="20" step="1" list="line_end_size_ticks">
					</div>
					<div class="col-sm-2">
						<input id="line_end_size_text" class="slider_text_input" type="text"/>
					</div>
				</div>
				<p>
				
				<table>
					<tr>
						<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
						<td><div class="btn-group" role="group" id="line_type">						
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<div class="icon icon-line_icon"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<div class="icon icon-dotted_line"></div>
							</button>
							<button class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<div class="icon icon-dashed_line"></div>
							</button>
						</div></td>
					</tr>
					<tr><td>&nbsp;</td><td>&nbsp;</td></tr>
					<tr>
						<td style="padding-right:10px"><small><%=l('End')%></small></td>
						<td><div class="btn-group" role="group" id="line_end_type">
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
							<div class="icon icon-line_icon"></div>
						</button>						
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-arrow"></div>
						</button>
						<button class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<div class="icon icon-line_T"></div>
						</button>
						</div></td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div style="background-color:#EEEEEE; padding:5px;">
		<div class='input-group'>
			<span class='input-group-addon'><%=l("Room link")%></span>
			<input id="send_link" class='form-control col-lg-9' type='text'/>
			<span class='input-group-btn'>
				<button id='link_send' class='btn btn-default'><%=l('Send')%></button>
			</span>
			<span class='input-group-btn'>
				<button id='modal_cancel' class='btn btn-default'><%=l('Cancel')%></button>
			</span>
		</div>
		<input type="checkbox" id="this_slide_only" style="vertical-align:-2px;"><span style="color:black">This slide only</span>
		</div>
	  </div>
	</div>

	<div id="map_modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class='input-group'>
			<span class='input-group-addon'><%=l("Url")%></span>
			<input id="map_url" class='form-control col-lg-9' type='text'/>
			<span class='input-group-btn'>
				<button id='set_map' class='btn btn-default'><%=l('Load')%></button>
			</span>
			<span class='input-group-btn'>
				<button id='map_modal_cancel' class='btn btn-default'><%=l('Cancel')%></button>
			</span>
		</div>
	  </div>
	</div>
	
	<div id="upload_icon_modal" class="modal fade" role="dialog">
	  <div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content" style="color:black">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title"><%=l('Icon upload menu')%></h4>
		</div>
		<div class="modal-body">
			<div class="alert alert-info">
			  <%=l('Here you can manage your custom icons.')%> 
			  <ul>
				<li><%=l('Icons stay with your account across tactics.')%> 
				<li><%=l('If you want icons to take different colors, start the filename with "bw-".')%>
				<li><%=l('Removing icons will also remove them from all tactics.')%>
			  </ul>
			</div>
		
			<button id="icon_modal_select_all" class="btn btn-default menu_btn" aria-label="Left Align" data-toggle="tooltip" title="<%=l('Select all')%>">
				<%=l('Select all')%>
			</button>
			<button id="icon_modal_deselect_all" class="btn btn-default menu_btn" aria-label="Left Align" data-toggle="tooltip" title="<%=l('Deselect all')%>">
				<%=l('Deselect all')%>
			</button>
			<br />
			<span id="no_uploaded_icons"><%=l('You have not uploaded any icons')%></span>
			<div id="icon_list">			
			</div>
			<button id="icon_modal_remove_selected" class="btn btn-default menu_btn" aria-label="Left Align" data-toggle="tooltip" title="<%=l('Remove selected icons')%>">
				<%=l('Remove selected')%>
			</button>
			<button id="select_icon_files" class="btn btn-default menu_btn" aria-label="Left Align" data-toggle="tooltip" title="<%=l('Upload icon(s)')%>">
				<%=l('Upload icons')%>
			</button>
		</div>
		</div>
	  </div>
	</div>
	
	<form id="upload_map_form" method="POST" action="<%=secrets.upload_path%>/upload.php" enctype="multipart/form-data" hidden>
		<input name="MAX_FILE_SIZE" type="hidden"  value="10000000"/>
		<input name="pictures" id="upload_background_browse" type="file" />
		<input type="submit" value="upload"/>
	</form>
	
	<form name="file_submit" id="upload_icon_form" method="POST" action="<%=secrets.upload_path%>/upload_icon.php" enctype="multipart/form-data" hidden>
		<input type="hidden" name="MAX_FILE_SIZE" value="10000000"/>
		<input type="hidden" name="user_id" value="<%=user.identity%>"/>
		<input type="file" id="upload_icon_browse" name="pictures[]" multiple>
		<input type="submit" value="upload"/>
	</form>
	
	<div id='dpitest' style='height: 1in; left: -100%; position: absolute; top: -100%; width: 1in;'></div>
</body>
