<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script src="/javascripts/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
	<script src="/javascripts/jquery.simplecolorpicker.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.simplecolorpicker.css">
	<script type="text/javascript" src="http://karellodewijk.github.io/javascripts/pixi.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap-slider.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css" />
	<script type="text/javascript" src="http://cdn.socket.io/socket.io-1.3.6.js"></script>
	<script type="text/javascript" src="/javascripts/TransparencyHitArea.js"></script>
	<script type="text/javascript" src="/javascripts/planner.js"></script>
	<meta id="slide_name" content=<%=l('Slide')%>>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('Planner')%></title>
	<meta name="description" content="<%=game.toUpperCase()%> <%=l('strategy')%>">
</head>
<body>

	<div class="edit_window"></div>
	
	
	<div class="side_bar jumbotron">
<nav class="navbar navbar-inverse container-fluid navbar_planner">
	<div class="navbar-header">
		<a class="navbar-brand" style="padding-left:0px"
			<% if (game == 'wot') { %>
				href="/">
			<% } else if (game == 'wows') { %>
				href="/">
			<% } else if (game == 'blitz') { %>
				href="/blitz.html">
			<% } else if (game == 'aw') { %>
				href="/">
			<% } %><%=l('Home')%>
		</a>
	</div>
	<ul class="nav navbar-nav navbar-left container-fluid btn-group">
		<%if (game != 'blitz') { %>	
			<li><button id="save" href="javascript:void(0)" class="btn btn-default navbar-btn" data-placement="bottom" data-toggle="tooltip" title="<%=l('Save')%>">
				<img src="http://karellodewijk.github.io/icons/save.png">
			</button></li>
			<li><span title="<%=l('Save as')%>" id='store_tactic_popover' data-placement="bottom" data-toggle="popover" data-content="<div class='input-group'><input type='text' class='form-control' id='tactic_name'><span class='input-group-btn'><button id='store_tactic' class='btn btn-default'><%=l('Store')%></button></span></div>"><button id="save_as" data-toggle="tooltip" title="<%=l('Save as')%>" href="javascript:void(0)" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save as')%>">
				<img src="http://karellodewijk.github.io/icons/save_as.png">
			</button></span></li>

			<li><button id="lock" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Locks/unlocks edit mode for users without additional permissions')%>">
				<img src="http://karellodewijk.github.io/icons/lock.png">
			</button></li>
			<li><button id="export" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save tactic as image')%>">
				<img src="http://karellodewijk.github.io/icons/export.png">
			</button></li>
			<li><button id="backup" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Download a backup')%>">
				<img src="http://karellodewijk.github.io/icons/archive_icon.png">
			</button></li>
			<li><button id="link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Copy link to clipboard, send it to friends or clan mates to invite them to this tactic')%>">
				<img src="http://karellodewijk.github.io/icons/link.png">
			</button></li>
		<% } %>	
	</ul>
	<ul class="nav navbar-nav navbar-right container-fluid">
		<% include language_select.ejs %>
		<% include login_button.ejs %>
	</ul>
</nav>
		<div class="top">
			<div class="left_column">	
				<h4><%=l('Map')%></h4>
				<p>
					<div class="dropdown" id="map_select_container">
						<select class="selectpicker" id="map_select">
						<option value=""></option>
						<%if (game == 'wot') { %>	
							<%include wot_maps.ejs %>	
						<%} else if (game == 'wows') { %>	
							<%include wows_maps.ejs%>	
						<%} else if (game == 'blitz') { %>	
							<%include blitz_maps.ejs %>	
						<%} else if (game == 'aw') { %>	
							<%include aw_maps.ejs %>	
						<%} %>	
						</select>
					</div>

				<hr>

				<h4><%=l('Tools')%></h4>
				<p>
					<div id="contexts">
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="ping" data-toggle="tooltip" title="<%=l('Ping map')%>">
						<img src="http://karellodewijk.github.io/icons/ping_icon.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="icon" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
						<img src="http://karellodewijk.github.io/icons/
							<%if (game == 'wows') { %>
								ship_icon.png
							<%} else if (game == 'aw') { %>
								aw_icon.png
							<%} else { %>
								tank_icon.png
							<%} %>
						"/>
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="draw" data-toggle="tooltip" title="<%=l('Free draw')%>">
						<img src="http://karellodewijk.github.io/icons/pencil.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="text" data-toggle="tooltip" title="<%=l('Add Text')%>">
						<img src="http://karellodewijk.github.io/icons/text_icon.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="line" data-toggle="tooltip" title="<%=l('Draw line (hold left mouse)')%>">
						<img src="http://karellodewijk.github.io/icons/line_icon.png" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="curve" data-toggle="tooltip" title="<%=l('Draw curve (double click to end)')%>">
						<img src="http://karellodewijk.github.io/icons/curve.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="rectangle" data-toggle="tooltip" title="<%=l('Draw rectangle')%>">
						<img src="http://karellodewijk.github.io/icons/rectangle.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="circle" data-toggle="tooltip" title="<%=l('Draw circle')%>">
						<img src="http://karellodewijk.github.io/icons/draw_circle_icon.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="polygon" data-toggle="tooltip" title="<%=l('Draw polygon')%>">
						<img src="http://karellodewijk.github.io/icons/polygon.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="area" data-toggle="tooltip" title="<%=l('Draw area')%>">
						<img src="http://karellodewijk.github.io/icons/area.png" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="note" data-toggle="tooltip" title="<%=l('Add a note')%>">
						<img src="http://karellodewijk.github.io/icons/note.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="select" data-toggle="tooltip" title="<%=l('Select items on the map')%>">
						<img src="http://karellodewijk.github.io/icons/select.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="remove" data-toggle="tooltip" title="<%=l('Delete (click map)/Delete menu')%>">
						<img src="http://karellodewijk.github.io/icons/bin.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="track" data-toggle="tooltip" title="<%=l('Track cursor')%>">
						<img src="http://karellodewijk.github.io/icons/recticle_icon.png" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="undo" data-toggle="tooltip" title="<%=l('Undo last action')%>">
						<img src="http://karellodewijk.github.io/icons/undo.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="redo" data-toggle="tooltip" title="<%=l('Redo last action')%>">
						<img src="http://karellodewijk.github.io/icons/redo.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="cut" data-toggle="tooltip" title="<%=l('Cut (ctrl-x)')%>">
						<img src="http://karellodewijk.github.io/icons/cut.png" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="copy" data-toggle="tooltip" title="<%=l('Copy (ctrl-c)')%>">
						<img src="http://karellodewijk.github.io/icons/copy.png" />
					</button>			
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="paste" data-toggle="tooltip" title="<%=l('Paste (press ctrl-v while on the map to paste to a specific location)')%>">
						<img src="http://karellodewijk.github.io/icons/paste.png" />
					</button>						
					</div>
					</div>					

				<hr>
				
				<div id='icon_context'>
						
				<h4><%=l('Icon options')%> (<span id="icon_counter">0</span>)</h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				
					<p>	
					<small><%=l('Label')%></small> <input type="text" id="icon_label"/>
					<p>				
						<%if (game == 'wot') { %>
							<%include wot_icons.ejs%>
						<%} else if (game == 'wows') { %>
							<%include wows_icons.ejs%>
						<%} else if (game == 'blitz') { %>
							<%include blitz_icons.ejs%>
						<%} else if (game == 'aw') { %>
							<%include aw_icons.ejs%>
						<%} %>					
					<p>
					<select name="colorpicker" id="icon_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<%if (game == 'aw') { %>
						<option value="#70c5ea"><%=l('Cyan')%></option>
						<% } %>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
					</select>

					<div class="row">
						<div class="col-sm-4">
							<small><%=l('Label size')%></small>
						</div>
						<div class="col-sm-5">
							<input id="label_font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="3" data-slider-max="99" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"15"<%} else {%>"10"<%}%>/>
						</div>
						<div class="col-sm-3">
							&nbsp;<input id="label_font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<small><%=l('Icon size')%></small>
						</div>
						<div class="col-sm-5">
							<input id="icon_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="50" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"35"<%} else {%>"20"<%}%>/>
						</div>
						<div class="col-sm-3">
							&nbsp;<input id="icon_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='draw_context'>			
				
				<h4><%=l('Draw options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="draw_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="draw_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="draw_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					<div class="btn-group" role="group" id="draw_type">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="draw_no_arrow" data-toggle="tooltip" title="<%=l('Normal line')%>">
							<img src="http://karellodewijk.github.io/icons/curved_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="draw_arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<img src="http://karellodewijk.github.io/icons/curved_arrow.png" />
						</button>
					</div>							
				</div>
				</div>

				<div id='curve_context'>			
				
				<h4><%=l('Curve options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="curve_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
					</select>
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="curve_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="curve_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					<div class="btn-group" role="group" id="curve_type">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="curve_no_arrow" data-toggle="tooltip" title="<%=l('Normal curved line')%>">
							<img src="http://karellodewijk.github.io/icons/curved_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="curve_arrow" data-toggle="tooltip" title="<%=l('Curved arrow')%>">
							<img src="http://karellodewijk.github.io/icons/curved_arrow.png" />
						</button>
					</div>				
				</div>
				</div>
				
				<div id='rectangle_context'>			
				
				<h4><%=l('Rectangle options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="rectangle_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="rectangle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="rectangle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>	
					<select name="colorpicker" id="rectangle_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="rectangle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="rectangle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='circle_context'>			
				
				<h4><%=l('Circle options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="circle_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="circle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="circle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>		
					<select name="colorpicker" id="circle_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="circle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="circle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='polygon_context'>			
				
				<h4><%=l('Polygon options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="polygon_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="polygon_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="polygon_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>		
					<select name="colorpicker" id="polygon_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="polygon_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="polygon_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='area_context'>			
				
				<h4><%=l('Area options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="area_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>		
					<select name="colorpicker" id="area_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="area_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="area_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>
				
				<div id='ping_context'>			
				
				<h4><%=l('Ping options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="ping_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
				
				</div>
				</div>

				<div id='track_context'>

				<h4><%=l('Track options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">				
				<p>
					<select name="colorpicker" id="track_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>				
				</div>

				<div class="btn-group" role="group" id="track_shape">
					<button type="button" class="btn btn-default" aria-label="Left Align" id="cursor" data-toggle="tooltip" title="<%=l('Cursor')%>">
						<img src="http://karellodewijk.github.io/icons/cursor_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="circle" data-toggle="tooltip" title="<%=l('Circle')%>">
						<img src="http://karellodewijk.github.io/icons/circle_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="dot" data-toggle="tooltip" title="<%=l('Dot')%>">
						<img src="http://karellodewijk.github.io/icons/dot_icon.png" />
					</button>
					<button type="button" class="btn btn-default" aria-label="Left Align" id="recticle" data-toggle="tooltip" title="<%=l('Crosshair')%>">
						<img src="http://karellodewijk.github.io/icons/recticle_icon.png" />
					</button>
				</div>
				
				</div>
				
				
				<div id='remove_context'>			

				<h4><%=l('Remove options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_all" data-toggle="tooltip" title="<%=l('Clear all')%>">
							<img src="http://karellodewijk.github.io/icons/clear.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_draw" data-toggle="tooltip" title="<%=l('Clear all free draw')%>">
							<img src="http://karellodewijk.github.io/icons/clear_draw.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_icons" data-toggle="tooltip" title="<%=l('clear all icons')%>">
							<img src="http://karellodewijk.github.io/icons/clear_icon.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_lines" data-toggle="tooltip" title="<%=l('Clear all lines and arrows')%>">
							<img src="http://karellodewijk.github.io/icons/clear_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_text" data-toggle="tooltip" title="<%=l('Clear all text')%>">
							<img src="http://karellodewijk.github.io/icons/clear_text.png" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_selected" data-toggle="tooltip" title="<%=l('Clear all selected items')%>">
							<img src="http://karellodewijk.github.io/icons/clear_selected.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_curve" data-toggle="tooltip" title="<%=l('Clear all curved lines')%>">
							<img src="http://karellodewijk.github.io/icons/clear_curve.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_rectangle" data-toggle="tooltip" title="<%=l('Clear all rectangles')%>">
							<img src="http://karellodewijk.github.io/icons/clear_rectangle.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_circle" data-toggle="tooltip" title="<%=l('Clear all circles')%>">
							<img src="http://karellodewijk.github.io/icons/clear_circle.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_polygon" data-toggle="tooltip" title="<%=l('Clear all polygons')%>">
							<img src="http://karellodewijk.github.io/icons/clear_polygon.png" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_area" data-toggle="tooltip" title="<%=l('Clear all areas')%>">
							<img src="http://karellodewijk.github.io/icons/clear_area.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_note" data-toggle="tooltip" title="<%=l('Clear all notes')%>">
							<img src="http://karellodewijk.github.io/icons/clear_note.png" />
						</button>				
					</div>
				
				</div>
				</div>

				<div id='text_context'>

				<h4><%=l('Text options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>	
				<small><%=l('Text')%></small> <input type="text" id="text_tool_text"/>
					<p>
					<select name="colorpicker" id="text_colorpicker">
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					
					<br />
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Size')%></small>
						</div>
						<div class="col-sm-5">
							<input id="font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="99" data-slider-step="1" data-slider-value="10"/>
						</div>
						<div class="col-sm-3">
							<input id="font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				</div>

				<div id='line_context'>	
								
				<h4><%=l('Line options')%></h4>
				
				<div class="container" style="max-width: 250px; padding:0px;">
				<p>
					<select name="colorpicker" id="line_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#0000ff"><%=l('Blue')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					<br/>
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="line_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>
						<div class="col-sm-3">
							<input id="line_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					<div class="btn-group" role="group" id="line_type">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="full_line" data-toggle="tooltip" title="<%=l('Normal line')%>">
							<img src="http://karellodewijk.github.io/icons/line_icon.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="dotted_line" data-toggle="tooltip" title="<%=l('Dotted line')%>">
							<img src="http://karellodewijk.github.io/icons/dotted_line.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
							<img src="http://karellodewijk.github.io/icons/arrow.png" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="dotted_arrow" data-toggle="tooltip" title="<%=l('Dotted arrow')%>">
							<img src="http://karellodewijk.github.io/icons/dotted_arrow.png" />
						</button>
					</div>
				</div>
				</div>

				<%if (game == 'blitz') { %>	
				<h4>Extra</h4>
				<p>
				
				<div class="btn-group" role="group">
				<a id="save" href="javascript:void(0)" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="<%=l('Save')%>">
					<img src="http://karellodewijk.github.io/icons/save.png">
				</a>
				<a id="save_as" href="javascript:void(0)" class="btn btn-default" data-placement="bottom"
				data-toggle="popover" data-content="<input type='text' id='tactic_name' style='width:100px' /> <button id='store_tactic' class='btn btn-default btn-xs'>Store</button>">
					<img data-toggle="tooltip" title="<%=l('Save as')%>" src="http://karellodewijk.github.io/icons/save_as.png">
				</a>

				<button id="lock" class="btn btn-default" data-toggle="tooltip" title="<%=l('Locks/unlocks edit mode for users without additional permissions')%>">
					<img src="http://karellodewijk.github.io/icons/lock.png">
				</button>
				<button id="export" class="btn btn-default" data-toggle="tooltip" title="<%=l('Save tactic as image')%>">
					<img src="http://karellodewijk.github.io/icons/export.png">
				</button>
				<button id="link" class="btn btn-default" data-toggle="tooltip" title="<%=l('Copy link to clipboard, send it to friends or clan mates to invite them to this tactic')%>">
					<img src="http://karellodewijk.github.io/icons/link.png">
				</button>
				</div>
				<% } %>	
					
			</div>
			
			<%if (game != 'blitz') { %>	
			<div class="right_column">
				<h4><%=l('User list')%> (<span id="user_count"></span>)</h4>
				<p>
				<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
			</div>
			<% } %>
		</div>	
			
		<%if (game != 'blitz') { %>	
		
		<div class="bottom" style="width:500px;">
			<hr>
			<ul class="nav nav-tabs" id="bottom_tabs">
			  <li class="active"><a data-toggle="tab" href="#chat_tab">Chat</a></li>
			  <li id="slide_tab_button"><a data-toggle="tab" href="#slide_tab">Slides</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" style="height:150px;" id="chat_tab">
					<textarea readonly id="chat_box" rows="10" cols="8" style="height:80%; width:100%;"></textarea>
					<br />
					<input id="chat_input" class="slider_text_input" type="text" style="height:20%; width:100%;"/>
				</div>
				<div class="tab-pane" id="slide_tab">
					<div class="btn-group input-group dropdown" id="slide_box">
						<button class="btn btn-default slide_btn" id="prev_slide" data-toggle="tooltip" title="<%=l('Previous slide')%>">&#9664;</button>
						<button type="button" class="btn btn-default slide_btn" id="remove_slide" data-toggle="tooltip" title="<%=l('Remove slide')%>">
							<img src="http://karellodewijk.github.io/icons/bin.png" />
						</button>	
						<a class="btn btn-default slide_btn" data-toggle="dropdown">
							<input type="text" id="slide_name_field" placeholder="<%=l('Slide')%> 1" />&#9660;
						</a>					
						<ul class="dropdown-menu" id="slide_select">
						</ul>
						<button class="btn btn-default slide_btn" id="new_slide" data-toggle="tooltip" title="<%=l('New slide')%>">&#10133;</button>
						<button class="btn btn-default slide_btn" id="next_slide" data-toggle="tooltip" title="<%=l('Next slide')%>">&#9654;</button>		
					</div>
				</div>
			</div>
		</div>
		<% } %>	
	</div>

<%if (game == 'blitz') { %>	
	<div class="side_bar jumbotron">
		<div class="bottom">
			<ul class="nav nav-tabs" id="bottom_tabs">
			  <li class="active"><a data-toggle="tab" href="#chat_tab">Chat</a></li>
			  <li id="slide_tab_button"><a data-toggle="tab" href="#slide_tab">Slides</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" style="height:150px;" id="chat_tab">
					<textarea readonly id="chat_box" rows="10" cols="8" style="height:80%; width:100%;"></textarea>
					<br />
					<input id="chat_input" class="slider_text_input" type="text" style="height:20%; width:100%;"/>
				</div>
				<div class="tab-pane" id="slide_tab">
					<div class="btn-group input-group dropdown" id="slide_box">
						<button class="btn btn-default slide_btn" id="prev_slide" data-toggle="tooltip" title="<%=l('Previous slide')%>">&#9664;</button>
						<button type="button" class="btn btn-default slide_btn" id="remove_slide" data-toggle="tooltip" title="<%=l('Remove slide')%>">
							<img src="http://karellodewijk.github.io/icons/bin.png" />
						</button>	
						<a class="btn btn-default slide_btn" data-toggle="dropdown">
							<input type="text" id="slide_name_field" placeholder="<%=l('Slide')%> 1" />&#9660;
						</a>					
						<ul class="dropdown-menu" id="slide_select">
						</ul>
						<button class="btn btn-default slide_btn" id="new_slide" data-toggle="tooltip" title="<%=l('New slide')%>">&#10133;</button>
						<button class="btn btn-default slide_btn" id="next_slide" data-toggle="tooltip" title="<%=l('Next slide')%>">&#9654;</button>		
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side_bar jumbotron">
		<div class="right_column">
			<h4><%=l('User list')%> (<span id="user_count"></span>)</h4>
			<p>
			<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
		</div>
	</div>
<% } %>	
	
	
</body>