<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
	<script defer src="/javascripts/lib/bootstrap-select.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css">
	<script defer src="/javascripts/lib/jquery.simplecolorpicker.js"></script>
	<link rel="stylesheet" href="/stylesheets/jquery.simplecolorpicker.css">
	<script defer type="text/javascript" src="http://karellodewijk.github.io/javascripts/pixi.min.js"></script>
	<script defer type="text/javascript" src="/javascripts/lib/bootstrap-slider.min.js"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap-slider.min.css" />
	<script defer type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script defer type="text/javascript" src="/javascripts/lib/TransparencyHitArea.js"></script>
	<script defer type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script defer type="text/javascript" src="/javascripts/planner.js"></script>
	<title><%=game.toUpperCase()%> <%=l('Tactics')%> - <%=l('Planner')%></title>
	<meta name="description" content="<%=game.toUpperCase()%> <%=l('strategy')%>">
</head>
<body>

	<div class="edit_window">
		<!--<img id="map_grid" style="position:absolute; z-index:5; pointer-events:none" src="http://karellodewijk.github.io/icons/grid.png" hidden>-->
	</div>
	
	
	<div class="side_bar jumbotron">
	<nav class="navbar navbar-inverse container-fluid navbar_planner">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" style="padding-left:0px"
			<% if (game == 'wot') { %>
				href="/">
			<% } else if (game == 'wows') { %>
				href="/">
			<% } else if (game == 'blitz') { %>
				href="/blitz.html">
			<% } else if (game == 'aw') { %>
				href="/">
			<% } %><i class="fa fa-home fa-lg"></i>
		</a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav navbar-left container-fluid">
			<%if (game != 'blitz') { %>
				<li>
				<div class="btn-group">
				<button id="save" class="btn btn-default navbar-btn" data-placement="bottom" data-toggle="tooltip" title="<%=l('Save')%>">
					<img src="http://karellodewijk.github.io/icons/save.png" alt="save">
				</button>
				<button id='store_tactic_popover' data-placement="right" data-toggle="popover" data-content="<div class='input-group'><input type='text' class='form-control' id='tactic_name'><span class='input-group-btn'><button id='store_tactic' class='btn btn-default'><%=l('Store')%></button></span></div>" class="btn btn-default navbar-btn" title="<%=l('Save as')%>">
					<img src="http://karellodewijk.github.io/icons/save_as.png" alt="save as">
				</button>
				<button id="lock" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Locks/unlocks edit mode for users without additional permissions')%>">
					<img src="http://karellodewijk.github.io/icons/lock.png" alt="lock">
				</button>
				<button id="link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Copy link to clipboard, send it to friends or clan mates to invite them to this tactic')%>">
					<img src="http://karellodewijk.github.io/icons/link.png" alt="link">
				</button>
				<% if (game == 'wot' || game == 'wows') { %>
					<button id="grid" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Show grid')%>">
						<img src="http://karellodewijk.github.io/icons/grid_icon.png" alt="link">
					</button>
				<% } %>					
				</div>
				</li>
			<% } %>	
		</ul>
		<ul class="nav navbar-nav navbar-right container-fluid">
			<% include language_select.ejs %>
			<% include login_button.ejs %>
		</ul>
	</div>

	</nav>
		<div class="top">
			<div class="left_column">	
				<h4><%=l('Map')%></h4>
				<p>
					<div class="dropdown" id="map_select_container">
						<select class="selectpicker" id="map_select">
						<option value="">&nbsp;</option>
						<%if (game == 'wot') { %>	
							<%include wot_maps.ejs %>	
						<%} else if (game == 'wows') { %>	
							<%include wows_maps.ejs%>	
						<%} else if (game == 'blitz') { %>	
							<%include blitz_maps.ejs %>	
						<%} else if (game == 'aw') { %>	
							<%include aw_maps.ejs %>	
						<%} %>	
						</select>
					</div>
				<hr>

				<h4><%=l('Tools')%></h4>
				<p>
					<div id="contexts">
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="ping" data-toggle="tooltip" title="<%=l('Ping map')%>">
						<img src="http://karellodewijk.github.io/icons/ping_icon.png" alt="ping" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="track" data-toggle="tooltip" title="<%=l('Track cursor')%>">
						<img src="http://karellodewijk.github.io/icons/recticle_icon.png" alt="track" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="icon" data-toggle="tooltip" title="<%=l('Add icon (click map)')%>">
						<img src="http://karellodewijk.github.io/icons/<%if (game == 'wows') { %>ship_icon.png<%} else if (game == 'aw') { %>aw_icon.png<%} else { %>tank_icon.png<%} %>" alt="icon" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="draw" data-toggle="tooltip" title="<%=l('Free draw')%>">
						<img src="http://karellodewijk.github.io/icons/pencil.png" alt="draw" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="line" data-toggle="tooltip" title="<%=l('Draw line (hold left mouse)')%>">
						<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="line" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="curve" data-toggle="tooltip" title="<%=l('Draw curve (double click to end)')%>">
						<img src="http://karellodewijk.github.io/icons/curve.png" alt="curve" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="rectangle" data-toggle="tooltip" title="<%=l('Draw rectangle')%>">
						<img src="http://karellodewijk.github.io/icons/rectangle.png" alt="rectangle" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="circle" data-toggle="tooltip" title="<%=l('Draw circle')%>">
						<img src="http://karellodewijk.github.io/icons/draw_circle_icon.png" alt="circle" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="polygon" data-toggle="tooltip" title="<%=l('Draw polygon')%>">
						<img src="http://karellodewijk.github.io/icons/polygon.png" alt="polygon" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="area" data-toggle="tooltip" title="<%=l('Draw area')%>">
						<img src="http://karellodewijk.github.io/icons/area.png" alt="area" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="text" data-toggle="tooltip" title="<%=l('Add Text')%>">
						<img src="http://karellodewijk.github.io/icons/text_icon.png" alt="text" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="background_text" data-toggle="tooltip" title="<%=l('Add Text with background')%>">
						<img src="http://karellodewijk.github.io/icons/text_on_background.png" alt="text" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="note" data-toggle="tooltip" title="<%=l('Add a note')%>">
						<img src="http://karellodewijk.github.io/icons/note.png" alt="note" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="select" data-toggle="tooltip" title="<%=l('Select items on the map')%>">
						<img src="http://karellodewijk.github.io/icons/select.png" alt="select" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="remove" data-toggle="tooltip" title="<%=l('Delete (click map)/Delete menu')%>">
						<img src="http://karellodewijk.github.io/icons/bin.png" alt="bin" />
					</button>
					</div>
					<br />
					<div class="btn-group">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="undo" data-toggle="tooltip" title="<%=l('Undo last action')%>">
						<img src="http://karellodewijk.github.io/icons/undo.png" alt="undo" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="redo" data-toggle="tooltip" title="<%=l('Redo last action')%>">
						<img src="http://karellodewijk.github.io/icons/redo.png" alt="redo" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="cut" data-toggle="tooltip" title="<%=l('Cut (ctrl-x)')%>">
						<img src="http://karellodewijk.github.io/icons/cut.png" alt="cut" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="copy" data-toggle="tooltip" title="<%=l('Copy (ctrl-c)')%>">
						<img src="http://karellodewijk.github.io/icons/copy.png" alt="copy" />
					</button>			
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" id="paste" data-toggle="tooltip" title="<%=l('Paste (press ctrl-v while on the map to paste to a specific location)')%>">
						<img src="http://karellodewijk.github.io/icons/paste.png" alt="paste" />
					</button>						
					</div>
					</div>					

				<hr>
				
				<div id='icon_context'>
						
				<h4><%=l('Icon options')%> (<span id="icon_counter">0</span>)</h4>
				
					<p>	
					<small><%=l('Label')%></small> <input type="text" id="icon_label" />
					<p>				
						<%if (game == 'wot') { %>
							<%include wot_icons.ejs%>
						<%} else if (game == 'wows') { %>
							<%include wows_icons.ejs%>
						<%} else if (game == 'blitz') { %>
							<%include blitz_icons.ejs%>
						<%} else if (game == 'aw') { %>
							<%include aw_icons.ejs%>
						<%} %>					
					<p>
					
					<%if (game=='wot') {%>
						<div class="row">
							<button id="extra_icons"><%=l('Extra icons')%><span class="caret"></span></button>
							<div id="extra_icons_menu" style="max-height:200px; width:250px; overflow-y: auto" ></div>
							<button id="tank_icons"><%=l('Tank icons')%><span class="caret"></span></button>
							<div id="tank_icon_menu" style="max-height:200px; width:250px; overflow-y: auto" ></div>
							<button id="contour_icons"><%=l('Contour icons')%><span class="caret"></span></button>
							<div id="contour_icon_menu" style="max-height:200px; width:250px; overflow-y: auto" ></div>
						</div>
					<%}%>
					
					<select name="colorpicker" id="icon_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<%if (game == 'aw') { %>
						<option value="#70c5ea"><%=l('Cyan')%></option>
						<% } %>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<%if (game != 'aw') { %>
						<option value="#ffff00"><%=l('Yellow')%></option>
						<% } %>
						<option value="#ffffff"><%=l('White')%></option>
					</select>
					<input type="color">

					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Label size')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="label_font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="3" data-slider-max="99" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"15"<%} else {%>"10"<%}%>/>
						</div>	
						<div class="col-sm-3">
							<input id="label_font_size_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Icon size')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="icon_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="50" data-slider-step="1" data-slider-value=<%if (game == 'blitz') { %>"35"<%} else if (game == 'wows') { %>"15"<% } else {%>"20"<%}%>/>
						</div>	
						<div class="col-sm-3">
							<input id="icon_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Brightness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="icon_brightness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="-1" data-slider-max="1" data-slider-step="0.1" data-slider-value="0"/>
						</div>
						<div class="col-sm-3">
							<input id="icon_brightness_text" class="slider_text_input" type="text"/>
						</div>
					</div>			
				</div>

				<div id='draw_context'>			
				
				<h4><%=l('Draw options')%></h4>
				
				<p>
					<select name="colorpicker" id="draw_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="draw_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>
						</div>
						<div class="col-sm-3">
							<input id="draw_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="draw_type">						
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
								<img src="http://karellodewijk.github.io/icons/curved_line.png" alt="normal" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
								<img src="http://karellodewijk.github.io/icons/curved_dotted_line.png" alt="dotted" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
								<img src="http://karellodewijk.github.io/icons/curved_dashed_line.png" alt="dashed" />
							</button>
							</div></td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td style="padding-right:10px"><small><%=l('End')%></small></td>
							<td><div class="btn-group" role="group" id="draw_end_type">
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
								<img src="http://karellodewijk.github.io/icons/curved_line.png" alt="normal line" />
							</button>						
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/curved_arrow.png" alt="arrow" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/curve_T.png" alt="T" />
							</button>
							</div></td>
						</tr>
					</table>					
				</div>

				<div id='curve_context'>			
				
				<h4><%=l('Curve options')%></h4>
				
				<p>
					<select name="colorpicker" id="curve_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="curve_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>
						</div>
						<div class="col-sm-3">
							<input id="curve_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="curve_type">						
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal curve')%>">
								<img src="http://karellodewijk.github.io/icons/curved_line.png" alt="normal" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted curve')%>">
								<img src="http://karellodewijk.github.io/icons/curved_dotted_line.png" alt="dotted" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed curve')%>">
								<img src="http://karellodewijk.github.io/icons/curved_dashed_line.png" alt="dashed" />
							</button>
							</div></td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td style="padding-right:10px"><small><%=l('End')%></small></td>
							<td><div class="btn-group" role="group" id="curve_end_type">
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
								<img src="http://karellodewijk.github.io/icons/curved_line.png" alt="normal line" />
							</button>						
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/curved_arrow.png" alt="arrow" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/curve_T.png" alt="T" />
							</button>
							</div></td>
						</tr>
					</table>
				</div>
				
				<div id='rectangle_context'>			
				
				<h4><%=l('Rectangle options')%></h4>
				
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="rectangle_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="rectangle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="rectangle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="rectangle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
									
					<h5><%=l('Fill')%></h5>	
					<select name="colorpicker" id="rectangle_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">	
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="rectangle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="rectangle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<br />
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="rectangle_type">						
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
									<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
									<img src="http://karellodewijk.github.io/icons/dotted_line.png" alt="dotted line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
									<img src="http://karellodewijk.github.io/icons/dashed_line.png" alt="dashed line" />
								</button>
							</div></td>
						</tr>
					</table>
				</div>

				<div id='circle_context'>			
				
				<h4><%=l('Circle options')%></h4>
				
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="circle_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="circle_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="circle_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="circle_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>	
					<select name="colorpicker" id="circle_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="circle_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="circle_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<br />					
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="circle_type">						
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
									<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
									<img src="http://karellodewijk.github.io/icons/dotted_line.png" alt="dotted line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
									<img src="http://karellodewijk.github.io/icons/dashed_line.png" alt="dashed line" />
								</button>
							</div></td>
						</tr>
					</table>
				</div>

				<div id='polygon_context'>			
				
				<h4><%=l('Polygon options')%></h4>
				
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="polygon_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3"><input id="polygon_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="polygon_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="polygon_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>
					<select name="colorpicker" id="polygon_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="polygon_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="polygon_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<br />					
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="polygon_type">						
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
									<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
									<img src="http://karellodewijk.github.io/icons/dotted_line.png" alt="dotted line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
									<img src="http://karellodewijk.github.io/icons/dashed_line.png" alt="dashed line" />
								</button>
							</div></td>
						</tr>
					</table>
				</div>

				<div id='area_context'>			
				
				<h4><%=l('Area options')%></h4>
				
				<p>
					<h5><%=l('Outline')%></h5>
					<select name="colorpicker" id="area_outline_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="2"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_thickness_text" class="slider_text_input" type="text"/>
						</div>	
					</div>	
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>	
						<div class="col-sm-5">
							<input id="area_outline_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="1"/>
						</div>	
						<div class="col-sm-3">
							<input id="area_outline_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>	
									
					<h5><%=l('Fill')%></h5>
					<select name="colorpicker" id="area_fill_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Opacity')%></small>
						</div>
						<div class="col-sm-5">
							<input id="area_fill_opacity" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="1" data-slider-step="0.1" data-slider-value="0.2"/>
						</div>
						<div class="col-sm-3">
							<input id="area_fill_opacity_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<br />
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="area_type">						
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
									<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
									<img src="http://karellodewijk.github.io/icons/dotted_line.png" alt="dotted line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
									<img src="http://karellodewijk.github.io/icons/dashed_line.png" alt="dashed line" />
								</button>
							</div></td>
						</tr>
					</table>
				</div>
				
				<div id='ping_context'>			
				
				<h4><%=l('Ping options')%></h4>
				
				<p>
					<select name="colorpicker" id="ping_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
				</div>

				<div id='track_context'>

				<h4><%=l('Track options')%></h4>
				
				<p>
				<select name="colorpicker" id="track_colorpicker">
					<option value="#ff0000"><%=l('Red')%></option>
					<option value="#00ff00"><%=l('Green')%></option>
					<option value="#87CEFA"><%=l('Blue')%></option>
					<option value="#ffffff"><%=l('White')%></option>
					<option value="#ffff00"><%=l('Yellow')%></option>
				</select>			
				<input type="color">					

				<div class="btn-group" role="group" id="track_shape">
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="cursor" data-toggle="tooltip" title="<%=l('Cursor')%>">
						<img src="http://karellodewijk.github.io/icons/cursor_icon.png" alt="cursor" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="circle" data-toggle="tooltip" title="<%=l('Circle')%>">
						<img src="http://karellodewijk.github.io/icons/circle_icon.png" alt="circle" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="dot" data-toggle="tooltip" title="<%=l('Dot')%>">
						<img src="http://karellodewijk.github.io/icons/dot_icon.png" alt="dot" />
					</button>
					<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-cursor="recticle" data-toggle="tooltip" title="<%=l('Crosshair')%>">
						<img src="http://karellodewijk.github.io/icons/recticle_icon.png" alt="recticle" />
					</button>
				</div>
				</div>
				
				
				<div id='remove_context'>			

				<h4><%=l('Remove options')%></h4>
				
				<p>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_all" data-toggle="tooltip" title="<%=l('Clear all')%>">
							<img src="http://karellodewijk.github.io/icons/clear.png" alt="clear all" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_draw" data-toggle="tooltip" title="<%=l('Clear all free draw')%>">
							<img src="http://karellodewijk.github.io/icons/clear_draw.png" alt="clear free draw" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_icons" data-toggle="tooltip" title="<%=l('clear all icons')%>">
							<img src="http://karellodewijk.github.io/icons/clear_icon.png" alt="clear icons" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_lines" data-toggle="tooltip" title="<%=l('Clear all lines and arrows')%>">
							<img src="http://karellodewijk.github.io/icons/clear_line.png" alt="clear lines" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_text" data-toggle="tooltip" title="<%=l('Clear all text')%>">
							<img src="http://karellodewijk.github.io/icons/clear_text.png" alt="clear text" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_selected" data-toggle="tooltip" title="<%=l('Clear all selected items')%>">
							<img src="http://karellodewijk.github.io/icons/clear_selected.png" alt="clear selection" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_curve" data-toggle="tooltip" title="<%=l('Clear all curved lines')%>">
							<img src="http://karellodewijk.github.io/icons/clear_curve.png" alt="clear curves" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_rectangle" data-toggle="tooltip" title="<%=l('Clear all rectangles')%>">
							<img src="http://karellodewijk.github.io/icons/clear_rectangle.png" alt="clear rectangles" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_circle" data-toggle="tooltip" title="<%=l('Clear all circles')%>">
							<img src="http://karellodewijk.github.io/icons/clear_circle.png" alt="clear circles" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_polygon" data-toggle="tooltip" title="<%=l('Clear all polygons')%>">
							<img src="http://karellodewijk.github.io/icons/clear_polygon.png" alt="clear polygon" />
						</button>
					</div>
					<br />
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_area" data-toggle="tooltip" title="<%=l('Clear all areas')%>">
							<img src="http://karellodewijk.github.io/icons/clear_area.png" alt="clear areas" />
						</button>
						<button type="button" class="btn btn-default" aria-label="Left Align" id="clear_note" data-toggle="tooltip" title="<%=l('Clear all notes')%>">
							<img src="http://karellodewijk.github.io/icons/clear_note.png" alt="clear notes" />
						</button>				
					</div>
				</div>

				<div id='text_context'>

				<h4><%=l('Text options')%></h4>
				
				<p>	
				<small><%=l('Text')%></small> <input type="text" id="text_tool_text"/>
					<p>
					<select name="colorpicker" id="text_colorpicker">
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#000000"><%=l('Black')%></option>
					</select>
					<input type="color">
					
					
					<br />
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Size')%></small>
						</div>
						<div class="col-sm-5">
							<input id="font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="99" data-slider-step="1" data-slider-value="10"/>
						</div>
						<div class="col-sm-3">
							<input id="font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>
				
				<div id='background_text_context'>

				<h4><%=l('Text with background options')%></h4>
				
				<p>	
				<small><%=l('Text')%></small> <input type="text" id="text_tool_background_text"/>
					<p>
					<select name="colorpicker" id="background_text_colorpicker">
						<option value="#000000"><%=l('Black')%></option>
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
					</select>
					<input type="color">
								
					<br />
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Size')%></small>
						</div>
						<div class="col-sm-5">
							<input id="background_font_size" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="5" data-slider-max="99" data-slider-step="1" data-slider-value="8"/>
						</div>
						<div class="col-sm-3">
							<input id="background_font_size_text" class="slider_text_input" type="text"/>
						</div>
					</div>
				</div>

				<div id='line_context'>	
								
				<h4><%=l('Line options')%></h4>
				
				<p>
					<select name="colorpicker" id="line_colorpicker">
						<option value="#ff0000"><%=l('Red')%></option>
						<option value="#00ff00"><%=l('Green')%></option>
						<option value="#87CEFA"><%=l('Blue')%></option>
						<option value="#ffffff"><%=l('White')%></option>
						<option value="#ffff00"><%=l('Yellow')%></option>
					</select>
					<input type="color">
					<div class="row">
						<div class="col-sm-3">
							<small><%=l('Thickness')%></small>
						</div>
						<div class="col-sm-5">
							<input id="line_thickness" class="my_sliders" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="10" data-slider-step="1" data-slider-value="3"/>
						</div>
						<div class="col-sm-3">
							<input id="line_thickness_text" class="slider_text_input" type="text"/>
						</div>
					</div>
					<p>
					
					<table>
						<tr>
							<td style="padding-right:10px"><small><%=l('Style')%></small></td>				
							<td><div class="btn-group" role="group" id="line_type">						
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="full" data-toggle="tooltip" title="<%=l('Normal line')%>">
									<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dotted" data-toggle="tooltip" title="<%=l('Dotted line')%>">
									<img src="http://karellodewijk.github.io/icons/dotted_line.png" alt="dotted line" />
								</button>
								<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-style="dashed" data-toggle="tooltip" title="<%=l('Dashed line')%>">
									<img src="http://karellodewijk.github.io/icons/dashed_line.png" alt="dashed line" />
								</button>
							</div></td>
						</tr>
						<tr><td>&nbsp;</td></tr>
						<tr>
							<td style="padding-right:10px"><small><%=l('End')%></small></td>
							<td><div class="btn-group" role="group" id="line_end_type">
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="none" data-toggle="tooltip" title="<%=l('Normal')%>">
								<img src="http://karellodewijk.github.io/icons/line_icon.png" alt="normal line" />
							</button>						
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="arrow" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/arrow.png" alt="arrow" />
							</button>
							<button type="button" class="btn btn-default menu_btn" aria-label="Left Align" data-end="T" data-toggle="tooltip" title="<%=l('Arrow')%>">
								<img src="http://karellodewijk.github.io/icons/line_T.png" alt="T" />
							</button>
							</div></td>
						</tr>
					</table>
				</div>

				<hr>
				
				<%if (game == 'blitz') { %>	
				<h4>Extra</h4>
				<p>
				
				<div class="btn-group" role="group">
				<a id="save" href="javascript:void(0)" class="btn btn-default" data-placement="bottom" data-toggle="tooltip" title="<%=l('Save')%>">
					<img src="http://karellodewijk.github.io/icons/save.png" alt="save">
				</a>
				<a id="save_as" href="javascript:void(0)" class="btn btn-default" data-placement="bottom"
				data-toggle="popover" data-content="<input type='text' id='tactic_name' style='width:100px' /> <button id='store_tactic' class='btn btn-default btn-xs'>Store</button>">
					<img data-toggle="tooltip" title="<%=l('Save as')%>" src="http://karellodewijk.github.io/icons/save_as.png"  alt="save as">
				</a>
				<button id="lock" class="btn btn-default" data-toggle="tooltip" title="<%=l('Locks/unlocks edit mode for users without additional permissions')%>">
					<img src="http://karellodewijk.github.io/icons/lock.png" alt="lock">
				</button>
				<button id="link" class="btn btn-default" data-toggle="tooltip" title="<%=l('Copy link to clipboard, send it to friends or clan mates to invite them to this tactic')%>">
					<img src="http://karellodewijk.github.io/icons/link.png" alt="link">
				</button>
				</div>
				<% } %>	
			</div>
			
			<%if (game != 'blitz') { %>	
			<div class="right_column">
				<h4><%=l('User list')%> (<span id="user_count"></span>)</h4>
				<p>
				<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
			</div>
			<% } %>
			
		</div>	
			
		<%if (game != 'blitz') { %>	
		
		<div class="bottom" style="min-width:500px;">
			<ul class="nav nav-tabs" id="bottom_tabs">
			  <li class="active"><a data-toggle="tab" href="#chat_tab"><%=l('Chat')%></a></li>
			  <li id="slide_tab_button"><a data-toggle="tab" href="#slide_tab"><%=l('Slides')%></a></li>
			  <li id="export_tab_button"><a data-toggle="tab" href="#export_tab"><%=l('Export')%></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" style="min-height:150px;" id="chat_tab">
					<div id="chat_box" class="fake_textarea"></div>
					<input id="chat_input" class="slider_text_input" type="text" style="height:20%; width:100%;"/>
				</div>
				<div class="tab-pane" id="slide_tab" style="max-width:500px;">
					<div class="input-group dropdown" id="slide_box">
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="prev_slide" data-toggle="tooltip" title="<%=l('Previous slide')%>">&#9664;</button>
						</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default slide_btn" id="remove_slide" data-toggle="tooltip" title="<%=l('Remove slide')%>">
								<img src="http://karellodewijk.github.io/icons/bin.png" alt="lock" />
							</button>
						</span>
						<input class="form-control" style="height:42px" type="text" id="slide_name_field" placeholder="<%=l('Slide')%> 1" />
						<div class="input-group-btn" style="position: static;">
							<button class="btn btn-default slide_btn" data-toggle="dropdown">&#9660;</button>
							<ul class="dropdown-menu" id="slide_select"></ul>
						</div>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="new_slide" data-toggle="tooltip" title="<%=l('New slide')%>">&#10133;</button>
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="next_slide" data-toggle="tooltip" title="<%=l('Next slide')%>">&#9654;</button>
						</span>
					</div>
				</div>
				<div class="tab-pane" id="export_tab">
					<div class="btn-group input-group dropdown" id="export_box">
						<button id="export" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save tactic as image')%>">
							<img src="http://karellodewijk.github.io/icons/export.png" alt="export">
						</button>
						<button id="backup" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Download a backup')%>">
							<img src="http://karellodewijk.github.io/icons/archive_icon.png" alt="backup">
						</button>
						<button id="send_to_link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Send to room')%>">
							<img height=22 width=22 src="http://karellodewijk.github.io/icons/send_to_link.png" alt="send to link">
						</button>
					</div>
				</div>
			</div>
		</div>
		<% } %>	
	</div>

<%if (game == 'blitz') { %>	
	<div class="side_bar jumbotron">
		<div class="bottom" style="min-width:500px;">
			<ul class="nav nav-tabs" id="bottom_tabs">
			  <li class="active"><a data-toggle="tab" href="#chat_tab"><%=l('Chat')%></a></li>
			  <li id="slide_tab_button"><a data-toggle="tab" href="#slide_tab"><%=l('Slides')%></a></li>
			  <li id="export_tab_button"><a data-toggle="tab" href="#export_tab"><%=l('Export')%></a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" style="min-height:150px;" id="chat_tab">
					<div id="chat_box" class="fake_textarea" style="min-height:150px; height:80%; width:100%;"></div>
					<input id="chat_input" class="slider_text_input" type="text" style="height:20%; width:100%;"/>
				</div>
				<div class="tab-pane" id="slide_tab">
					<div class="input-group dropdown" id="slide_box">
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="prev_slide" data-toggle="tooltip" title="<%=l('Previous slide')%>">&#9664;</button>
						</span>
						<span class="input-group-btn">
							<button type="button" class="btn btn-default slide_btn" id="remove_slide" data-toggle="tooltip" title="<%=l('Remove slide')%>">
								<img src="http://karellodewijk.github.io/icons/bin.png" alt="lock" />
							</button>
						</span>
						<input class="form-control" style="height:42px" type="text" id="slide_name_field" placeholder="<%=l('Slide')%> 1" />
						<div class="input-group-btn" style="position: static;">
							<button class="btn btn-default slide_btn" data-toggle="dropdown">&#9660;</button>
							<ul class="dropdown-menu" id="slide_select"></ul>
						</div>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="new_slide" data-toggle="tooltip" title="<%=l('New slide')%>">&#10133;</button>
						</span>
						<span class="input-group-btn">
							<button class="btn btn-default slide_btn" id="next_slide" data-toggle="tooltip" title="<%=l('Next slide')%>">&#9654;</button>
						</span>
					</div>
					<div class="tab-pane" id="export_tab">
						<div class="btn-group input-group dropdown" id="export_box">
							<button id="export" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Save tactic as image')%>">
								<img src="http://karellodewijk.github.io/icons/export.png" alt="export">
							</button>
							<button id="backup" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Download a backup')%>">
								<img src="http://karellodewijk.github.io/icons/archive_icon.png" alt="backup">
							</button>
							<button id="send_to_link" class="btn btn-default navbar-btn" data-toggle="tooltip" title="<%=l('Send to room')%>">
								<img src="http://karellodewijk.github.io/icons/send_to_link.png" alt="send to link">
							</button>						
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="side_bar jumbotron">
		<div class="right_column">
			<h4><%=l('User list')%> (<span id="user_count"></span>)</h4>
			<p>
			<div class="btn-group-vertical btn-group-xs" role="group" id="userlist"></div>
		</div>
	</div>
<% } %>	

<div id="download_modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div id="link_div" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Backup link</h4>
      </div>
      <div class="modal-body">
        <p>Your download link is ready <span id="download_link"></span></p>
      </div>
      <div class="modal-footer">
        <button type="button" id="download_close_button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
	<!-- Modal content-->
	<div class='input-group'>
		<span class='input-group-addon'>Room link:</span>
		<input id="send_link" class='form-control col-lg-9' type='text'/>
		<span class='input-group-btn'>
			<button id='link_send' class='btn btn-default'><%=l('Send')%></button>
		</span>
		<span class='input-group-btn'>
			<button id='modal_cancel' class='btn btn-default'><%=l('Cancel')%></button>
		</span>
	</div>
  </div>
</div>

</body>