<option value=""> </option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Al Basrah.jpg"><%=l('Al Basrah')%></option>
<option data-grid="overlay_2km_black.png" data-size="1000x1000" value="/maps/pr/Asad Khal.jpg"><%=l('Asad Khal')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Assault On Grozny.jpg"><%=l('Assault On Grozny')%></option>
<option data-grid="overlay_2km_white.png" data-size="1000x1000" value="/maps/pr/Assault On Mestia.jpg"><%=l('Assault On Mestia')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Bamyan.jpg"><%=l('Bamyan')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Battle Of Ia Drang.jpg"><%=l('Battle Of Ia Drang')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Beirut.jpg"><%=l('Beirut')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Bijar Canyons.jpg"><%=l('Bijar Canyons')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Black Gold.jpg"><%=l('Black Gold')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Burning Sands.jpg"><%=l('Burning Sands')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Charlies Point.jpg"><%=l("Charlie's Point")%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Dovre winter.jpg"><%=l('Dovre winter')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Dovre.jpg"><%=l('Dovre')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Dragon Fly.jpg"><%=l('Dragon Fly')%></option>
<option data-grid="overlay_2km_black.png" data-size="1000x1000" value="/maps/pr/Fallujah West.jpg"><%=l('Fallujah West')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Fools Road.jpg"><%=l('Fools Road')%></option>
<option data-grid="overlay_2km_black.png" data-size="1000x1000" value="/maps/pr/Gaza Beach.jpg"><%=l('Gaza Beach')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Goose Green.jpg"><%=l('Goose Green')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Hades Peak.jpg"><%=l('Hades Peak')%></option>
<option data-grid="overlay_2km_white.png" data-size="1000x1000" value="/maps/pr/Hill 488.jpg"><%=l('Hill 488')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Iron Ridge.jpg"><%=l('Iron Ridge')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Jabal Al Burj.jpg"><%=l('Jabal Al Burj')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Karbala.jpg"><%=l('Karbala')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Kashan Desert.jpg"><%=l('Kashan Desert')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Khamisiyah.jpg"><%=l('Khamisiyah')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Kokan.jpg"><%=l('Kokan')%></option>
<option data-grid="overlay_2km_black.png" data-size="1000x1000" value="/maps/pr/Korengal Valley.jpg"><%=l('Korengal Valley')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Kozelsk.jpg"><%=l('Kozelsk')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Lashkar Valley.jpg"><%=l('Lashkar Valley')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Muttrah City.jpg"><%=l('Muttrah City')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Nuijamaa.jpg"><%=l('Nuijamaa')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Operation Archer.jpg"><%=l('Operation Archer')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Operation Barracuda.jpg"><%=l('Operation Barracuda')%></option>
<option data-grid="overlay_2km_white.png" data-size="1000x1000" value="/maps/pr/Operation Ghost Train.jpg"><%=l('Operation Ghost Train')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Operation Marlin.jpg"><%=l('Operation Marlin')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Operation Soul Rebel.jpg"><%=l('Operation Soul Rebel')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Pavlosk Bay.jpg"><%=l('Pavlosk Bay')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Qwai River.jpg"><%=l('Qwai River')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Ramiel.jpg"><%=l('Ramiel')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Saaremaa.jpg"><%=l('Saaremaa')%></option>
<option data-grid="overlay_2km_black.png" data-size="2000x2000" value="/maps/pr/Sbeneh Outskirts.jpg"><%=l('Sbeneh Outskirts')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Shijia Valley.jpg"><%=l('Shijia Valley')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Silent Eagle.jpg"><%=l('Silent Eagle')%></option>
<option data-grid="overlay_2km_white.png" data-size="1000x1000" value="/maps/pr/Tad Sae.jpg"><%=l('Tad Sae')%></option>
<option data-grid="overlay_8km_white.png" data-size="8000x8000" value="/maps/pr/The Falklands.jpg"><%=l('The Falklands')%></option>
<option data-grid="overlay_2km_white.png" data-size="2000x2000" value="/maps/pr/Ulyanovsk.jpg"><%=l('Ulyanovsk')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Vadso City.jpg"><%=l('Vadso City')%></option>
<option data-grid="overlay_4km_black.png" data-size="4000x4000" value="/maps/pr/Wanda Shan.jpg"><%=l('Wanda Shan')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Xiangshan.jpg"><%=l('Xiangshan')%></option>
<option data-grid="overlay_4km_white.png" data-size="4000x4000" value="/maps/pr/Yamalia.jpg"><%=l('Yamalia')%></option>
