<option value=""> </option>
<option value="/maps/propilkki2/haapolahti.jpg"><%=l('Haapolahti')%></option>
<option value="/maps/propilkki2/haukilahti.jpg"><%=l('Haukilahti')%></option>
<option value="/maps/propilkki2/hossalaislammet.jpg"><%=l('Hossalaislammet')%></option>
<option value="/maps/propilkki2/ruuhijarvi.jpg"><%=l('Iso-Ruuhijärvi')%></option>
<option value="/maps/propilkki2/isosoimi.jpg"><%=l('Iso-Söimi')%></option>
<option value="/maps/propilkki2/jormuanlahti.jpg"><%=l('Jormuanlahti')%></option>
<option value="/maps/propilkki2/kivijoki.jpg"><%=l('Kivijoki')%></option>
<option value="/maps/propilkki2/koivusaari.jpg"><%=l('Koivusaaren matalikko')%></option>
<option value="/maps/propilkki2/kolmisoppi.jpg"><%=l('Kolmisoppi')%></option>
<option value="/maps/propilkki2/korpipuro.jpg"><%=l('Korpipuro')%></option>
<option value="/maps/propilkki2/kortejarvi.jpg"><%=l('Kortejärvi')%></option>
<option value="/maps/propilkki2/kuikansalmi.jpg"><%=l('Kuikansalmi')%></option>
<option value="/maps/propilkki2/kuopionlahti.jpg"><%=l('Kuopionlahti')%></option>
<option value="/maps/propilkki2/lahnalammet.jpg"><%=l('Lahnalammet')%></option>
<option value="/maps/propilkki2/lehmilampi.jpg"><%=l('Lehmilampi')%></option>
<option value="/maps/propilkki2/linlo.jpg"><%=l('Linlonlahti')%></option>
<option value="/maps/propilkki2/meri.jpg"><%=l('Meri')%></option>
<option value="/maps/propilkki2/metsalampi.jpg"><%=l('Metsälampi')%></option>
<option value="/maps/propilkki2/muddus.jpg"><%=l('Muddusjärvi')%></option>
<option value="/maps/propilkki2/mustalampi.jpg"><%=l('Mustalampi')%></option>
<option value="/maps/propilkki2/mantylahti.jpg"><%=l('Mäntylahti')%></option>
<option value="/maps/propilkki2/niemisjarvi.jpg"><%=l('Niemisjärvet')%></option>
<option value="/maps/propilkki2/pienisarkinen.jpg"><%=l('Pieni Särkinen')%></option>
<option value="/maps/propilkki2/pitkalampi.jpg"><%=l('Pitkälampi')%></option>
<option value="/maps/propilkki2/pohjalampi.jpg"><%=l('Pohjalampi')%></option>
<option value="/maps/propilkki2/rautupuro.jpg"><%=l('Rautupuro')%></option>
<option value="/maps/propilkki2/saarijarvi.jpg"><%=l('Saarijärvi')%></option>
<option value="/maps/propilkki2/savilahti.jpg"><%=l('Savilahti')%></option>
<option value="/maps/propilkki2/siikavalkeinen.jpg"><%=l('Siika-valkeinen')%></option>
<option value="/maps/propilkki2/siikakoski.jpg"><%=l('Siikakoski')%></option>
<option value="/maps/propilkki2/surrinlampi.jpg"><%=l('Surrinlampi')%></option>
<option value="/maps/propilkki2/sarkijarvi.jpg"><%=l('Särkijärvi')%></option>
<option value="/maps/propilkki2/taivallampi.jpg"><%=l('Taivallampi')%></option>
<option value="/maps/propilkki2/telkanlampi.jpg"><%=l('Telkänlampi')%></option>
<option value="/maps/propilkki2/ullava.jpg"><%=l('Ullavanjärvi')%></option>
<option value="/maps/propilkki2/venetjarvi.jpg"><%=l('Venetjoen tekojärvi')%></option>
<option value="/maps/propilkki2/viitalampi.jpg"><%=l('Viitalampi')%></option>
<option value="/maps/propilkki2/vuolasniva.jpg"><%=l('Vuolasniva')%></option>
<option value="/maps/propilkki2/vuontele.jpg"><%=l('Vuontele')%></option>