<option value=""> </option>
<option value="/maps/propilkki2/deleteme1.jpg"><%=l('Deleteme')%></option>
<option value="/maps/propilkki2/deleteme2.jpg"><%=l('Deleteme 2')%></option>
<option value="/maps/propilkki2/haapolahti.jpg"><%=l('Haapolahti')%></option>
<option value="/maps/propilkki2/haukilahti.jpg"><%=l('Haukilahti')%></option>
<option value="/maps/propilkki2/hossalaislammet.jpg"><%=l('Hossalaislammet')%></option>
<option value="/maps/propilkki2/isosoimi.jpg"><%=l('Isosoimi')%></option>
<option value="/maps/propilkki2/jormuanlahti.jpg"><%=l('Jormuanlahti')%></option>
<option value="/maps/propilkki2/kivijoki.jpg"><%=l('Kivijoki')%></option>
<option value="/maps/propilkki2/koivusaari.jpg"><%=l('Koivusaari')%></option>
<option value="/maps/propilkki2/kolmisoppi.jpg"><%=l('Kolmisoppi')%></option>
<option value="/maps/propilkki2/korpipuro.jpg"><%=l('Korpipuro')%></option>
<option value="/maps/propilkki2/kortejarvi.jpg"><%=l('Kortejarvi')%></option>
<option value="/maps/propilkki2/kuikansalmi.jpg"><%=l('Kuikansalmi')%></option>
<option value="/maps/propilkki2/kuopionlahti.jpg"><%=l('Kuopionlahti')%></option>
<option value="/maps/propilkki2/lahnalammet.jpg"><%=l('Lahnalammet')%></option>
<option value="/maps/propilkki2/lehmilampi.jpg"><%=l('Lehmilampi')%></option>
<option value="/maps/propilkki2/linlo.jpg"><%=l('Linlo')%></option>
<option value="/maps/propilkki2/mantylahti.jpg"><%=l('Mantylahti')%></option>
<option value="/maps/propilkki2/meri.jpg"><%=l('Meri')%></option>
<option value="/maps/propilkki2/metsalampi.jpg"><%=l('Metsalampi')%></option>
<option value="/maps/propilkki2/muddus.jpg"><%=l('Muddus')%></option>
<option value="/maps/propilkki2/mustalampi.jpg"><%=l('Mustalampi')%></option>
<option value="/maps/propilkki2/niemisjarvi.jpg"><%=l('Niemisjarvi')%></option>
<option value="/maps/propilkki2/pienisarkinen.jpg"><%=l('Pienisarkinen')%></option>
<option value="/maps/propilkki2/pitkalampi.jpg"><%=l('Pitkalampi')%></option>
<option value="/maps/propilkki2/pohjalampi.jpg"><%=l('Pohjalampi')%></option>
<option value="/maps/propilkki2/rautupuro.jpg"><%=l('Rautupuro')%></option>
<option value="/maps/propilkki2/ruuhijarvi.jpg"><%=l('Ruuhijarvi')%></option>
<option value="/maps/propilkki2/saarijarvi.jpg"><%=l('Saarijarvi')%></option>
<option value="/maps/propilkki2/sarkijarvi.jpg"><%=l('Sarkijarvi')%></option>
<option value="/maps/propilkki2/savilahti.jpg"><%=l('Savilahti')%></option>
<option value="/maps/propilkki2/siikakoski.jpg"><%=l('Siikakoski')%></option>
<option value="/maps/propilkki2/siikavalkeinen.jpg"><%=l('Siikavalkeinen')%></option>
<option value="/maps/propilkki2/surrinlampi.jpg"><%=l('Surrinlampi')%></option>
<option value="/maps/propilkki2/taivallampi.jpg"><%=l('Taivallampi')%></option>
<option value="/maps/propilkki2/telkanlampi.jpg"><%=l('Telkanlampi')%></option>
<option value="/maps/propilkki2/ullava.jpg"><%=l('Ulava')%></option>
<option value="/maps/propilkki2/venetjarvi.jpg"><%=l('Venetjarvi')%></option>
<option value="/maps/propilkki2/viitalampi.jpg"><%=l('Viitalampi')%></option>
<option value="/maps/propilkki2/vuolasniva.jpg"><%=l('Vuolasniva')%></option>
<option value="/maps/propilkki2/vuontele.jpg"><%=l('Vuontele')%></option>
