<option value=""> </option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/gis.jpg"><%=l('Gis')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/gis_overlay.jpg"><%=l('Gis (overlay)')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/raw.jpg"><%=l('Empty')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/raw_overlay.jpg"><%=l('Empty (overlay)')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/realistic.jpg"><%=l('Realistic')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/realistic_overlay.jpg"><%=l('Realistic (overlay)')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/topographic.jpg"><%=l('Topographic')%></option>
<option data-grid="pubg_grid.png" data-size="8000x8000" value="/maps/pubg/topographic_overlay.jpg"><%=l('Topographic (overlay)')%></option>
