<button id="R6_attac/Thermite.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Thermite')%>">
	<div class="R6_attac_icons R6_attac_icons-Thermite inline"></div><span>0</span>
</button>
<button id="R6_attac/Ash.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Ash')%>">
	<div class="R6_attac_icons R6_attac_icons-Ash inline"></div><span>0</span>
</button>
<button id="R6_attac/Sledge.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Sledge')%>">
	<div class="R6_attac_icons R6_attac_icons-Sledge inline"></div><span>0</span>
</button>
<button id="R6_attac/Thatcher.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Thatcher')%>">
	<div class="R6_attac_icons R6_attac_icons-Thatcher inline"></div><span>0</span>
</button>
<button id="R6_attac/Montagne.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Montagne')%>">
	<div class="R6_attac_icons R6_attac_icons-Montagne inline"></div><span>0</span>
</button>

<br>

<button id="R6_attac/Twitch.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Twitch')%>">
	<div class="R6_attac_icons R6_attac_icons-Twitch inline"></div><span>0</span>
</button>
<button id="R6_attac/Blitz.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Blitz')%>">
	<div class="R6_attac_icons R6_attac_icons-Blitz inline"></div><span>0</span>
</button>
<button id="R6_attac/IQ.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('IQ')%>">
	<div class="R6_attac_icons R6_attac_icons-IQ inline"></div><span>0</span>
</button>
<button id="R6_attac/Fuze.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Fuze')%>">
	<div class="R6_attac_icons R6_attac_icons-Fuze inline"></div><span>0</span>
</button>
<button id="R6_attac/Glaz.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Glaz')%>">
	<div class="R6_attac_icons R6_attac_icons-Glaz inline"></div><span>0</span>
</button>

<br>

<button id="R6_attac/Recruit.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Recruitk')%>">
	<div class="R6_attac_icons R6_attac_icons-Recruit inline"></div><span>0</span>
</button>
<button id="R6_attac/Buck.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Buck')%>">
	<div class="R6_attac_icons R6_attac_icons-Buck inline"></div><span>0</span>
</button>
<button id="R6_attac/Blackbeard.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Blackbeard')%>">
	<div class="R6_attac_icons R6_attac_icons-Blackbeard inline"></div><span>0</span>
</button>
<button id="R6_attac/Capitão.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Capitão')%>">
	<div class="R6_attac_icons R6_attac_icons-Capitão inline"></div><span>0</span>
</button>
<button id="R6_attac/Hibana.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Hibana')%>">
	<div class="R6_attac_icons R6_attac_icons-Hibana inline"></div><span>0</span>
</button>

<hr />

<button id="R6_attac/Smoke Grenade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Smoke Grenade')%>">
	<div class="R6_attac_icons R6_attac_icons-Smoke-Grenade inline"></div><span>0</span>
</button>
<button id="R6_attac/Stun Grenade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Stun Grenade')%>">
	<div class="R6_attac_icons R6_attac_icons-Stun-Grenade inline"></div><span>0</span>
</button>
<button id="R6_attac/Breach Charge.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Breach Charge')%>">
	<div class="R6_attac_icons R6_attac_icons-Breach-Charge inline"></div><span>0</span>
</button>
<button id="R6_attac/Frag Grenade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Frag Grenade')%>">
	<div class="R6_attac_icons R6_attac_icons-Frag-Grenade inline"></div><span>0</span>
</button>
<button id="R6_attac/Rappel Device.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Rappel Device')%>">
	<div class="R6_attac_icons R6_attac_icons-Rappel-Device inline"></div><span>0</span>
</button>
<button id="R6_attac/Drone.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Drone')%>">
	<div class="R6_attac_icons R6_attac_icons-Drone inline"></div><span>0</span>
</button>
<button id="R6_attac/Camera.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Camera')%>">
	<div class="R6_attac_icons R6_attac_icons-Camera inline"></div><span>0</span>
</button>

<hr />

<button id="R6_attac/Emp Grenade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Emp Grenade')%>">
	<div class="R6_attac_icons R6_attac_icons-Emp-Grenade inline"></div><span>0</span>
</button>
<button id="R6_attac/Flip Sight.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Flip Sight')%>">
	<div class="R6_attac_icons R6_attac_icons-Flip-Sight inline"></div><span>0</span>
</button>
<button id="R6_attac/Breaching Round.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Breaching Round')%>">
	<div class="R6_attac_icons R6_attac_icons-Breaching-Round inline"></div><span>0</span>
</button>
<button id="R6_attac/Extendable Shield.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Extendable Shield')%>">
	<div class="R6_attac_icons R6_attac_icons-Extendable-Shield inline"></div><span>0</span>
</button>
<button id="R6_attac/Exothermic Charge.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Exothermic Charge')%>">
	<div class="R6_attac_icons R6_attac_icons-Exothermic-Charge inline"></div><span>0</span>
</button>
<button id="R6_attac/Breaching Hammer.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Breaching Hammer')%>">
	<div class="R6_attac_icons R6_attac_icons-Breaching-Hammer inline"></div><span>0</span>
</button>
<button id="R6_attac/Electronics Detector.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Electronics Detector')%>">
	<div class="R6_attac_icons R6_attac_icons-Electronics-Detector inline"></div><span>0</span>
</button>
<button id="R6_attac/Cluster Charge.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Cluster Charge')%>">
	<div class="R6_attac_icons R6_attac_icons-Cluster-Charge inline"></div><span>0</span>
</button>
<button id="R6_attac/Objective.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Objective')%>">
	<div class="R6_attac_icons R6_attac_icons-Objective inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
					1.png
					2.png
					3.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>