<button id="R6_def/Castle.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Castle')%>">
	<div class="R6_def_icons R6_def_icons-Castle inline"></div><span>0</span>
</button>
<button id="R6_def/Pulse.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Pulse')%>">
	<div class="R6_def_icons R6_def_icons-Pulse inline"></div><span>0</span>
</button>
<button id="R6_def/Mute.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Mute')%>">
	<div class="R6_def_icons R6_def_icons-Mute inline"></div><span>0</span>
</button>
<button id="R6_def/Smoke.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Smoke')%>">
	<div class="R6_def_icons R6_def_icons-Smoke inline"></div><span>0</span>
</button>
<button id="R6_def/Doc.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Doc')%>">
	<div class="R6_def_icons R6_def_icons-Doc inline"></div><span>0</span>
</button>

<br>

<button id="R6_def/Rook.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Rook')%>">
	<div class="R6_def_icons R6_def_icons-Rook inline"></div><span>0</span>
</button>
<button id="R6_def/Jäger.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Jäger')%>">
	<div class="R6_def_icons R6_def_icons-Jäger inline"></div><span>0</span>
</button>
<button id="R6_def/Bandit.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Bandit')%>">
	<div class="R6_def_icons R6_def_icons-Bandit inline"></div><span>0</span>
</button>
<button id="R6_def/Tachanka.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Tachanka')%>">
	<div class="R6_def_icons R6_def_icons-Tachanka inline"></div><span>0</span>
</button>
<button id="R6_def/Kapkan.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Kapkan')%>">
	<div class="R6_def_icons R6_def_icons-Kapkan inline"></div><span>0</span>
</button>

<br>

<button id="R6_def/Recruit.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Recruitk')%>">
	<div class="R6_def_icons R6_def_icons-Recruit inline"></div><span>0</span>
</button>
<button id="R6_def/Frost.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Frost')%>">
	<div class="R6_def_icons R6_def_icons-Frost inline"></div><span>0</span>
</button>
<button id="R6_def/Valkyrie.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Valkyrie')%>">
	<div class="R6_def_icons R6_def_icons-Valkyrie inline"></div><span>0</span>
</button>
<button id="R6_def/Caveira.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Caveira')%>">
	<div class="R6_def_icons R6_def_icons-Caveira inline"></div><span>0</span>
</button>
<button id="R6_def/Echo.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Echo')%>">
	<div class="R6_def_icons R6_def_icons-Echo inline"></div><span>0</span>
</button>

<hr />

<button id="R6_def/Reinforcement.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Reinforcement')%>">
	<div class="R6_def_icons R6_def_icons-Reinforcement inline"></div><span>0</span>
</button>
<button id="R6_def/Barricade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Barricade')%>">
	<div class="R6_def_icons R6_def_icons-Barricade inline"></div><span>0</span>
</button>
<button id="R6_def/Nitro Cell.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Nitro Cell')%>">
	<div class="R6_def_icons R6_def_icons-Nitro-Cell inline"></div><span>0</span>
</button>
<button id="R6_def/Deployable Shield.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Deployable Shield')%>">
	<div class="R6_def_icons R6_def_icons-Deployable-Shield inline"></div><span>0</span>
</button>
<button id="R6_def/Barbed Wire.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Barbed Wire')%>">
	<div class="R6_def_icons R6_def_icons-Barbed-Wire inline"></div><span>0</span>
</button>
<button id="R6_def/Rappel Device.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Rappel Device')%>">
	<div class="R6_def_icons R6_def_icons-Rappel-Device inline"></div><span>0</span>
</button>
<button id="R6_def/Drone.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Drone')%>">
	<div class="R6_def_icons R6_def_icons-Drone inline"></div><span>0</span>
</button>
<button id="R6_def/Camera.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" title="<%=l('Camera')%>">
	<div class="R6_def_icons R6_def_icons-Camera inline"></div><span>0</span>
</button>

<hr />

<button id="R6_def/Remote Gas Grenade.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Remote Gas Grenade')%>">
	<div class="R6_def_icons R6_def_icons-Remote-Gas-Grenade inline"></div><span>0</span>
</button>
<button id="R6_def/Signal Disruptor.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Signal Disruptor')%>">
	<div class="R6_def_icons R6_def_icons-Signal-Disruptor inline"></div><span>0</span>
</button>
<button id="R6_def/Armor Panel.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Armor Panel')%>">
	<div class="R6_def_icons R6_def_icons-Armor-Panel inline"></div><span>0</span>
</button>
<button id="R6_def/Active Defense.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Active Defense')%>">
	<div class="R6_def_icons R6_def_icons-Active-Defense inline"></div><span>0</span>
</button>
<button id="R6_def/Shock Wire.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Shock Wire')%>">
	<div class="R6_def_icons R6_def_icons-Shock-Wire inline"></div><span>0</span>
</button>
<button id="R6_def/Mounted LMG.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Mounted LMG')%>">
	<div class="R6_def_icons R6_def_icons-Mounted-LMG inline"></div><span>0</span>
</button>
<button id="R6_def/Cardiac Sensor.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Cardiac Sensor')%>">
	<div class="R6_def_icons R6_def_icons-Cardiac-Sensor inline"></div><span>0</span>
</button>
<button id="R6_def/Armor Pack.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Armor Pack')%>">
	<div class="R6_def_icons R6_def_icons-Armor-Pack inline"></div><span>0</span>
</button>
<button id="R6_def/Entry Denial Device.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Entry Denial Device')%>">
	<div class="R6_def_icons R6_def_icons-Entry-Denial-Device inline"></div><span>0</span>
</button>
<button id="R6_def/Stim Pistol.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Stim Pistol')%>">
	<div class="R6_def_icons R6_def_icons-Stim-Pistol inline"></div><span>0</span>
</button>
<button id="R6_def/Objective.png" data-scale=2.5 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Objective')%>">
	<div class="R6_def_icons R6_def_icons-Objective inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons2" data-toggle="tab" href="#extra_def_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_def_tab">
			<div class="row">
				<div id="extra_icons2_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
					1.png
					2.png
					3.png
				</div>
				<div id="extra_icons2_menu"></div>				
			</div>
		</div>
		
	</div>
</div>

<br/>