<option value=""> </option>
<option value="<%=static_host%>/maps/R6_annotated/bank-1.jpg"><%=l('Bank -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/bank0.jpg"><%=l('Bank 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/bank1.jpg"><%=l('Bank 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/bank2.jpg"><%=l('Bank 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/chalet-1.jpg"><%=l('Chalet -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/chalet0.jpg"><%=l('Chalet 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/chalet1.jpg"><%=l('Chalet 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/chalet2.jpg"><%=l('Chalet 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/club-1.jpg"><%=l('Club House -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/club0.jpg"><%=l('Club House 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/club1.jpg"><%=l('Club House 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/club2.jpg"><%=l('Club House 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/consulate-1.jpg"><%=l('Consulate -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/consulate0.jpg"><%=l('Consulate 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/consulate1.jpg"><%=l('Consulate 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/consulate2.jpg"><%=l('Consulate 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/dostoyevsky0.jpg"><%=l('Kafe Dostoyevsky - 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/dostoyevsky1.jpg"><%=l('Kafe Dostoyevsky - 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/dostoyevsky2.jpg"><%=l('Kafe Dostoyevsky - 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/dostoyevsky3.jpg"><%=l('Kafe Dostoyevsky - 3')%></option>
<option value="<%=static_host%>/maps/R6_annotated/hereford-1.jpg"><%=l('Hereford Base -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/hereford0.jpg"><%=l('Hereford Base 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/hereford1.jpg"><%=l('Hereford Base 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/hereford2.jpg"><%=l('Hereford Base 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/hereford3.jpg"><%=l('Hereford Base 3')%></option>
<option value="<%=static_host%>/maps/R6_annotated/house-1.jpg"><%=l('House -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/house0.jpg"><%=l('House 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/house1.jpg"><%=l('House 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/house2.jpg"><%=l('House 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/kanal0.jpg"><%=l('Kanal 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/kanal1.jpg"><%=l('Kanal 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/kanal2.jpg"><%=l('Kanal 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/kanal3.jpg"><%=l('Kanal 3')%></option>
<option value="<%=static_host%>/maps/R6_annotated/oregon-1.jpg"><%=l('Oregon -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/oregon0.jpg"><%=l('Oregon 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/oregon1.jpg"><%=l('Oregon 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/oregon2.jpg"><%=l('Oregon 2')%></option>
<option value="<%=static_host%>/maps/R6_annotated/plane-1.jpg"><%=l('Presidential Plane -1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/plane0.jpg"><%=l('Presidential Plane 0')%></option>
<option value="<%=static_host%>/maps/R6_annotated/plane1.jpg"><%=l('Presidential Plane 1')%></option>
<option value="<%=static_host%>/maps/R6_annotated/plane2.jpg"><%=l('Presidential Plane 2')%></option>
