<option value=""> </option>
<option value="<%=static_host%>/maps/R6/bank-1.jpg"><%=l('Bank -1')%></option>
<option value="<%=static_host%>/maps/R6/bank0.jpg"><%=l('Bank 0')%></option>
<option value="<%=static_host%>/maps/R6/bank1.jpg"><%=l('Bank 1')%></option>
<option value="<%=static_host%>/maps/R6/bank2.jpg"><%=l('Bank 2')%></option>
<option value="<%=static_host%>/maps/R6/chalet-1.jpg"><%=l('Chalet -1')%></option>
<option value="<%=static_host%>/maps/R6/chalet0.jpg"><%=l('Chalet 0')%></option>
<option value="<%=static_host%>/maps/R6/chalet1.jpg"><%=l('Chalet 1')%></option>
<option value="<%=static_host%>/maps/R6/chalet2.jpg"><%=l('Chalet 2')%></option>
<option value="<%=static_host%>/maps/R6/club-1.jpg"><%=l('Club House -1')%></option>
<option value="<%=static_host%>/maps/R6/club0.jpg"><%=l('Club House 0')%></option>
<option value="<%=static_host%>/maps/R6/club1.jpg"><%=l('Club House 1')%></option>
<option value="<%=static_host%>/maps/R6/club2.jpg"><%=l('Club House 2')%></option>
<option value="<%=static_host%>/maps/R6/consulate-1.jpg"><%=l('Consulate -1')%></option>
<option value="<%=static_host%>/maps/R6/consulate0.jpg"><%=l('Consulate 0')%></option>
<option value="<%=static_host%>/maps/R6/consulate1.jpg"><%=l('Consulate 1')%></option>
<option value="<%=static_host%>/maps/R6/consulate2.jpg"><%=l('Consulate 2')%></option>
<option value="<%=static_host%>/maps/R6/dostoyevsky0.jpg"><%=l('Kafe Dostoyevsky - 0')%></option>
<option value="<%=static_host%>/maps/R6/dostoyevsky1.jpg"><%=l('Kafe Dostoyevsky - 1')%></option>
<option value="<%=static_host%>/maps/R6/dostoyevsky2.jpg"><%=l('Kafe Dostoyevsky - 2')%></option>
<option value="<%=static_host%>/maps/R6/dostoyevsky3.jpg"><%=l('Kafe Dostoyevsky - 3')%></option>
<option value="<%=static_host%>/maps/R6/hereford-1.jpg"><%=l('Hereford Base -1')%></option>
<option value="<%=static_host%>/maps/R6/hereford0.jpg"><%=l('Hereford Base 0')%></option>
<option value="<%=static_host%>/maps/R6/hereford1.jpg"><%=l('Hereford Base 1')%></option>
<option value="<%=static_host%>/maps/R6/hereford2.jpg"><%=l('Hereford Base 2')%></option>
<option value="<%=static_host%>/maps/R6/hereford3.jpg"><%=l('Hereford Base 3')%></option>
<option value="<%=static_host%>/maps/R6/house-1.jpg"><%=l('House -1')%></option>
<option value="<%=static_host%>/maps/R6/house0.jpg"><%=l('House 0')%></option>
<option value="<%=static_host%>/maps/R6/house1.jpg"><%=l('House 1')%></option>
<option value="<%=static_host%>/maps/R6/house2.jpg"><%=l('House 2')%></option>
<option value="<%=static_host%>/maps/R6/kanal0.jpg"><%=l('Kanal 0')%></option>
<option value="<%=static_host%>/maps/R6/kanal1.jpg"><%=l('Kanal 1')%></option>
<option value="<%=static_host%>/maps/R6/kanal2.jpg"><%=l('Kanal 2')%></option>
<option value="<%=static_host%>/maps/R6/kanal3.jpg"><%=l('Kanal 3')%></option>
<option value="<%=static_host%>/maps/R6/oregon-1.jpg"><%=l('Oregon -1')%></option>
<option value="<%=static_host%>/maps/R6/oregon0.jpg"><%=l('Oregon 0')%></option>
<option value="<%=static_host%>/maps/R6/oregon1.jpg"><%=l('Oregon 1')%></option>
<option value="<%=static_host%>/maps/R6/oregon2.jpg"><%=l('Oregon 2')%></option>
<option value="<%=static_host%>/maps/R6/plane-1.jpg"><%=l('Presidential Plane -1')%></option>
<option value="<%=static_host%>/maps/R6/plane0.jpg"><%=l('Presidential Plane 0')%></option>
<option value="<%=static_host%>/maps/R6/plane1.jpg"><%=l('Presidential Plane 1')%></option>
<option value="<%=static_host%>/maps/R6/plane2.jpg"><%=l('Presidential Plane 2')%></option>
<option value="<%=static_host%>/maps/R6/favella0.jpg"><%=l('Favella 0')%></option>
<option value="<%=static_host%>/maps/R6/favella1.jpg"><%=l('Favella 1')%></option>
<option value="<%=static_host%>/maps/R6/favella2.jpg"><%=l('Favella 2')%></option>
<option value="<%=static_host%>/maps/R6/favella3.jpg"><%=l('Favella 3')%></option>
<option value="<%=static_host%>/maps/R6/yacht-1.jpg"><%=l('Yacht -1')%></option>
<option value="<%=static_host%>/maps/R6/yacht0.jpg"><%=l('Yacht 0')%></option>
<option value="<%=static_host%>/maps/R6/yacht1.jpg"><%=l('Yacht 1')%></option>
<option value="<%=static_host%>/maps/R6/yacht2.jpg"><%=l('Yacht 2')%></option>
<option value="<%=static_host%>/maps/R6/yacht2.jpg"><%=l('Yacht 3')%></option>
<option value="<%=static_host%>/maps/R6/sky0.jpg"><%=l('Skyscraper 0')%></option>
<option value="<%=static_host%>/maps/R6/sky1.jpg"><%=l('Skyscraper 1')%></option>
<option value="<%=static_host%>/maps/R6/sky2.jpg"><%=l('Skyscraper 2')%></option>
<option value="<%=static_host%>/maps/R6/sky3.jpg"><%=l('Skyscraper 3')%></option>