<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="sc2_units_zerg" data-toggle="tab" href="#sc2_units_zerg_tab"><%=l('Units')%></a></li>
	  <li><a class="icon_group" id="sc2_buildings_zerg" data-toggle="tab" href="#sc2_buildings_zerg_tab"><%=l('Buildings')%></a></li>
	  <li><a class="icon_group" id="sc2_upgrades_zerg" data-toggle="tab" href="#sc2_upgrades_zerg_tab"><%=l('Upgrades')%></a></li>
	  <li><a class="icon_group" id="sc2_abilities_zerg" data-toggle="tab" href="#sc2_abilitites_zerg_tab"><%=l('Abilities')%></a></li>
	  <li><a class="icon_group" id="extra_icons2" data-toggle="tab" href="#extra_zerg_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="sc2_units_zerg_tab">
			<div id="sc2_units_zerg_list" data-path="sc2_units_zerg" data-scale="3" data-height="60" data-no_color="true" data-style="sc2_units_zerg.css" hidden>
				btn-unit-zerg-aberration.png
				btn-unit-zerg-baneling-hunter.png
				btn-unit-zerg-baneling.png
				btn-unit-zerg-brakk.png
				btn-unit-zerg-broodlord.png
				btn-unit-zerg-broodqueen.png
				btn-unit-zerg-changeling.png
				btn-unit-zerg-corruptedmass.png
				btn-unit-zerg-corruptor.png
				btn-unit-zerg-dehaka.png
				btn-unit-zerg-dehakaspawn.png
				btn-unit-zerg-drone.png
				btn-unit-zerg-egg.png
				btn-unit-zerg-finalboss.png
				btn-unit-zerg-hydralisk-impaler.png
				btn-unit-zerg-hydralisk-lurker.png
				btn-unit-zerg-hydralisk.png
				btn-unit-zerg-impaler.png
				btn-unit-zerg-infestedmarine.png
				btn-unit-zerg-infestedmarineegg.png
				btn-unit-zerg-infestor.png
				btn-unit-zerg-kerriganascended.png
				btn-unit-zerg-kerriganghost.png
				btn-unit-zerg-kerriganinfested.png
				btn-unit-zerg-kraith.png
				btn-unit-zerg-larva.png
				btn-unit-zerg-larvalqueen.png
				btn-unit-zerg-locust.png
				btn-unit-zerg-locustflyer.png
				btn-unit-zerg-lurker.png
				btn-unit-zerg-mantalisk.png
				btn-unit-zerg-mutalisk-broodlord.png
				btn-unit-zerg-mutalisk-viper.png
				btn-unit-zerg-mutalisk.png
				btn-unit-zerg-narud.png
				btn-unit-zerg-nyduscreeptower.png
				btn-unit-zerg-nydusdestroyer.png
				btn-unit-zerg-nydusdragon.png
				btn-unit-zerg-omegalisk.png
				btn-unit-zerg-overlord.png
				btn-unit-zerg-overlordtransport.png
				btn-unit-zerg-overseer.png
				btn-unit-zerg-primalguardian.png
				btn-unit-zerg-primalhydralisk.png
				btn-unit-zerg-primalmutalisk.png
				btn-unit-zerg-primalroach.png
				btn-unit-zerg-primalultralisk.png
				btn-unit-zerg-primalzergling.png
				btn-unit-zerg-queen.png
				btn-unit-zerg-queenclassic.png
				btn-unit-zerg-quillgore.png
				btn-unit-zerg-ravager.png
				btn-unit-zerg-ravasaur.png
				btn-unit-zerg-roach-corpser.png
				btn-unit-zerg-roach-vile.png
				btn-unit-zerg-roach.png
				btn-unit-zerg-roachlings.png
				btn-unit-zerg-scourge.png
				btn-unit-zerg-slivan.png
				btn-unit-zerg-slivanminion.png
				btn-unit-zerg-splitterling.png
				btn-unit-zerg-stukov.png
				btn-unit-zerg-swarmhost-carrion.png
				btn-unit-zerg-swarmhost-creeper.png
				btn-unit-zerg-swarmhost.png
				btn-unit-zerg-symbiote.png
				btn-unit-zerg-tyrannozor.png
				btn-unit-zerg-ultralisk-noxious.png
				btn-unit-zerg-ultralisk-torrasque.png
				btn-unit-zerg-ultralisk.png
				btn-unit-zerg-viper.png
				btn-unit-zerg-yagdra.png
				btn-unit-zerg-zergling-raptor.png
				btn-unit-zerg-zergling-swarmling.png
				btn-unit-zerg-zergling.png
				btn-unit-zerg-zurvan.png
			</div>
			<div id="sc2_units_zerg_menu"></div>		
		</div>
		<div class="tab-pane" id="sc2_buildings_zerg_tab">
			<div class="row">
				<div id="sc2_buildings_zerg_list" data-path="sc2_buildings_zerg" data-scale="3" data-height="60" data-no_color="true" data-style="sc2_buildings_zerg.css" hidden>
					btn-building-zerg-banelingnest.png
					btn-building-zerg-creeptumor.png
					btn-building-zerg-evolutionchamber.png
					btn-building-zerg-extractor.png
					btn-building-zerg-greaterspire.png
					btn-building-zerg-hatchery.png
					btn-building-zerg-hive.png
					btn-building-zerg-hydraliskden.png
					btn-building-zerg-impalercolony.png
					btn-building-zerg-infestationpit.png
					btn-building-zerg-infestorpit.png
					btn-building-zerg-lair.png
					btn-building-zerg-lurkerden.png
					btn-building-zerg-nydusnetwork.png
					btn-building-zerg-nydusworm.png
					btn-building-zerg-primalhive.png
					btn-building-zerg-roachwarren.png
					btn-building-zerg-spawningpool.png
					btn-building-zerg-spinecrawler.png
					btn-building-zerg-spire.png
					btn-building-zerg-sporecannon.png
					btn-building-zerg-sporecrawler.png
					btn-building-zerg-ultraliskcavern.png
				</div>
				<div id="sc2_buildings_zerg_menu"></div>			
			</div>
		</div>
		<div class="tab-pane" id="sc2_upgrades_zerg_tab">
			<div class="row">
				<div id="sc2_upgrades_zerg_list" data-path="sc2_upgrades_zerg" data-scale="3" data-height="60" data-no_color="true" data-style="sc2_upgrades_zerg.css" hidden>
					btn-upgrade-zerg-adaptivecarapace.png
					btn-upgrade-zerg-adrenalglands.png
					btn-upgrade-zerg-adrenaloverload.png
					btn-upgrade-zerg-airattacks-level0.png
					btn-upgrade-zerg-airattacks-level1.png
					btn-upgrade-zerg-airattacks-level2.png
					btn-upgrade-zerg-airattacks-level3.png
					btn-upgrade-zerg-anabolicsynthesis.png
					btn-upgrade-zerg-ancillaryarmor.png
					btn-upgrade-zerg-bileducts.png
					btn-upgrade-zerg-buildingarmor.png
					btn-upgrade-zerg-burrowcharge.png
					btn-upgrade-zerg-burrowmove.png
					btn-upgrade-zerg-centrifugalhooks.png
					btn-upgrade-zerg-chitinousplating.png
					btn-upgrade-zerg-corrosiveacid.png
					btn-upgrade-zerg-demolition.png
					btn-upgrade-zerg-enduringcorruption.png
					btn-upgrade-zerg-evolveincreasedlocustlifetime.png
					btn-upgrade-zerg-evolvemuscularaugments.png
					btn-upgrade-zerg-explosiveglaive.png
					btn-upgrade-zerg-flyercarapace-level0.png
					btn-upgrade-zerg-flyercarapace-level1.png
					btn-upgrade-zerg-flyercarapace-level2.png
					btn-upgrade-zerg-flyercarapace-level3.png
					btn-upgrade-zerg-frenzy.png
					btn-upgrade-zerg-glialreconstitution.png
					btn-upgrade-zerg-groovedspines.png
					btn-upgrade-zerg-groundcarapace-level0.png
					btn-upgrade-zerg-groundcarapace-level1.png
					btn-upgrade-zerg-groundcarapace-level2.png
					btn-upgrade-zerg-groundcarapace-level3.png
					btn-upgrade-zerg-hardenedcarapace.png
					btn-upgrade-zerg-hotsgroovedspines.png
					btn-upgrade-zerg-hotsmetabolicboost.png
					btn-upgrade-zerg-hotstunnelingclaws.png
					btn-upgrade-zerg-hydriaticacid.png
					btn-upgrade-zerg-meleeattacks-leve3.png
					btn-upgrade-zerg-meleeattacks-level0.png
					btn-upgrade-zerg-meleeattacks-level1.png
					btn-upgrade-zerg-meleeattacks-level2.png
					btn-upgrade-zerg-meleeattacks-level3.png
					btn-upgrade-zerg-metabolicboost.png
					btn-upgrade-zerg-missileattacks-level0.png
					btn-upgrade-zerg-missileattacks-level1.png
					btn-upgrade-zerg-missileattacks-level2.png
					btn-upgrade-zerg-missileattacks-level3.png
					btn-upgrade-zerg-monarchblades.png
					btn-upgrade-zerg-muscularaugments.png
					btn-upgrade-zerg-organiccarapace.png
					btn-upgrade-zerg-pathogenglands.png
					btn-upgrade-zerg-peristalsis.png
					btn-upgrade-zerg-pneumatizedcarapace.png
					btn-upgrade-zerg-posthumousmitosis.png
					btn-upgrade-zerg-pressurizedglands.png
					btn-upgrade-zerg-rapidgenesis.png
					btn-upgrade-zerg-rapidincubation.png
					btn-upgrade-zerg-rapidregeneration.png
					btn-upgrade-zerg-regenerativebile.png
					btn-upgrade-zerg-rupture.png
					btn-upgrade-zerg-seismicspines.png
					btn-upgrade-zerg-swarmfrenzy.png
					btn-upgrade-zerg-swarmhostburrow.png
					btn-upgrade-zerg-tissueassimilation.png
					btn-upgrade-zerg-tunnelingclaws.png
					btn-upgrade-zerg-tunnelingjaws.png
					btn-upgrade-zerg-ventralsacs.png
					btn-upgrade-zerg-viciousglaive.png
					btn-upgrade-zerg-visciousdischarge.png
					btn-upgrade-zergling-armorshredding.png
				</div>
				<div id="sc2_upgrades_zerg_menu"></div>								
			</div>
		</div>
		<div class="tab-pane" id="sc2_abilitites_zerg_tab">
			<div class="row">
				<div id="sc2_abilities_zerg_list" data-path="sc2_abilities_zerg" data-scale="3" data-height="60" data-no_color="true" data-style="sc2_abilities_zerg.css" hidden>
					btn-ability-zerg-abduct.png
					btn-ability-zerg-armoraura.png
					btn-ability-zerg-attackstructure-color.png
					btn-ability-zerg-banelingspooge.png
					btn-ability-zerg-blindingcloud.png
					btn-ability-zerg-burrow-color.png
					btn-ability-zerg-carrybiomass.png
					btn-ability-zerg-cliffjump-baneling.png
					btn-ability-zerg-cliffjump-zergling.png
					btn-ability-zerg-consume.png
					btn-ability-zerg-contaminate-color.png
					btn-ability-zerg-corrosivebile.png
					btn-ability-zerg-corrosiveblast.png
					btn-ability-zerg-corruption-color.png
					btn-ability-zerg-cosmicfury.png
					btn-ability-zerg-creepspread.png
					btn-ability-zerg-creepteleport.png
					btn-ability-zerg-darkswarm.png
					btn-ability-zerg-debilitatingbile.png
					btn-ability-zerg-deeptunnel.png
					btn-ability-zerg-dehakacliffjump.png
					btn-ability-zerg-dehakaspawn.png
					btn-ability-zerg-drag.png
					btn-ability-zerg-explode-color.png
					btn-ability-zerg-extinction.png
					btn-ability-zerg-frenzied-color.png
					btn-ability-zerg-fungalgrowth-color.png
					btn-ability-zerg-generatecreep-color.png
					btn-ability-zerg-generatecreepstop-color.png
					btn-ability-zerg-growth.png
					btn-ability-zerg-harvestcorpse.png
					btn-ability-zerg-neuralparasite-color.png
					btn-ability-zerg-noxiouscloud.png
					btn-ability-zerg-parasiticbomb.png
					btn-ability-zerg-parasiticinvasion.png
					btn-ability-zerg-poisonnova.png
					btn-ability-zerg-quantumray.png
					btn-ability-zerg-rapidregeneration-color.png
					btn-ability-zerg-regenaura.png
					btn-ability-zerg-root-color.png
					btn-ability-zerg-siphon.png
					btn-ability-zerg-swarmhost_root.png
					btn-ability-zerg-swarmhost_unroot.png
					btn-ability-zerg-swarmseeds-color.png
					btn-ability-zerg-towering.png
					btn-ability-zerg-transfusion-color.png
					btn-ability-zerg-ultralisk-revive.png
					btn-ability-zerg-upburrow-color.png
					btn-ability-zerg-uproot-color.png
					btn-ability-zerg-viper-ocularparasite.png
				</div>
				<div id="sc2_abilities_zerg_menu"></div>				
			</div>
		</div>
		<div class="tab-pane" id="extra_zerg_tab">
			<div class="row">
				<div id="extra_icons2_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons2_menu"></div>				
			</div>
		</div>
	</div>
</div>

