<button id="squad_icons/attack_flag.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Attack flag')%>">
	<div class="squad_icons squad_icons-attack_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/defense_flag.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Defence flag')%>">
	<div class="squad_icons squad_icons-defense_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/main_base.png" data-scale=0.7 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Main base')%>">
	<div class="squad_icons squad_icons-main_base inline"></div><span>0</span>
</button>
<button id="squad_icons/waypoint.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Way point')%>">
	<div class="squad_icons squad_icons-waypoint inline"></div><span>0</span>
</button>
<button id="squad_icons/rally_point.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Rally point')%>">
	<div class="squad_icons squad_icons-rally_point inline"></div><span>0</span>
</button>

<br>
<button id="squad_icons/squad_leader_icon.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Squad leader')%>">
	<div class="squad_icons squad_icons-squad_leader_icon inline"></div><span>0</span>
</button>
<button id="squad_icons/squad_member.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Squad Member')%>">
	<div class="squad_icons squad_icons-squad_member inline"></div><span>0</span>
</button>
<button id="squad_icons/medic_icon.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Medic')%>">
	<div class="squad_icons squad_icons-medic_icon inline"></div><span>0</span>
</button>
<button id="squad_icons/ammo_crate.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Ammo crate')%>">
	<div class="squad_icons squad_icons-ammo_crate inline"></div><span>0</span>
</button>
<button id="squad_icons/fort.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Fort')%>">
	<div class="squad_icons squad_icons-fort inline"></div><span>0</span>
</button>
<br>
<button id="squad_icons/attack.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Attack')%>">
	<div class="squad_icons squad_icons-attack inline"></div><span>0</span>
</button>
<button id="squad_icons/scout.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Scout')%>">
	<div class="squad_icons squad_icons-scout inline"></div><span>0</span>
</button>
<button id="squad_icons/build.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Build')%>">
	<div class="squad_icons squad_icons-build inline"></div><span>0</span>
</button>
<button id="squad_icons/defend.png" data-scale=1.2 class="tank_select" data-toggle="tooltip" title="<%=l('Defend')%>">
	<div class="squad_icons squad_icons-defend inline"></div><span>0</span>
</button>
<button id="squad_icons/hmg.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Heavy machine gun')%>">
	<div class="squad_icons squad_icons-hmg inline"></div><span>0</span>
</button>
<br>
<button id="squad_icons/squad_leader.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Squad leader')%>">
	<div class="squad_icons squad_icons-squad_leader inline"></div><span>0</span>
</button>
<button id="squad_icons/rifleman.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Rifleman')%>">
	<div class="squad_icons squad_icons-rifleman inline"></div><span>0</span>
</button>
<button id="squad_icons/automatic_rifleman.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Automatic_rifleman')%>">
	<div class="squad_icons squad_icons-automatic_rifleman inline"></div><span>0</span>
</button>
<button id="squad_icons/grenadier.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Grenadier')%>">
	<div class="squad_icons squad_icons-grenadier inline"></div><span>0</span>
</button>
<button id="squad_icons/light_at.png" data-scale=2 class="tank_select" data-toggle="tooltip" title="<%=l('Light anty tank')%>">
	<div class="squad_icons squad_icons-light_at inline"></div><span>0</span>
</button>
<br>
<button id="squad_icons/medic.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Medic')%>">
	<div class="squad_icons squad_icons-medic inline"></div><span>0</span>
</button>
<button id="squad_icons/vehicle.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('APC')%>">
	<div class="squad_icons squad_icons-vehicle inline"></div><span>0</span>
</button>
<button id="squad_icons/truck.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Truck')%>">
	<div class="squad_icons squad_icons-truck inline"></div><span>0</span>
</button>
<button id="squad_icons/supply_truck.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Supply truck')%>">
	<div class="squad_icons squad_icons-supply_truck inline"></div><span>0</span>
</button>
<button id="squad_icons/armored.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Armored truck')%>">
	<div class="squad_icons squad_icons-armored inline"></div><span>0</span>
</button>
<br>
<button id="squad_icons/russian_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Russia')%>">
	<div class="squad_icons squad_icons-russian_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/us_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('USA')%>">
	<div class="squad_icons squad_icons-us_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/gb_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('GB')%>">
	<div class="squad_icons squad_icons-gb_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/insurgent_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Insurgents')%>">
	<div class="squad_icons squad_icons-insurgent_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/militia_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Militia')%>">
	<div class="squad_icons squad_icons-militia_flag inline"></div><span>0</span>
</button>
<br>
<button id="squad_icons/grey_flag.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Neutral')%>">
	<div class="squad_icons squad_icons-grey_flag inline"></div><span>0</span>
</button>
<button id="squad_icons/infantry.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" title="<%=l('Infantry')%>">
	<div class="squad_icons squad_icons-infantry inline"></div><span>0</span>
</button>
<button id="squad_icons/taken.png" data-scale=1.4 class="tank_select" data-toggle="tooltip" data-no_color="true" title="<%=l('Unavailable')%>">
	<div class="squad_icons squad_icons-taken inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <%if (user.identity) { %><li><a class="icon_group" id="custom_icons" data-toggle="tab" href="#custom_tab"><%=l('Custom')%></a></li><% } %>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<%if (user.identity) { %>
		<div class="tab-pane" id="custom_tab">
			<div class="row">
				<div id="custom_icons_list"></div>
				<button class="btn btn-default" aria-label="Left Align" id="upload_icon" data-toggle="tooltip" title="<%=l('Upload icon')%>">
					<div class="icon icon-upload_sm"></div>
				</button>	
			</div>
		</div>
		<% } %>
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>