<option value=""> </option>
<option data-grid="squad_grid_basrah_dark.png" data-size="2600x2600" value="/maps/squad/Basrah.jpg"><%=l('Basrah')%></option>
<option data-grid="squad_grid_chora1_light.png" data-size="4060x4060" value="/maps/squad/Chora1_Minimap.jpg"><%=l('Choral')%></option>
<option data-grid="squad_grid_fools_light.png" data-size="1775x1775" value="/maps/squad/Fools_Road_v1_Minimap.jpg"><%=l("Fool's road")%></option>
<option data-grid="squad_grid_OPFL_light.png.png" data-size="1760x1760" value="/maps/squad/forest_minimap.jpg"><%=l('OP First Light')%></option>
<option data-grid="squad_grid_gorodok_dark" data-size="4340x4340" value="/maps/squad/gorodok_minimap.jpg"><%=l('Gorodok')%></option>
<option data-grid="squad_grid_jensensrange_light.png.png" data-size="1510x1510" value="/maps/squad/Jensens_Range_Minimap.jpg"><%=l('Lost Island')%></option>
<option value="/maps/squad/Narva.jpg"><%=l('Narva')%></option>
<option data-grid="squad_grid_kohat_light.png" data-size="4020x4020" value="/maps/squad/kohat_minimap.jpg"><%=l('Kohat Toi River Valley View')%></option>
<option data-grid="squad_grid_kokan_dark.png" data-size="2490x2490" value="/maps/squad/kokan_minimap.jpg"><%=l('Kokan')%></option>
<option data-grid="squad_grid_logar_light.png" data-size="1760x1760" value="/maps/squad/logarvalley_minimap.jpg"><%=l('Logar Valley')%></option>
<option data-grid="squad_grid_sumaribala_light.png" data-size="1300x1300" value="/maps/squad/sumari_overlay.jpg"><%=l('Sumari Bala')%></option>
<option data-grid="squad_grid_yehorivka_light.png" data-size="4030x4030" value="/maps/squad/yehorivka_minimap.jpg"><%=l('Yehorivka')%></option>
