<option value=""> </option>
<option value="/maps/steelocean/Baffin Bay standard icy.JPG"><%=l("Baffin Bay standard icy")%></option>
<option value="/maps/steelocean/Bass Strait Capture.JPG"><%=l("Bass Strait Capture")%></option>
<option value="/maps/steelocean/Bass Strait standard.JPG"><%=l("Bass Strait standard")%></option>
<option value="/maps/steelocean/Bering Strait flag FB.JPG"><%=l("Bering Strait flag FB")%></option>
<option value="/maps/steelocean/Bering Strait standard.JPG"><%=l("Bering Strait standard")%></option>
<option value="/maps/steelocean/Denmark Strait standard - pensi 5554.JPG"><%=l("Denmark Strait standard")%></option>
<option value="/maps/steelocean/Falalop Islands Comp.JPG"><%=l("Falalop Islands Comp")%></option>
<option value="/maps/steelocean/Falalop Islands standard.JPG"><%=l("Falalop Islands standard")%></option>
<option value="/maps/steelocean/Galapagos Islands comp FB.JPG"><%=l("Galapagos Islands comp FB")%></option>
<option value="/maps/steelocean/Galapagos Islands standard.JPG"><%=l("Galapagos Islands standard")%></option>
<option value="/maps/steelocean/Iron Bottom Sound 5vs5 flag.JPG"><%=l("Iron Bottom Sound 5vs5 flag")%></option>
<option value="/maps/steelocean/Iron Bottom Sound standard.JPG"><%=l("Iron Bottom Sound standard")%></option>
<option value="/maps/steelocean/Luzon 5vs5.JPG"><%=l("Luzon 5vs5")%></option>
<option value="/maps/steelocean/Luzon flag large.JPG"><%=l("Luzon flag large")%></option>
<option value="/maps/steelocean/Luzon standard.JPG"><%=l("Luzon standard")%></option>
<option value="/maps/steelocean/Mamala Bay standard.JPG"><%=l("Mamala Bay standard")%></option>
<option value="/maps/steelocean/Mariana Islands FB.JPG"><%=l("Mariana Islands FB")%></option>
<option value="/maps/steelocean/Mariana Islands night FB.JPG"><%=l("Mariana Islands night FB")%></option>
<option value="/maps/steelocean/Mariana Islands standard night.JPG"><%=l("Mariana Islands standard night")%></option>
<option value="/maps/steelocean/Mariana Islands standard.JPG"><%=l("Mariana Islands standard")%></option>
<option value="/maps/steelocean/Ocean War 5vs5.JPG"><%=l("Ocean War 5vs5")%></option>
<option value="/maps/steelocean/Ocean War flag-ship.JPG"><%=l("Ocean War flag-ship")%></option>
<option value="/maps/steelocean/Ocean War standard.JPG"><%=l("Ocean War standard")%></option>
<option value="/maps/steelocean/Philippine Islands standard.JPG"><%=l("Philippine Islands standard")%></option>
<option value="/maps/steelocean/Savo Islands Capture.JPG"><%=l("Savo Islands Capture")%></option>
<option value="/maps/steelocean/Savo Islands FB.JPG"><%=l("Savo Islands FB")%></option>
<option value="/maps/steelocean/The English Channel 4 corners Train-FB.JPG"><%=l("The English Channel 4 corners Train-FB")%></option>
<option value="/maps/steelocean/The English Channel 5vs5.JPG"><%=l("The English Channel 5vs5")%></option>
<option value="/maps/steelocean/The English Channel comp.JPG"><%=l("The English Channel comp")%></option>
<option value="/maps/steelocean/The English Channel flagship.JPG"><%=l("The English Channel flagship")%></option>
<option value="/maps/steelocean/The English Channel standard.JPG"><%=l("The English Channel standard")%></option>
<option value="/maps/steelocean/Verde Islands large.JPG"><%=l("Verde Islands large")%></option>
<option value="/maps/steelocean/Verde Islands standard.JPG"><%=l("Verde Islands standard")%></option>
