<!DOCTYPE HTML>
<html>
<head>
	<% include common_headers.ejs %>
</head>
<body>
	<div class="container" style='width:100%; padding-top:65px;'>
    <div class="jumbotron side_bar" style='width:100%;'>
		<% include navbar.ejs %>
		<h2><%=l('Stored tactics')%></h2>
		<hr>
			<div class="container" style="text-align:left; width:90%">
				<ul class="list-group" id="tactic_list" style="vertical-align: middle">
				
				<% for (var i in tactics) {%>
					<%if (game == tactics[i].game) { %>
						<% date = new Date(tactics[i].date); %>	
						<li class="list-group-item row" id="<%=tactics[i].uid%>"><h5 class="col-sm-7"><%=tactics[i].name%></h5><h5 class="col-sm-3"><%=date.getFullYear()%>-<%=date.getMonth()%>-<%=date.getDate()%></h5><span class="col-md-1"><a class="btn btn-danger select_tactic_button" href="javascript:void(0);" id="<%=tactics[i].uid%>" date=<%=tactics[i].date%> role="button"><img src="http://karellodewijk.github.io/icons/bin.png" /></a></span><a class="btn btn-primary select_tactic_button col-md-1" href="<%=game%>planner.html?restore=<%=tactics[i].uid%>" id="<%=tactics[i].uid%>" role="button">Launch&raquo;</a></li>
					<% } %>
				<% } %>		
				</ul>
				<script type="text/javascript">
					$('#tactic_list').on('click', 'a', function () {
						if ($(this).hasClass('btn-danger')) {
							console.error($(this).attr('date'));
							$.post('/remove_tactic', {id: this.id});
							$("li[id='"+this.id+"']").remove();
						}
					})
				</script>


			</div>
		</div>
	</div>
	<% include footer.ejs %>
	</div>
</body>
