<button id="warface_icons/wf.png" data-no_color="true" class="tank_select" data-toggle="tooltip" title="<%=l('Warface')%>">
	<div class="warface_icons warface_icons-wf inline"></div><span>0</span>
</button>
<button id="warface_icons/bw.png" data-no_color="true" class="tank_select" data-toggle="tooltip" title="<%=l('Blackwood')%>">
	<div class="warface_icons warface_icons-bw inline"></div><span>0</span>
</button>
<button id="warface_icons/assault.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Assault')%>">
	<div class="warface_icons warface_icons-assault inline"></div><span>0</span>
</button>
<button id="warface_icons/engineer.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Engineer')%>">
	<div class="warface_icons warface_icons-engineer inline"></div><span>0</span>
</button>
<button id="warface_icons/medic.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Medic')%>">
	<div class="warface_icons warface_icons-medic inline"></div><span>0</span>
</button>
<br>
<button id="warface_icons/sniper.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Sniper')%>">
	<div class="warface_icons warface_icons-sniper inline"></div><span>0</span>
</button>
<button id="warface_icons/explosive.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Explosive grenade')%>">
	<div class="warface_icons warface_icons-explosive inline"></div><span>0</span>
</button>
<button id="warface_icons/bomb.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Bomb')%>">
	<div class="warface_icons warface_icons-bomb inline"></div><span>0</span>
</button>
<button id="warface_icons/smoke.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Smoke grenade')%>">
	<div class="warface_icons warface_icons-smoke inline"></div><span>0</span>
</button>
<button id="warface_icons/csgo.png" data-scale=1.5 class="tank_select" data-toggle="tooltip" title="<%=l('Guy')%>">
	<div class="warface_icons warface_icons-csgo inline"></div><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	  <%if (user.identity) { %><li><a class="icon_group" id="custom_icons" data-toggle="tab" href="#custom_tab"><%=l('Custom')%></a></li><% } %>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<%if (user.identity) { %>
		<div class="tab-pane" id="custom_tab">
			<div class="row">
				<div id="custom_icons_list"></div>
				<button class="btn btn-default" aria-label="Left Align" id="upload_icon" data-toggle="tooltip" title="<%=l('Upload icon')%>">
					<div class="icon icon-upload_sm"></div>
				</button>	
			</div>
		</div>
		<% } %>
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>

<br/>