<option value=""> </option>
<option value="/maps/warface/CTF_COVOY.jpg"><%=l('Convoy')%></option>
<option value="/maps/warface/CTF_LONGWAY.jpg"><%=l('Long way')%></option>
<option value="/maps/warface/CTF_VAULT.jpg"><%=l('Vault')%></option>
<option value="/maps/warface/DST_LIGHTHOUSE.jpg"><%=l('Lighthouse')%></option>
<option value="/maps/warface/DST_towers.jpg"><%=l('Towers')%></option>
<option value="/maps/warface/FFA_DOWNTOWN.jpg"><%=l('Downtown (FFA)')%></option>
<option value="/maps/warface/FFA_FOREST.jpg"><%=l('Forest')%></option>
<option value="/maps/warface/FFA_OVERPASS.jpg"><%=l('Overpass')%></option>
<option value="/maps/warface/FFA_TRAIN.jpg"><%=l('Train')%></option>
<option value="/maps/warface/FFA_WIDESTREET.jpg"><%=l('Widestreet')%></option>
<option value="/maps/warface/GrandBazaar.jpg"><%=l('Grand bazaar')%></option>
<option value="/maps/warface/PTB_D17_map.jpg"><%=l('D17')%></option>
<option value="/maps/warface/PTB_DISTRICT_map.jpg"><%=l('District')%></option>
<option value="/maps/warface/PTB_FACTORY.jpg"><%=l('Factory')%></option>
<option value="/maps/warface/PTB_OVERPASS.jpg"><%=l('Overpass')%></option>
<option value="/maps/warface/PTB_YARD.jpg"><%=l('Yard')%></option>
<option value="/maps/warface/PTB_bridges.jpg"><%=l('Bridges')%></option>
<option value="/maps/warface/STM_BLACKGOLD_ALL.jpg"><%=l('Black Gold')%></option>
<option value="/maps/warface/STM_HIGHHILL_ALL.jpg"><%=l('High Hill')%></option>
<option value="/maps/warface/STM_WHARF_ALL.jpg"><%=l('Wharf')%></option>
<option value="/maps/warface/TDM_AUL.jpg"><%=l('AUL')%></option>
<option value="/maps/warface/TDM_DOCK.jpg"><%=l('Dock')%></option>
<option value="/maps/warface/TDM_DOWNTOWN.jpg"><%=l('Downtown (TDM)')%></option>
<option value="/maps/warface/TDM_HAGAR.jpg"><%=l('Hangar')%></option>
<option value="/maps/warface/TDM_OILDEPOT.jpg"><%=l('Oild Depot')%></option>
<option value="/maps/warface/TDM_farm.jpg"><%=l('Farm')%></option>
<option value="/maps/warface/WF_map_Armageddon.jpg"><%=l('Armageddon')%></option>
<option value="/maps/warface/WF_map_CTF_Construction.jpg"><%=l('Construction')%></option>
<option value="/maps/warface/WF_map_DMN_SIRIUS.jpg"><%=l('Sirius')%></option>
<option value="/maps/warface/WF_map_Mojave.jpg"><%=l('Mojave')%></option>
<option value="/maps/warface/WF_map_Motel.jpg"><%=l('Motel')%></option>
<option value="/maps/warface/WF_map_PTB.jpg"><%=l('PTB')%></option>
<option value="/maps/warface/stm_Invasion_map.jpg"><%=l('Invasion')%></option>
<option value="/maps/warface/tdm_crossriver.jpg"><%=l('Crossriver')%></option>
<option value="/maps/warface/Coliseum.jpg"><%=l('Coliseum')%></option>

