<option value="http://karellodewijk.github.io/maps/abbey.jpg"><%=l('Abbey')%></option>
<option value="http://karellodewijk.github.io/maps/airfield.jpg"><%=l('Airfield')%></option>
<option value="http://karellodewijk.github.io/maps/arctic_region.jpg"><%=l('Arctic Region')%></option>
<option value="http://karellodewijk.github.io/maps/arctic_attac_defence.jpg"><%=l('Arctic Region')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/cliffs.jpg"><%=l('Cliffs')%></option>
<option value="http://karellodewijk.github.io/maps/cliff_attac_defence.jpg"><%=l('Cliffs')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/dragon_ridge.jpg"><%=l('Dragon Ridge')%></option>
<option value="http://karellodewijk.github.io/maps/el_halluf.jpg"><%=l('El Halluf')%></option>
<option value="http://karellodewijk.github.io/maps/el_halluf_encounter.jpg"><%=l('El Halluf')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/ensk.jpg"><%=l('Ensk')%></option>
<option value="http://karellodewijk.github.io/maps/ensk_encounter.jpg"><%=l('Ensk')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/erlenberg.jpg"><%=l('Erlenberg')%></option>
<option value="http://karellodewijk.github.io/maps/erlenberg_assault.jpg"><%=l('Erlenberg')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/erlenberg_encounter.jpg"><%=l('Erlenberg')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/fiery_salient.jpg"><%=l('Fiery Salient')%></option>
<option value="http://karellodewijk.github.io/maps/fiery_salient_encounter.jpg"><%=l('Fiery Salient')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/fishermans_bay.jpg"><%=l('Fisherman\'s Bay')%></option>
<option value="http://karellodewijk.github.io/maps/ghost_town.jpg"><%=l('Ghost Town')%></option>
<option value="http://karellodewijk.github.io/maps/ghost_town_attack_defence.jpg"><%=l('Ghost Town')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/hidden_village.jpg"><%=l('Hidden Village')%></option>
<option value="http://karellodewijk.github.io/maps/fjords.jpg"><%=l('Fjords')%></option>
<option value="http://karellodewijk.github.io/maps/highway.jpg"><%=l('Highway')%></option>
<option value="http://karellodewijk.github.io/maps/himmelsdorf.jpg"><%=l('Himmelsdorf')%></option>
<option value="http://karellodewijk.github.io/maps/himmelsdorf_encounter.jpg"><%=l('Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/himmelsdorf_attack_defence.jpg"><%=l('Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/karelia.jpg"><%=l('Karelia')%></option>
<option value="http://karellodewijk.github.io/maps/karelia_assault.jpg"><%=l('Karelia')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/komarin.jpg"><%=l('Komarin')%></option>
<option value="http://karellodewijk.github.io/maps/krarkov.jpg"><%=l('Kharkov')%></option>
<option value="http://karellodewijk.github.io/maps/kharkov_attac_defence.jpg"><%=l('Kharkov')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/lakeville.jpg"><%=l('Lakeville')%></option>
<option value="http://karellodewijk.github.io/maps/lakeville_attac_defence.jpg"><%=l('Lakeville')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/lakeville_encounter.jpg"><%=l('Lakeville')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/live_oaks.jpg"><%=l('Live Oaks')%></option>
<option value="http://karellodewijk.github.io/maps/malinovka.jpg"><%=l('Malinovka')%></option>
<option value="http://karellodewijk.github.io/maps/malinovka_assault.jpg"><%=l('Malinovka')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/malinovka_encounter.jpg"><%=l('Malinovka')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/mines.jpg"><%=l('Mines')%></option>
<option value="http://karellodewijk.github.io/maps/mines_attac_defence.jpg"><%=l('Mines')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/mines_encounter.jpg"><%=l('Mines')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/mittengard.jpg"><%=l('Mittengard')%></option>
<option value="http://karellodewijk.github.io/maps/mountain_pass.jpg"><%=l('Mountain pass')%></option>
<option value="http://karellodewijk.github.io/maps/moon_pool.jpg"><%=l('Moon pool')%></option>
<option value="http://karellodewijk.github.io/maps/murovanka.jpg"><%=l('Murovanka')%></option>
<option value="http://karellodewijk.github.io/maps/murovanka_attac_defence.jpg"><%=l('Murovanka')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/murovanka_encounter.jpg"><%=l('Murovanka')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/northwest.jpg"><%=l('Northwest')%></option>
<option value="http://karellodewijk.github.io/maps/overlord.jpg"><%=l('Overlord')%></option>
<option value="http://karellodewijk.github.io/maps/pearl_river.jpg"><%=l('Pearl River')%></option>
<option value="http://karellodewijk.github.io/maps/pacific_Island.jpg"><%=l('Pacific island')%></option>
<option value="http://karellodewijk.github.io/maps/phrokorovka.jpg"><%=l('Phrokorovka')%></option>
<option value="http://karellodewijk.github.io/maps/phrokorovka_attac_defence.jpg"><%=l('Phrokorovka')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/phrokorovka_encounter.jpg"><%=l('Phrokorovka')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/pilsen.jpg"><%=l('Pilsen')%></option>
<option value="http://karellodewijk.github.io/maps/port.jpg"><%=l('Port')%></option>
<option value="http://karellodewijk.github.io/maps/province.jpg"><%=l('Province')%></option>
<option value="http://karellodewijk.github.io/maps/redshire.jpg"><%=l('Redshire')%></option>
<option value="http://karellodewijk.github.io/maps/redshire_encounter.jpg"><%=l('Redshire')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/ruinberg.jpg"><%=l('Ruinberg')%></option>
<option value="http://karellodewijk.github.io/maps/ruinberg_attac_defence.jpg"><%=l('Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/ruinberg_on_fire.jpg"><%=l('Ruinberg on fire')%></option>
<option value="http://karellodewijk.github.io/maps/ruinberg_on_fire_encounter.jpg"><%=l('Ruinberg on fire')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/sacred_valley.jpg"><%=l('Sacred Valley')%></option>
<option value="http://karellodewijk.github.io/maps/sacred_valley_encounter.jpg"><%=l('Sacred Valley')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/sand_river.jpg"><%=l('Sand River')%></option>
<option value="http://karellodewijk.github.io/maps/sand_river_assault.jpg"><%=l('Sand River')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/sand_river_attac_defence.jpg"><%=l('Sand River')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/sand_river_encounter.jpg"><%=l('Sand River')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/serene_coast.jpg"><%=l('Serene Coast')%></option>
<option value="http://karellodewijk.github.io/maps/severogorsk.jpg"><%=l('Severogorsk')%></option>
<option value="http://karellodewijk.github.io/maps/severogorsk_assault.jpg"><%=l('Severogorsk')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/siegfried_line.jpg"><%=l('Siegfried Line')%></option>
<option value="http://karellodewijk.github.io/maps/siegfried_line_assault.jpg"><%=l('Siegfried Line')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/siegfried_line_attac_defence.jpg"><%=l('Siegfried Line')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/siegfried_line_encounter.jpg"><%=l('Siegfried Line')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/south_coast.jpg"><%=l('South Coast')%></option>
<option value="http://karellodewijk.github.io/maps/stalingrad.jpg"><%=l('Stalingrad')%></option>
<option value="http://karellodewijk.github.io/maps/steppes.jpg"><%=l('Steppes')%></option>
<option value="http://karellodewijk.github.io/maps/steppes_attac_defence.jpg"><%=l('Steppes')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/steppes_encounter.jpg"><%=l('Steppes')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/swamp.jpg"><%=l('Swamp')%></option>
<option value="http://karellodewijk.github.io/maps/tundra.jpg"><%=l('Tundra')%></option>
<option value="http://karellodewijk.github.io/maps/tundra_assault.jpg"><%=l('Tundra')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/tundra_attac_defence.jpg"><%=l('Tundra')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/tundra_encounter.jpg"><%=l('Tundra')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/westfield.jpg"><%=l('Westfield')%></option>
<option value="http://karellodewijk.github.io/maps/westfield_assault.jpg"><%=l('Westfield')%> (<%=l('Assault')%>)</option>
<option value="http://karellodewijk.github.io/maps/widepark.jpg"><%=l('Widepark')%></option>
<option value="http://karellodewijk.github.io/maps/windstorm.jpg"><%=l('Windstorm')%></option>
<option value="http://karellodewijk.github.io/maps/winter_himmelsdorf.jpg"><%=l('Winter Himmelsdorf')%></option>
<option value="http://karellodewijk.github.io/maps/winter_himmelsdorf_attac_defence.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option value="http://karellodewijk.github.io/maps/winter_himmelsdorf_encounter.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option value="http://karellodewijk.github.io/maps/winter_ruinberg_attac_defence.jpg"><%=l('Winter Ruinberg')%> (<%=l('Attack/Defence')%>)</option>