<option value=""> </option>
<option data-mapid='01_karelia_ctf' data-size='1000x1000' value='<%=static_host%>/maps/karelia.jpg'><%=l('Karelia')%></option>
<option data-mapid='01_karelia_assault' data-size='1000x1000' value='<%=static_host%>/maps/karelia_assault.jpg'><%=l('Karelia')%> (<%=l('Assault')%>)</option>
<option data-mapid='02_malinovka_ctf' data-size='1000x1000' value='<%=static_host%>/maps/malinovka.jpg'><%=l('Malinovka')%></option>
<option data-mapid='02_malinovka_domination' data-size='1000x1000' value='<%=static_host%>/maps/malinovka_encounter.jpg'><%=l('Malinovka')%> (<%=l('Encounter')%>)</option>
<option data-mapid='04_himmelsdorf_ctf' data-size='700x700' value='<%=static_host%>/maps/himmelsdorf.jpg'><%=l('Himmelsdorf')%></option>
<option data-mapid='04_himmelsdorf_domination' data-size='700x700' value='<%=static_host%>/maps/himmelsdorf_encounter.jpg'><%=l('Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-mapid='04_himmelsdorf_assault2' data-size='700x700' value='<%=static_host%>/maps/himmelsdorf_attack_defence.jpg'><%=l('Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='05_prohorovka_ctf' data-size='1000x1000' value='<%=static_host%>/maps/phrokorovka.jpg'><%=l('Phrokorovka')%></option>
<option data-mapid='05_prohorovka_domination' data-size='1000x1000' value='<%=static_host%>/maps/phrokorovka_encounter.jpg'><%=l('Phrokorovka')%> (<%=l('Encounter')%>)</option>
<option data-mapid='05_prohorovka_assault2' data-size='1000x1000' value='<%=static_host%>/maps/phrokorovka_attac_defence.jpg'><%=l('Phrokorovka')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='07_lakeville_ctf' data-size='800x800' value='<%=static_host%>/maps/lakeville.jpg'><%=l('Lakeville')%></option>
<option data-mapid='07_lakeville_domination' data-size='800x800' value='<%=static_host%>/maps/lakeville_encounter.jpg'><%=l('Lakeville')%> (<%=l('Encounter')%>)</option>
<option data-mapid='07_lakeville_assault2' data-size='800x800' value='<%=static_host%>/maps/lakeville_attac_defence.jpg'><%=l('Lakeville')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='06_ensk_ctf' data-size='600x600' value='<%=static_host%>/maps/ensk.jpg'><%=l('Ensk')%></option>
<option data-mapid='06_ensk_domination' data-size='600x600' value='<%=static_host%>/maps/ensk_encounter.jpg'><%=l('Ensk')%> (<%=l('Encounter')%>)</option>
<option data-mapid='11_murovanka_ctf' data-size='1000x1000' value='<%=static_host%>/maps/murovanka.jpg'><%=l('Murovanka')%></option>
<option data-mapid='11_murovanka_domination' data-size='1000x1000' value='<%=static_host%>/maps/murovanka_encounter.jpg'><%=l('Murovanka')%> (<%=l('Encounter')%>)</option>
<option data-mapid='11_murovanka_assault2' data-size='1000x1000' value='<%=static_host%>/maps/murovanka_attac_defence.jpg'><%=l('Murovanka')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='13_erlenberg_ctf' data-size='1000x1000' value='<%=static_host%>/maps/erlenberg.jpg'><%=l('Erlenberg')%></option>
<option data-mapid='13_erlenberg_domination' data-size='1000x1000' value='<%=static_host%>/maps/erlenberg_encounter.jpg'><%=l('Erlenberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid='13_erlenberg_assault' data-size='1000x1000' value='<%=static_host%>/maps/erlenberg_assault.jpg'><%=l('Erlenberg')%> (<%=l('Assault')%>)</option>
<option data-mapid='10_hills_ctf' data-size='800x800' value='<%=static_host%>/maps/mines.jpg'><%=l('Mines')%></option>
<option data-mapid='10_hills_domination' data-size='800x800' value='<%=static_host%>/maps/mines_encounter.jpg'><%=l('Mines')%> (<%=l('Encounter')%>)</option>
<option data-mapid='10_hills_assault2' data-size='800x800' value='<%=static_host%>/maps/mines_attac_defence.jpg'><%=l('Mines')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='18_cliff_ctf' data-size='1000x1000' value='<%=static_host%>/maps/cliffs.jpg'><%=l('Cliff')%></option>
<option data-mapid='18_cliff_assault2' data-size='1000x1000' value='<%=static_host%>/maps/cliff_attac_defence.jpg'><%=l('Cliff')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='19_monastery_ctf' data-size='1000x1000' value='<%=static_host%>/maps/abbey.jpg'><%=l('Abbey')%></option>
<option data-mapid='28_desert_ctf' data-size='1000x1000' value='<%=static_host%>/maps/sand_river.jpg'><%=l('Sand River')%></option>
<option data-mapid='28_desert_domination' data-size='1000x1000' value='<%=static_host%>/maps/sand_river_encounter.jpg'><%=l('Sand River')%> (<%=l('Encounter')%>)</option>
<option data-mapid='28_desert_assault2' data-size='1000x1000' value='<%=static_host%>/maps/sand_river_attac_defence.jpg'><%=l('Sand River')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='35_steppes_ctf' data-size='1000x1000' value='<%=static_host%>/maps/steppes.jpg'><%=l('Steppes')%></option>
<option data-mapid='35_steppes_domination' data-size='1000x1000' value='<%=static_host%>/maps/steppes_encounter.jpg'><%=l('Steppes')%> (<%=l('Encounter')%>)</option>
<option data-mapid='35_steppes_assault2' data-size='1000x1000' value='<%=static_host%>/maps/steppes_attac_defence.jpg'><%=l('Steppes')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='37_caucasus_ctf' data-size='1000x1000' value='<%=static_host%>/maps/mountain_pass.jpg'><%=l('Mountain pass')%></option>
<option data-mapid='33_fjord_ctf' data-size='1000x1000' value='<%=static_host%>/maps/fjords.jpg'><%=l('Fjords')%></option>
<option data-mapid='34_redshire_ctf' data-size='1000x1000' value='<%=static_host%>/maps/redshire.jpg'><%=l('Redshire')%></option>
<option data-mapid='34_redshire_domination' data-size='1000x1000' value='<%=static_host%>/maps/redshire_encounter.jpg'><%=l('Redshire')%> (<%=l('Encounter')%>)</option>
<option data-mapid='36_fishing_bay_ctf' data-size='1000x1000' value='<%=static_host%>/maps/fishermans_bay.jpg'><%=l('Fisherman\'s Bay')%></option>
<option data-mapid='38_mannerheim_line_ctf' data-size='1000x1000' value='<%=static_host%>/maps/arctic_region.jpg'><%=l('Arctic Region')%></option>
<option data-mapid='38_mannerheim_line_assault2' data-size='1000x1000' value='<%=static_host%>/maps/arctic_attac_defence.jpg'><%=l('Arctic Region')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='08_ruinberg_ctf' data-size='800x800' value='<%=static_host%>/maps/ruinberg.jpg'><%=l('Ruinberg')%></option>
<option data-mapid='08_ruinberg_domination' data-size='800x800' value='<%=static_host%>/maps/ruinberg_encounter.jpg'><%=l('Ruinberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid='08_ruinberg_assault2' data-size='800x800' value='<%=static_host%>/maps/ruinberg_attac_defence.jpg'><%=l('Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='14_siegfried_line_ctf' data-size='1000x1000' value='<%=static_host%>/maps/siegfried_line.jpg'><%=l('Siegfried Line')%></option>
<option data-mapid='14_siegfried_line_domination' data-size='1000x1000' value='<%=static_host%>/maps/siegfried_line_encounter.jpg'><%=l('Siegfried Line')%> (<%=l('Encounter')%>)</option>
<option data-mapid='14_siegfried_line_assault2' data-size='1000x1000' value='<%=static_host%>/maps/siegfried_line_attac_defence.jpg'><%=l('Siegfried Line')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='14_siegfried_line_assault' data-size='1000x1000' value='<%=static_host%>/maps/siegfried_line_assault.jpg'><%=l('Siegfried Line')%> (<%=l('Assault')%>)</option>
<option data-mapid='22_slough_ctf' data-size='1000x1000' value='<%=static_host%>/maps/swamp.jpg'><%=l('Swamp')%></option>
<option data-mapid='23_westfeld_ctf' data-size='1000x1000' value='<%=static_host%>/maps/westfield.jpg'><%=l('Westfield')%></option>
<option data-mapid='29_el_hallouf_ctf' data-size='1000x1000' value='<%=static_host%>/maps/el_halluf.jpg'><%=l('El Halluf')%></option>
<option data-mapid='29_el_hallouf_domination' data-size='1000x1000' value='<%=static_host%>/maps/el_halluf_encounter.jpg'><%=l('El Halluf')%> (<%=l('Encounter')%>)</option>
<option data-mapid='31_airfield_ctf' data-size='1000x1000' value='<%=static_host%>/maps/airfield.jpg'><%=l('Airfield')%></option>
<option data-mapid='17_munchen_ctf' data-size='600x600' value='<%=static_host%>/maps/widepark.jpg'><%=l('Widepark')%></option>
<option data-mapid='44_north_america_ctf' data-size='1000x1000' value='<%=static_host%>/maps/live_oaks.jpg'><%=l('Live Oaks')%></option>
<option data-mapid='45_north_america_ctf' data-size='1000x1000' value='<%=static_host%>/maps/highway.jpg'><%=l('Highway')%></option>
<option data-mapid='47_canada_a_ctf' data-size='1000x1000' value='<%=static_host%>/maps/serene_coast.jpg'><%=l('Serene Coast')%></option>
<option data-mapid='73_asia_korea_ctf' data-size='1000x1000' value='<%=static_host%>/maps/sacred_valley.jpg'><%=l('Sacred Valley')%></option>
<option data-mapid='63_tundra_ctf' data-size='800x800' value='<%=static_host%>/maps/tundra.jpg'><%=l('Tundra')%></option>
<option data-mapid='63_tundra_assault2' data-size='800x800' value='<%=static_host%>/maps/tundra_attac_defence.jpg'><%=l('Tundra')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='84_winter_ctf' data-size='1000x1000' value='<%=static_host%>/maps/windstorm.jpg'><%=l('Windstorm')%></option>
<option data-mapid='86_himmelsdorf_winter_ctf' data-size='700x700' value='<%=static_host%>/maps/winter_himmelsdorf.jpg'><%=l('Winter Himmelsdorf')%></option>
<option data-mapid='86_himmelsdorf_winter_domination' data-size='700x700' value='<%=static_host%>/maps/winter_himmelsdorf_encounter.jpg'><%=l('Winter Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-mapid='86_himmelsdorf_winter_assault2' data-size='700x700' value='<%=static_host%>/maps/winter_himmelsdorf_attac_defence.jpg'><%=l('Winter Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='83_kharkiv_ctf' data-size='800x800' value='<%=static_host%>/maps/krarkov.jpg'><%=l('Kharkov')%></option>
<option data-mapid='83_kharkiv_assault2' data-size='800x800' value='<%=static_host%>/maps/kharkov_attac_defence.jpg'><%=l('Kharkov')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='96_prohorovka_defense_ctf' data-size='1000x1000' value='<%=static_host%>/maps/fiery_salient.jpg'><%=l('Fiery Salient')%></option>
<option data-mapid='96_prohorovka_defense_domination' data-size='1000x1000' value='<%=static_host%>/maps/fiery_salient_encounter.jpg'><%=l('Fiery Salient')%> (<%=l('Encounter')%>)</option>
<option data-mapid='92_stalingrad_ctf' data-size='950x950' value='<%=static_host%>/maps/stalingrad.jpg'><%=l('Stalingrad')%></option>
<option data-mapid='100_thepit_ctf' data-size='600x600' value='<%=static_host%>/maps/mittengard.jpg'><%=l('Mittengard')%></option>
<option data-mapid='95_lost_city_ctf' data-size='800x800' value='<%=static_host%>/maps/ghost_town.jpg'><%=l('Ghost Town')%></option>
<option data-mapid='95_lost_city_assault2' data-size='800x800' value='<%=static_host%>/maps/ghost_town_attack_defence.jpg'><%=l('Ghost Town')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='103_ruinberg_winter_ctf' data-size='800x800' value='<%=static_host%>/maps/winter_ruinberg.jpg'><%=l('Winter Ruinberg')%></option>
<option data-mapid='103_ruinberg_winter_domination' data-size='800x800' value='<%=static_host%>/maps/winter_ruinberg_encounter.jpg'><%=l('Winter Ruinberg')%> (<%=l('Encounter')%>)</option>
<option data-mapid='103_ruinberg_winter_assault2' data-size='800x800' value='<%=static_host%>/maps/winter_ruinberg_attac_defence.jpg'><%=l('Winter Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid='101_dday_ctf' data-size='1000x1000' value='<%=static_host%>/maps/overlord.jpg'><%=l('Overlord')%></option>
<option data-mapid='114_czech_ctf' data-size='1000x1000' value='<%=static_host%>/maps/pilsen.jpg'><%=l('Pilsen')%></option>
<option data-mapid='112_eiffel_tower_ctf_ctf' data-size='800x800' value='<%=static_host%>/maps/paris.jpg'><%=l('Paris')%></option>
<option data-mapid='115_sweden_ctf' data-size='1000x1000' value='<%=static_host%>/maps/sweden.jpg'><%=l('Sweden')%></option>
<option data-mapid='115_sweden_ctf' data-size='1000x1000' value='<%=static_host%>/maps/sweden.jpg'><%=l('Sweden')%></option>
<option data-mapid='212_epic_random_valley_ctf' data-size='1400x1400' value='<%=static_host%>/maps/nebelburg.jpg'><%=l('Nebelburg')%></option>
<option data-mapid='217_er_alaska_ctf' data-size='1400x1400' value='<%=static_host%>/maps/alaska.jpg'><%=l('Alaska')%></option>
<option data-mapid='99_poland_ctf' data-size='1000x1000' value='<%=static_host%>/maps/studzianki.jpg'><%=l('Studzianki')%></option>
<option data-mapid='90_minsk_ctf' data-size='1000x1000' value='<%=static_host%>/maps/minsk.jpg'><%=l('Minsk')%></option>
<option data-mapid='212_epic_random_valley_halloween_ctf' data-size='1400x1400' value='<%=static_host%>/maps/nebelburg_halloween.jpg'><%=l('Nebelburg (halloween)')%></option>
<option value="/maps/football.jpg"><%=l('Football')%></option>
<option data-size="1000x1000" value="/maps/moon_pool.jpg"><%=l('Moon pool')%></option>
<option data-size="1000x1000" value="/maps/port.jpg"><%=l('Port')%></option>
<option data-size="1000x1000" value="/maps/pacific_Island.jpg"><%=l('Pacific island')%></option>
<option data-mapid="51_asia_ctf" data-size="1000x1000" value="/maps/dragon_ridge.jpg"><%=l('Dragon Ridge')%></option>
<option data-mapid="53_Japan_ctf" data-size="1000x1000" value="/maps/hidden_village.jpg"><%=l('Hidden Village')%></option>
<option data-mapid="15_komarin_ctf" data-size="1000x1000" value="/maps/komarin.jpg"><%=l('Komarin')%></option>
<option data-mapid="83_kharkiv_ctf" data-size="800x800" value="/maps/krarkov.jpg"><%=l('Kharkov')%></option>
<option data-mapid="83_kharkiv_assault2" data-size="800x800" value="/maps/kharkov_attac_defence.jpg"><%=l('Kharkov')%> (<%=l('Attack/Defence')%>)</option>
<option data-mapid="02_malinovka_assault" data-size="1000x1000" value="/maps/malinovka_assault.jpg"><%=l('Malinovka')%> (<%=l('Assault')%>)</option>
<option data-mapid="43_north_america_ctf" data-size="1000x1000" value="/maps/northwest.jpg"><%=l('Northwest')%></option>
<option data-mapid="60_asia_miao_ctf" data-size="1000x1000" value="/maps/pearl_river.jpg"><%=l('Pearl River')%></option>
<option data-mapid="03_campania_ctf" data-size="1000x1000" value="/maps/province.jpg"><%=l('Province')%></option>
<option data-mapid="87_ruinberg_on_fire_ctf" data-size="800x800" value="/maps/ruinberg_on_fire.jpg"><%=l('Ruinberg on fire')%></option>
<option data-mapid="87_ruinberg_on_fire_domination" data-size="800x800" value="/maps/ruinberg_on_fire_encounter.jpg"><%=l('Ruinberg on fire')%> (<%=l('Encounter')%>)</option>
<option data-mapid="73_asia_korea_domination" data-size="1000x1000" value="/maps/sacred_valley_encounter.jpg"><%=l('Sacred Valley')%> (<%=l('Encounter')%>)</option>
<option data-mapid="28_desert_assault" data-size="1000x1000" value="/maps/sand_river_assault.jpg"><%=l('Sand River')%> (<%=l('Assault')%>)</option>
<option data-mapid="85_winter_ctf" data-size="1000x1000" value="/maps/severogorsk.jpg"><%=l('Severogorsk')%></option>
<option data-mapid="85_winter_assault" data-size="1000x1000" value="/maps/severogorsk_assault.jpg"><%=l('Severogorsk')%> (<%=l('Assault')%>)</option>
<option data-mapid="39_crimea_ctf" data-size="1000x1000" value="/maps/south_coast.jpg"><%=l('South Coast')%></option>
<option data-mapid="63_tundra_assault" data-size="800x800" value="/maps/tundra_assault.jpg"><%=l('Tundra')%> (<%=l('Assault')%>)</option>
<option data-mapid="63_tundra_domination" data-size="800x800" value="/maps/tundra_encounter.jpg"><%=l('Tundra')%> (<%=l('Encounter')%>)</option>
<option data-mapid="23_westfeld_assault" data-size="1000x1000" value="/maps/westfield_assault.jpg"><%=l('Westfield')%> (<%=l('Assault')%>)</option>
