<button id="arty" data-scale="0.8" class="tank_select" data-toggle="tooltip" title="<%=l('Self propelled gun')%>">
	<img src="http://karellodewijk.github.io/icons/arty.png" alt="arty icon"><span>0</span>
</button>
<button id="heavy" class="tank_select" data-toggle="tooltip" title="<%=l('Heavy tank')%>">
	<img src="http://karellodewijk.github.io/icons/heavy.png" alt="heavy icon"><span>0</span>
</button>
<button id="light" class="tank_select" data-toggle="tooltip" title="<%=l('Light tank')%>">
	<img src="http://karellodewijk.github.io/icons/light.png" alt="light icon"><span>0</span>
</button>
<br>
<button id="medium" class="tank_select" data-toggle="tooltip" title="<%=l('Medium tank')%>">
	<img src="http://karellodewijk.github.io/icons/medium.png" alt="medium icon"><span>0</span>
</button>
<button id="td" class="tank_select" data-toggle="tooltip" title="<%=l('Tank destroyer')%>">
	<img src="http://karellodewijk.github.io/icons/td.png" alt="td icon"><span>0</span>
</button> 