<button id="arty" class="tank_select" data-toggle="tooltip" title="<%=l('Self propelled gun')%>">
	<img src="http://karellodewijk.github.io/icons/arty.png"><span>0</span>
</button>
<button id="heavy" class="tank_select" data-toggle="tooltip" title="<%=l('Heavy tank')%>">
	<img src="http://karellodewijk.github.io/icons/heavy.png"><span>0</span>
</button>
<button id="light" class="tank_select" data-toggle="tooltip" title="<%=l('Light tank')%>">
	<img src="http://karellodewijk.github.io/icons/light.png"><span>0</span>
</button>
<br>
<button id="medium" class="tank_select" data-toggle="tooltip" title="<%=l('Medium tank')%>">
	<img src="http://karellodewijk.github.io/icons/medium.png"><span>0</span>
</button>
<button id="td" class="tank_select" data-toggle="tooltip" title="<%=l('Tank destroyer')%>">
	<img src="http://karellodewijk.github.io/icons/td.png"><span>0</span>
</button>