<option value=""> </option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/abbey.jpg"><%=l('Abbey')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/airfield.jpg"><%=l('Airfield')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/arctic_region.jpg"><%=l('Arctic Region')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/arctic_attac_defence.jpg"><%=l('Arctic Region')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/cliffs.jpg"><%=l('Cliffs')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/cliff_attac_defence.jpg"><%=l('Cliffs')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/dragon_ridge.jpg"><%=l('Dragon Ridge')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/el_halluf.jpg"><%=l('El Halluf')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/el_halluf_encounter.jpg"><%=l('El Halluf')%> (<%=l('Encounter')%>)</option>
<option data-size="600x600" value="<%=static_host%>/maps/wotbase_maps/ensk.jpg"><%=l('Ensk')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/ensk_encounter.jpg"><%=l('Ensk')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/erlenberg.jpg"><%=l('Erlenberg')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/erlenberg_assault.jpg"><%=l('Erlenberg')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/erlenberg_encounter.jpg"><%=l('Erlenberg')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/fiery_salient.jpg"><%=l('Fiery Salient')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/fiery_salient_encounter.jpg"><%=l('Fiery Salient')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/fishermans_bay.jpg"><%=l('Fisherman\'s Bay')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ghost_town.jpg"><%=l('Ghost Town')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ghost_town_attack_defence.jpg"><%=l('Ghost Town')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/hidden_village.jpg"><%=l('Hidden Village')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/fjords.jpg"><%=l('Fjords')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/highway.jpg"><%=l('Highway')%></option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/himmelsdorf.jpg"><%=l('Himmelsdorf')%></option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/himmelsdorf_encounter.jpg"><%=l('Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/himmelsdorf_attack_defence.jpg"><%=l('Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/karelia.jpg"><%=l('Karelia')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/karelia_assault.jpg"><%=l('Karelia')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/komarin.jpg"><%=l('Komarin')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/krarkov.jpg"><%=l('Kharkov')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/kharkov_attac_defence.jpg"><%=l('Kharkov')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/lakeville.jpg"><%=l('Lakeville')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/lakeville_attac_defence.jpg"><%=l('Lakeville')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/lakeville_encounter.jpg"><%=l('Lakeville')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/live_oaks.jpg"><%=l('Live Oaks')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/malinovka.jpg"><%=l('Malinovka')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/malinovka_assault.jpg"><%=l('Malinovka')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/malinovka_encounter.jpg"><%=l('Malinovka')%> (<%=l('Encounter')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/mines.jpg"><%=l('Mines')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/mines_attac_defence.jpg"><%=l('Mines')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/mines_encounter.jpg"><%=l('Mines')%> (<%=l('Encounter')%>)</option>
<option data-size="600x600" value="<%=static_host%>/maps/wotbase_maps/mittengard.jpg"><%=l('Mittengard')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/mountain_pass.jpg"><%=l('Mountain pass')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/moon_pool.jpg"><%=l('Moon pool')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/murovanka.jpg"><%=l('Murovanka')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/murovanka_attac_defence.jpg"><%=l('Murovanka')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/murovanka_encounter.jpg"><%=l('Murovanka')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/northwest.jpg"><%=l('Northwest')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/overlord.jpg"><%=l('Overlord')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/pearl_river.jpg"><%=l('Pearl River')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/pacific_Island.jpg"><%=l('Pacific island')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/phrokorovka.jpg"><%=l('Phrokorovka')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/phrokorovka_attac_defence.jpg"><%=l('Phrokorovka')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/phrokorovka_encounter.jpg"><%=l('Phrokorovka')%> (<%=l('Encounter')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/pilsen.jpg"><%=l('Pilsen')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/port.jpg"><%=l('Port')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/province.jpg"><%=l('Province')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/redshire.jpg"><%=l('Redshire')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/redshire_encounter.jpg"><%=l('Redshire')%> (<%=l('Encounter')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ruinberg.jpg"><%=l('Ruinberg')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ruinberg_attac_defence.jpg"><%=l('Ruinberg')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ruinberg_on_fire.jpg"><%=l('Ruinberg on fire')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/ruinberg_on_fire_encounter.jpg"><%=l('Ruinberg on fire')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sacred_valley.jpg"><%=l('Sacred Valley')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sacred_valley_encounter.jpg"><%=l('Sacred Valley')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sand_river.jpg"><%=l('Sand River')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sand_river_assault.jpg"><%=l('Sand River')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sand_river_attac_defence.jpg"><%=l('Sand River')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/sand_river_encounter.jpg"><%=l('Sand River')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/serene_coast.jpg"><%=l('Serene Coast')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/severogorsk.jpg"><%=l('Severogorsk')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/severogorsk_assault.jpg"><%=l('Severogorsk')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/siegfried_line.jpg"><%=l('Siegfried Line')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/siegfried_line_assault.jpg"><%=l('Siegfried Line')%> (<%=l('Assault')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/siegfried_line_attac_defence.jpg"><%=l('Siegfried Line')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/siegfried_line_encounter.jpg"><%=l('Siegfried Line')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/south_coast.jpg"><%=l('South Coast')%></option>
<option data-size="950x950" value="<%=static_host%>/maps/wotbase_maps/stalingrad.jpg"><%=l('Stalingrad')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/steppes.jpg"><%=l('Steppes')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/steppes_attac_defence.jpg"><%=l('Steppes')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/steppes_encounter.jpg"><%=l('Steppes')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/swamp.jpg"><%=l('Swamp')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/tundra.jpg"><%=l('Tundra')%></option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/tundra_assault.jpg"><%=l('Tundra')%> (<%=l('Assault')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/tundra_attac_defence.jpg"><%=l('Tundra')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/tundra_encounter.jpg"><%=l('Tundra')%> (<%=l('Encounter')%>)</option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/westfield.jpg"><%=l('Westfield')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/westfield_assault.jpg"><%=l('Westfield')%> (<%=l('Assault')%>)</option>
<option data-size="600x600" value="<%=static_host%>/maps/wotbase_maps/widepark.jpg"><%=l('Widepark')%></option>
<option data-size="1000x1000" value="<%=static_host%>/maps/wotbase_maps/windstorm.jpg"><%=l('Windstorm')%></option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/winter_himmelsdorf.jpg"><%=l('Winter Himmelsdorf')%></option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/winter_himmelsdorf_attac_defence.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Attack/Defence')%>)</option>
<option data-size="700x700" value="<%=static_host%>/maps/wotbase_maps/winter_himmelsdorf_encounter.jpg"><%=l('Winter Himmelsdorf')%> (<%=l('Encounter')%>)</option>
<option data-size="800x800" value="<%=static_host%>/maps/wotbase_maps/winter_ruinberg_attac_defence.jpg"><%=l('Winter Ruinberg')%> (<%=l('Attack/Defence')%>)</option>