<option value="http://karellodewijk.github.io/maps/wows/Bees_to_Honey.png"><%=l('Bees to honey')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Big_Race.png"><%=l('Big Race')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Fault_Line.jpg"><%=l('Fault Line')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Ice_Islands.jpg"><%=l('Ice Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Islands.png"><%=l('Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/New_Dawn.png"><%=l('New Dawn')%></option>
<option value="http://karellodewijk.github.io/maps/wows/North.png"><%=l('North')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Ocean.png"><%=l('Ocean')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Tutorial.png"><%=l('Tutorial')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Two_Brothers.jpg"><%=l('Two brothers')%></option>
