<option value="http://karellodewijk.github.io/maps/wows/Bees_to_Honey.jpg"><%=l('Bees to honey')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Big_Race.jpg"><%=l('Big Race')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Fault_Line.jpg"><%=l('Fault Line')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Ice_Islands.jpg"><%=l('Ice Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Islands.jpg"><%=l('Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/New_Dawn.jpg"><%=l('New Dawn')%></option>
<option value="http://karellodewijk.github.io/maps/wows/North.jpg"><%=l('North')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Ocean.jpg"><%=l('Ocean')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Passage.jpg"><%=l('Passage')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Solomon_islands.jpg"><%=l('Solomon islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Tutorial.png"><%=l('Tutorial')%></option>
<option value="http://karellodewijk.github.io/maps/wows/Two_Brothers.jpg"><%=l('Two brothers')%></option>
