<button id="bb" class="tank_select" data-toggle="tooltip" title="<%=l('Battleship')%>">
	<img height="20" src="<%=static_host%>/icons/bb.png"><span>0</span>
</button>
<button id="ca" class="tank_select" data-toggle="tooltip" title="<%=l('Cruiser')%>">
	<img height="20" src="<%=static_host%>/icons/ca.png"><span>0</span>
</button>
<button id="cv" class="tank_select" data-toggle="tooltip" title="<%=l('Aircraft Carrier')%>">
	<img height="20" src="<%=static_host%>/icons/cv.png"><span>0</span>
</button>
<button id="dd" class="tank_select" data-toggle="tooltip" title="<%=l('Destroyer')%>">
	<img height="20" src="<%=static_host%>/icons/dd.png"><span>0</span>
</button>
<br>
<button id="fighter" data-scale="1" class="tank_select" data-toggle="tooltip" title="<%=l('Fighter')%>">
	<img height="20" src="<%=static_host%>/icons/fighter.png"><span>0</span>
</button>
<button id="bomber" data-scale="1.5" class="tank_select" data-toggle="tooltip" title="<%=l('Bombers')%>">
	<img height="25" src="<%=static_host%>/icons/bomber.png"><span>0</span>
</button>
<button id="torpedo_bomber" data-scale="1.5" class="tank_select" data-toggle="tooltip" title="<%=l('Torpedo bomber')%>">
	<img height="25" src="<%=static_host%>/icons/torpedo_bomber.png"><span>0</span>
</button>

<p>

<div class='icon_tabs'>
	<ul class="nav nav-tabs" id="bottom_tabs">
	  <li><a class="icon_group" id="extra_icons" data-toggle="tab" href="#extra_tab"><%=l('Extra')%></a></li>
	</ul>
	<div class="tab-content" style="max-height:200px; overflow-y: auto; overflow-x: hidden;">
		<div class="tab-pane" id="extra_tab">
			<div class="row">
				<div id="extra_icons_list" data-path="wot_icon_set4" data-scale="1.5" data-height="30" data-style="wot_icon_set4.css" hidden>
					battle.png
					danger.png
					defend.png
					explosion1.png
					explosion2.png
					focus.png
					spot.png
					warning.png
					finish.png
					map_marker.png
				</div>
				<div id="extra_icons_menu"></div>				
			</div>
		</div>
	</div>
</div>