<option value=""> </option>
<option data-size="36000x36000" value="/maps/wows/ocean.jpg"><%=l("Ocean")%></option>
<option data-size="30000x30000" value="/maps/wows/solomon.jpg"><%=l("Solomon islands")%></option>
<option data-size="42000x42000" value="/maps/wows/archipelago.jpg"><%=l("Archipelago")%></option>
<option data-size="36000x36000" value="/maps/wows/ring.jpg"><%=l("Ring")%></option>
<option data-size="36000x36000" value="/maps/wows/passage.jpg"><%=l("Strait")%></option>
<option data-size="30000x30000" value="/maps/wows/big_race.jpg"><%=l("Big Race")%></option>
<option data-size="36000x36000" value="/maps/wows/new_dawn.jpg"><%=l("New Dawn")%></option>
<option data-size="42000x42000" value="/maps/wows/atlantic.jpg"><%=l("The Atlantic")%></option>
<option data-size="48000x48000" value="/maps/wows/north.jpg"><%=l("North")%></option>
<option data-size="48000x48000" value="/maps/wows/bees_to_honey.jpg"><%=l("Hotspot")%></option>
<option data-size="42000x42000" value="/maps/wows/Fault_Line.jpg"><%=l("Fault Line")%></option>
<option data-size="48000x48000" value="/maps/wows/Ice_Islands.jpg"><%=l("Ice Islands")%></option>
<option data-size="42000x42000" value="/maps/wows/trap.jpg"><%=l("Trap")%></option>
<option data-size="42000x42000" value="/maps/wows/Two_Brothers.jpg"><%=l("Two Brothers")%></option>
<option data-size="48000x48000" value="/maps/wows/terra_del_fuego.jpg"><%=l("Land of Fire")%></option>
<option data-size="42000x42000" value="/maps/wows/shards.jpg"><%=l("Shards")%></option>
<option data-size="48000x48000" value="/maps/wows/sea_of_fortune.jpg"><%=l("Sea of Fortune")%></option>
<option data-size="42000x42000" value="/maps/wows/tears.jpg"><%=l("Tears of the Desert")%></option>
<option data-size="24000x24000" value="/maps/wows/newland.jpg"><%=l("Polar")%></option>
<option data-size="24000x24000" value="/maps/wows/islands.jpg"><%=l("Islands")%></option>
<option data-size="48000x48000" value="/maps/wows/north_winter.jpg"><%=l("Northern Lights")%></option>
<option data-size="48000x48000" value="/maps/wows/ridge.jpg"><%=l("Mountain Range")%></option>
<option data-size="48000x48000" value="/maps/wows/canada.jpg"><%=l("Shatter")%></option>
<option data-size="42000x42000" value="/maps/wows/okinawa.jpg"><%=l("Okinawa")%></option>
<option data-size="42000x42000" value="/maps/wows/trident.jpg"><%=l("Trident")%></option>
<option data-size="42000x42000" value="/maps/wows/neighbours.jpg"><%=l("Neighbors")%></option>
<option data-size="48000x48000" value="/maps/wows/path_warrior.jpg"><%=l("Warrior's Path")%></option>
<option data-size="48000x48000" value="/maps/wows/loop.jpg"><%=l("Loop")%></option>
<option data-size="42000x42000" value="/maps/wows/estuary.jpg"><%=l("Estuary")%></option>
<option data-size="48000x48000" value="/maps/wows/sleeping_giant.jpg"><%=l("Sleeping Giant")%></option>
<option data-size="42000x42000" value="/maps/wows/haven.jpg"><%=l("Haven")%></option>
<option data-size="" value="/maps/wows/van_hellsing.jpg"><%=l("Van Hellsing")%></option>
<option data-size="" value="/maps/wows/halloween_2017.jpg"><%=l("Halloween 2017")%></option>
<option data-size="" value="/maps/wows/halloween_2018.jpg"><%=l("Halloween 2018")%></option>
<option data-size="" value="/maps/wows/tutorial.jpg"><%=l("Tutorial")%></option>
<option data-size="42000x42000" value="/maps/wows/riposte.jpg"><%=l("Riposte")%></option>
<option data-size="" value="/maps/wows/navalbase.jpg"><%=l("Naval Base")%></option>
<option data-size="" value="/maps/wows/naval_station.jpg"><%=l("Naval Station Newport")%></option>
<option data-size="" value="/maps/wows/labyrinth.jpg"><%=l("Labyrinth")%></option>
<option data-size="" value="/maps/wows/dunkirk.jpg"><%=l("Dunkirk")%></option>
<option data-size="" value="/maps/wows/atoll.jpg"><%=l("Atoll")%></option>
<option data-size="" value="/maps/wows/advance.jpg"><%=l("Advance")%></option>
<option data-size="" value="/maps/wows/lepve.jpg"><%=l("LePVE")%></option>
<option data-size="" value="/maps/wows/uss_cl.jpg"><%=l("USS_CL")%></option>
<option data-size="1x1"  value="/maps/wows/jacuzzi.jpg"><%=l('Jacuzzi')%></option>
