<option value=""> </option>
<option data-size="48000x48000" value="/maps/wows/archipelago.jpg"><%=l('Archipelago')%></option>
<option data-size="48000x48000" value="/maps/wows/atlantic.jpg"><%=l('Atlantic')%></option>
<option data-size="48000x48000" value="/maps/wows/bees_to_honey.jpg"><%=l('Hotspots (Bees to honey)')%></option>
<option data-size="30000x30000" value="/maps/wows/big_race.jpg"><%=l('Big Race')%></option>
<option data-size="42000x42000" value="/maps/wows/estuary.jpg"><%=l('Estuary')%></option>
<option data-size="48000x48000" value="/maps/wows/canada.jpg"><%=l('Shatter')%></option>
<option data-size="42000x42000" value="/maps/wows/fault_line.jpg"><%=l('Fault Line')%></option>
<option data-size="42000x42000" value="/maps/wows/haven.jpg"><%=l('Haven')%></option>
<option data-size="48000x48000" value="/maps/wows/ice_islands.jpg"><%=l('Ice Islands')%></option>
<option data-size="24000x24000" value="/maps/wows/islands.jpg"><%=l('Islands')%></option>
<option data-size="1x1"  value="/maps/wows/jacuzzi.jpg"><%=l('Jacuzzi')%></option>
<option data-size="48000x48000" value="/maps/wows/loop.jpg"><%=l('Loop')%></option>
<option data-size="48000x48000" value="/maps/wows/naval_mission.jpg"><%=l('Tears of the Desert')%></option>
<option data-size="42000x42000" value="/maps/wows/neighbours.jpg"><%=l('Neighbours')%></option>
<option data-size="36000x36000" value="/maps/wows/new_dawn.jpg"><%=l('New Dawn')%></option>
<option data-size="24000x24000" value="/maps/wows/newland.jpg"><%=l('New Land')%></option>
<option data-size="48000x48000" value="/maps/wows/north.jpg"><%=l('North')%></option>
<option data-size="48000x48000" value="/maps/wows/north_winter.jpg"><%=l('Northern Lights')%></option>
<option data-size="36000x36000" value="/maps/wows/ocean.jpg"><%=l('Ocean')%></option>
<option data-size="36000x36000" value="/maps/wows/passage.jpg"><%=l('Strait (Passage)')%></option>
<option data-size="48000x48000" value="/maps/wows/prey.jpg"><%=l('Trap')%></option>
<option data-size="48000x48000" value="/maps/wows/ridge.jpg"><%=l('Mountain range')%></option>
<option data-size="36000x36000" value="/maps/wows/ring.jpg"><%=l('Ring')%></option>
<option data-size="48000x48000" value="/maps/wows/sea_of_fortune.jpg"><%=l('Sea of fortune')%></option>
<option data-size="42000x42000" value="/maps/wows/shards.jpg"><%=l('Shards')%></option>
<option data-size="42000x42000" value="/maps/wows/trident.jpg"><%=l('Trident')%></option>
<option data-size="42000x42000" value="/maps/wows/okinawa.jpg"><%=l('Okinawa')%></option>
<option data-size="30000x30000" value="/maps/wows/solomon.jpg"><%=l('Solomon islands')%></option>
<option data-size="48000x48000" value="/maps/wows/terra_del_fuego.jpg"><%=l('Land of Fire')%></option>
<option data-size="48000x48000" value="/maps/wows/path_warrior.jpg"><%=l("Warrior's Path")%></option>
<option value="/maps/wows/tutorial.jpg"><%=l('Tutorial')%></option>
<option data-size="42000x42000" value="/maps/wows/two_brothers.jpg"><%=l('Two brothers')%></option>
