<option value="">&nbsp;</option>
<option value="http://karellodewijk.github.io/maps/wows/atlantic.jpg"><%=l('Atlantic')%></option>
<option value="http://karellodewijk.github.io/maps/wows/bees_to_honey.jpg"><%=l('Bees to honey')%></option>
<option value="http://karellodewijk.github.io/maps/wows/big_race.jpg"><%=l('Big Race')%></option>
<option value="http://karellodewijk.github.io/maps/wows/canada.jpg"><%=l('Shattering')%></option>
<option value="http://karellodewijk.github.io/maps/wows/fault_line.jpg"><%=l('Fault Line')%></option>
<option value="http://karellodewijk.github.io/maps/wows/ice_islands.jpg"><%=l('Ice Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/islands.jpg"><%=l('Islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/jacuzzi.jpg"><%=l('Jacuzzi')%></option>
<option value="http://karellodewijk.github.io/maps/wows/naval_mission.jpg"><%=l('Tears of the Desert')%></option>
<option value="http://karellodewijk.github.io/maps/wows/new_dawn.jpg"><%=l('New Dawn')%></option>
<option value="http://karellodewijk.github.io/maps/wows/north.jpg"><%=l('North')%></option>
<option value="http://karellodewijk.github.io/maps/wows/north_winter.jpg"><%=l('North winter')%></option>
<option value="http://karellodewijk.github.io/maps/wows/ocean.jpg"><%=l('Ocean')%></option>
<option value="http://karellodewijk.github.io/maps/wows/passage.jpg"><%=l('Passage')%></option>
<option value="http://karellodewijk.github.io/maps/wows/prey.jpg"><%=l('Trap')%></option>
<option value="http://karellodewijk.github.io/maps/wows/solomon.jpg"><%=l('Solomon islands')%></option>
<option value="http://karellodewijk.github.io/maps/wows/terra_del_fuego.jpg"><%=l('Land of Fire')%></option>
<option value="http://karellodewijk.github.io/maps/wows/tutorial.jpg"><%=l('Tutorial')%></option>
<option value="http://karellodewijk.github.io/maps/wows/two_brothers.jpg"><%=l('Two brothers')%></option>
